%div{:class => "#{message_class(message)}"}
  .url.hide
    = link_to "read", read_message_path(message), :remote => true,:method => :post,:class => :read
  .info_note
    .left
      = message.message
    .right
      .date
        %lable{:title =>"Creado el"}
          = l message.created_at,:format => :short
  .actions
    .notes_fk
      = link_to "",workorder_path(message.workorder),:class =>"service_s",:title =>"Servicio Realizado" if message.workorder
      = link_to "",budget_path(message.budget),:class=>"budget_s",:title =>"Presupuesto" if message.budget
      = link_to "",message.event,:class=>"event_s",:title =>"Evento" if message.event
      = link_to "",message.vehicle_service_offer,:class=>"event_s",:title =>"Oferta de Servicio" if message.vehicle_service_offer

    -if message.user == current_user
      .action
        = link_to "", message_path(message), :method => :delete,:data => {:confirm => '¿ Esta seguro que desea borrar el Mensaje ?'},:title =>"Eliminar",:remote=> true,:class=>:delete
