.box_bottom
  %h1
    = t ".title"

- for client in @clients
  - is_client = is_client(client)
  .row
    .client
      .left
        %label
          %strong
            - if current_user.company
              = link_to client.full_name, client_path(client),:title=>"Ver"
            - else
              = client.full_name
            %label
              = link_to " : #{client.company.name}", company_path(client.company),:title => t(".see_company") if client.company

        - if is_client
          %label
            = client.email
          %label.phone
            = number_to_phone client.phone

      .actions.right
        .action
          = link_to "",user_messages_path(client),{:title=> t(".see_messages"),:class=>"new_message"}
        #unread_message_nro.action
          = unread_message_nro(client)
    -if current_user.company_id
      - client.vehicles.each_with_index do |vehicle,index|
        .client_vehicle.box_top.left
          .detail.left
            .left.domain_white
              = link_to h(vehicle.domain),vehicle
            %strong
              = vehicle.brand.name
              = vehicle.model.name
              = vehicle.year
= will_paginate @clients