.box_bottom
  %h1 Mensajes

- for client in @clients
  - is_client = is_client(client)
  .row.link
    .client
      .left
        %label
          %strong
            = link_to client.full_name, client_path(client),:title=>"Ver"
          
        - if is_client
          %label
            = client.email
          %label.phone
            = client.phone
      %label.clear.left
        = link_to client.creator.company.name, company_path(client.creator.company) if client.creator

      .actions.right.hide
        .action
          = link_to "",user_messages_path(client),{:title=>"Ver Mensaje",:class=>"new_message"}

    - client.cars.each_with_index do |car,index|  
      .client_car.box_top.left
        .detail.left
          .left.domain_white
            = link_to h(car.domain),car
          %strong
            = car.brand.name
            = car.model.name
            = car.year  
= will_paginate @clients