-# javascript 'messages'

.vertical_menu
  = render "home/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nuevo Cliente", new_client_path      
.contentright_s  
  .box_bottom
    %h1 
      Mensajes para :
      = @user.full_name
  .box_bottom
    .messages
      = render :partial =>'message',:collection => @messages
    %div{:id=>"messages_container_#{@user.id}"}
      = render :partial =>'form_user',:locals => {:user => @user,:element_id => @user.id}
  .clear
    = will_paginate @messages
