-# javascript 'messages'

.vertical_menu
  = render "home/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to t(".new_client"), new_client_path      
.contentright_s  
  .box_bottom
    %h1 
      = "#{t(".messages_for")} :"
      = @user.full_name
  .box_bottom
    %div{:id=>"messages_container_#{@user.id}"}
      = render :partial =>'form_user',:locals => {:user => @user,:element_id => @user.id}
    .messages
      = render :partial =>'message',:collection => @messages
  .clear
    = will_paginate @messages
