%div{:id=>"note-#{note.id}",:class=>"note clear"}
  .left
    = note.message
  -if note.creator_id == current_user.id
    .actions
      .actions
        = link_to "",edit_note_path(note),:class=>"edit",:title =>"Modificar"
      .action
        = link_to "", note_path(note), :confirm => '¿ Esta seguro que desea borrar la Nota ?', :method => :delete,:title =>"Eliminar",:remote=> true,:class=>:delete
  .info_note
    .date
      %lable{:title =>"Creado el"}
        = l note.created_at,:format => :short
    .user
      %label{:title =>"Creado por"}
        =note.creator.full_name
