.vertical_menu 
  = render "home/nu_menu"
.contentright_s
  .box_bottom
    %h1 Enviar instrucciones de confirmación  
  = form_for resource,:as => resource_name, :url => confirmation_path(resource_name) do |f|
    .box_bottom
      %table
        %tr
          %td
            = f.label :email,"Correo Electrónico"
          %td
            = f.text_field :email,:class=>:input_long
    .box_bottom.buttons_container
      = f.submit "Enviar Instrucciones",:class =>"button"
