%h1
  = vineta
  Enviar instrucciones de confirmación
.contentleft
  %h1 Ir a
  = render :partial => "devise/shared/links"
.contentright
  %h1
    Enviar confirmación a:
  = form_for resource,:as => resource_name, :url => confirmation_path(resource_name) do |f|
    %p
      = f.label :email,"Correo Electrónico"
      %br/
      = f.text_field :email,:class=>:input_long
    %p= f.submit "Enviar Instrucciones",:class =>"btn2"
