%p
  %label{ :for => "provider" } 
    Proveedor
  %br
  = f.text_field :provider
%p
  %label{ :for => "cod_provider" }
    Código proveedor
  %br
  = f.text_field :cod_provider

  %p
  %label{ :for => "trademark" }
    Marca
  %br
  = f.text_field :trademark

%p
  %label{ :for => "description"}
    Descripción
  %br
  = f.text_field :description

  %p
  %label{ :for => "details"}
    Detalles
  %br
  = f.text_area :details,:cols => 40, :rows => 10
%p
  %laber{:for => "service_type"}
    Tipo de Servicio
  %br
  = f.collection_select(:service_type_id, current_user.service_types,:id,:name,{:prompt=>"-- Tipo --"},{:class=>'long_select'})  
  
-if current_user.is_super_admin?
  = render "edit_state",:f => f
