#material_requests 
  - if @material_requests.size > 0
    %table#sort_table.comboxtable
      %thead
        %tr
          %th Proovedor
          %th Código del Proveedor
          %th Marca
          %th Descripción
          %th Tipo de Servicio
          %th Estado

      -for mr in @material_requests
        %tr
          %td
            = mr.provider
          %td
            = mr.cod_provider
          %td
            = mr.trademark
          %td
            = mr.description
          %td
            = mr.service_type.name
          %td
            = mr.state
         
           
            
  -else
  =render(:partial=>'shared/message',:locals =>{:msg =>"No hay solicitudes registradas."})
