%p
  %label 
    Proveedor:
    = @material_request.provider
%p
  %label 
    Código:
    = @material_request.cod_provider

%p
  %label
    Marca:
    = @material_request.trademark
    
%p
  %label 
    Descripción:
    = @material_request.description

%p
  %label 
    Detalles:
    = @material_request.details

%p
  %label
    Tipo de Servicio:
    = @material_request.service_type.name

%p
  %label
    Estado:
    = @material_request.state

-if user_signed_in? && current_user.is_super_admin? && !@material_request.message.nil?
  %p
    %label
      Mensaje:
      =@material_request.message
  %p
    %label
      Companía:
      = @material_request.company.name

  %p
    %label
      Cliente:
      =@material_request.user.email

  %p
    %label
      Mensaje:
      =@material_request.message
