#material_requests 
  - if @material_requests.size > 0 
    %table#sort_table.comboxtable
      %thead
        %tr
        -if user_signed_in? && current_user.is_super_admin?
          %th Cliente
        %th Proovedor
        %th Código 
        %th Marca
        %th Tipo de Servicio
        %th Estado
        -if !current_user.is_super_admin?
          %th Mensaje
        %th Descripción
        %th Detalles
        %th M
        %th E

        -if current_user.is_super_admin?
          %th A
          %th R
     
      -for mr in @material_requests
        %tr
        -if current_user.is_super_admin?
          %td
            = link_to h(mr.user.first_name + mr.user.last_name) ,user_path(mr.user_id),:title =>"Ver Cliente"
        %td
          = mr.provider
        %td
          = mr.cod_provider
        %td
          = mr.trademark
        %td
          = mr.service_type.name
        %td
          = mr.state
        -if !current_user.is_super_admin?
          %td 
            = mr.message
        %td
          = mr.description
        %td
          = mr.details
       
        -if mr.state == Status::OPEN  && !current_user.is_super_admin?
          %td
            = link_to image_tag('edit.png',:title =>"Modificar"), edit_material_request_path(mr)
          %td
            = link_to image_tag('delete.png',:title =>"Eliminar"),material_request_path(mr), :confirm => '¿ Esta seguro que desea Eliminar la Solicitud?', :method => :delete

        -if !(mr.is_open?) && current_user.is_super_admin?
          %td
            = link_to image_tag('edit.png',:title =>"Modificar"),edit_material_request_path(mr)
            
        -if mr.is_open? && current_user.is_super_admin?
          %td
            = link_to image_tag('active.png',:title =>"Pendientes de Aprobación"), approved_material_request_path(mr), :confirm => '¿ Esta seguro que desea aprobar la solicitud ?'
          %td
            = link_to image_tag('delete.png',:title =>"Rechazar"), material_request_path(mr), :confirm => '¿ Esta seguro que desea rechazar la Solicitud?', :method => :delete

    


        

         
           
            
  