
= render 'shared/error_messages', :target => @alarm
.box_bottom  
  %table.w
    %tr
      %td{:style=>"width:100px"} Nombre
      %td
        = f.text_field :name
        = f.select :status, Status::ALARMS_STATUS,{},:class => :short_select
    %tr
      %td Descripcion  
      %td
        = f.text_area :description, :cols => 57, :rows => 3                    
    %tr
      %td Fecha y Hora
      %td
        = f.text_field :date_alarm, :default => Time.zone.now,:value => (l(f.object.date_alarm,format: :short) if f.object.date_alarm),:class =>:input_date_time
        = check_box_tag "repit","1",f.object.replay?
        = label_tag "repit","Repetir"
        %strong
          Proxima notificación
        - if f.object.next_time
          = l(f.object.next_time,format: :short)
- css_hide = f.object.replay? ? "" : "hide"
#repit_container.box_bottom{:class=>"#{css_hide}"}
  %table.w
    %tbody
      %tr
        %td{:style=>"width:100px"}
          %label Cada 
        %td{:colspan=>2}
          = f.text_field :time,:class =>:input_short
          = f.select :time_unit, Alarm::TIME_UNIT_TYPES,{},:class => :short_select
      %tr
        %td
          %label Inicio
        %td{:colspan=>2}
          = f.text_field :date_ini, :default => Time.zone.now,:value => (l(f.object.date_ini,format: :short) if f.object.date_ini),:class =>"input_date_time date_range"
          %label Fin
          = f.text_field :date_end, :default => Time.zone.now,:value => (l(f.object.date_end,format: :short) if f.object.date_ini),:class =>"input_date_time date_range"
          = f.check_box :no_end
          =label_tag "alarm_no_end","No Termina"
      %tr
        %td
          %lable.left Dias
        %td{:colspan=>2}
          #days.left
            %ul
              %li 
                = f.check_box :monday,{:class=>"day checkbox"}
                = label_tag :alarm_monday, "Lunes",:class => :link
              %li 
                = f.check_box :tuesday,{:class=>"day checkbox"}
                = label_tag :alarm_tuesday, "Martes",:class => :link
              %li
                = f.check_box :wednesday,{:class=>"day checkbox"}
                = label_tag :alarm_wednesday, "Miercoles",:class => :link
              %li
                = f.check_box :thursday,{:class=>"day checkbox"}
                = label_tag :alarm_thursday, "Jueves",:class => :link
              %li
                = f.check_box :friday,{:class=>"day checkbox"}
                = label_tag :alarm_friday, "Viernes",:class => :link
              %li
                = f.check_box :saturday,{:class=>"day checkbox"}
                = label_tag :alarm_saturday, "Sabado",:class => :link
              %li
                = f.check_box :sunday,{:class=>"day checkbox"}
                = label_tag :alarm_domingo, "Domingo",:class => :link
              %li
                = check_box_tag :all,"1",false,{:class=>"day checkbox"}
                = label_tag :all, "Todos",:class => :link
.buttons_container
  = f.submit "Grabar",:class=>"button"
  = link_to "Cancelar",alarms_path
   

