-# javascript 'service_offer'
.vertical_menu  
  = render "menu"
.contentright_s
  .box_bottom
    %h1 Modificar Alarma
  = form_for @alarm do |f|
    = render :partial => 'form', :locals => {:f => f}
    .buttons_container
      = f.submit "Grabar",:class=>"button"
      = link_to "Cancelar",alarms_path