- form_for(@model) do |f|
  = f.error_messages
  %p
    Marca
    %br
    = collection_select(:model, :brand_id, Brand.find(:all,:order=>'name'), :id, :name, {:prompt => "Seleccione una marca"})
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.submit "Grabar"