= form_for(@model) do |f|
  = render 'shared/error_messages', :target => @model
  %table.w
    %tbody
      %tr
        %td
          Marca
        %td
          = f.select(:brand_id,options_from_collection_for_select(@brands, :id, :name,@model.brand_id), {:prompt => "Seleccione una marca"})
      %tr
        %td
          = f.label :name
        %td
          = f.text_field :name
  .buttons_container
    = f.submit "Grabar",:class =>:button
    = link_to "Cancelar",brands_path