-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
.vertical_menu
  = render "conf/menu"
  = render "actions"
.contentright_s
  .box_bottom.all_models
    %h1 Listado de Modelos
  - for model in @models
    .row
      .left
        = brand_logo model.brand.name,true
      .left
        = link_to h(model.name),model
      .actions
        = link_to image_tag('edit.png'), edit_model_path(model)
        = link_to image_tag('delete.png'), model, :data =>{:confirm => '¿ Esta seguro que desea borrarlo ?'}, :method => :delete
  .clear
    = will_paginate @models
  .buttons_container
    = link_to "Nuevo", new_model_path,:class =>:button