-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
.vertical_menu
  = render "conf/menu"
  = render "actions"
.contentright_s
  .box_bottom
    = render "import"
    .box_bottom
      %h1.left 
        = "Listado de Modelos"
      %h1.right
        = @models_count
    .all_models
      - for model in @models
        .row
          .left
            = brand_logo model.brand.logo_name,true
          .left
            = link_to h(model.name),model
          .actions
            = link_to image_tag('edit.png'), edit_model_path(model)
            = link_to image_tag('delete.png'), model, :data =>{:confirm => '¿ Esta seguro que desea borrarlo ?'}, :method => :delete
      .clear
        = will_paginate @models
      