.vertical_menu
  - if current_user.is_super_admin?
    = render "conf/menu"
  - else
    = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 
      Nuevo Modelo
      \:
      = get_company.name
  = render :partial => "import"
  = render :partial => "model"
