.vertical_menu
  = render "conf/menu"  
.contentright_s
  .box_bottom
    %h1 Modelo
  %p
    %b
      Marca:  
    = brand_logo @model.brand.name,true
  %p
    %b
      Nombre:
    = h @model.name
  %p
    Tipo de vehículo
    %br
    = radio_button_tag :type_of_vehicle, "", @model.of_cars?, disabled: true
    Auto
    %br
    = radio_button_tag :type_of_vehicle, "", @model.of_motorcycles?, disabled: true
    Motocicleta
  .buttons_container
    = link_to "Modificar", edit_model_path(@model),:class =>:button
    = link_to "Cancelar",models_path