.vertical_menu
  - if current_user.is_super_admin?
    = render "conf/menu"
  - else
    = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 Modelo
  %table
    %tbody
      %tr
        %td
          %b
            Marca:
        %td
          = link_to @model.brand.name,@model.brand
      %tr
        %td
          %b
            Nombre:
        %td
          = h @model.name
      %tr
        %td
          %b
            Tipos de vehículos:
        %td
          = check_box_tag "active","1",@model.brand.of_cars,:disabled => true
          Autos
          %br
          = check_box_tag "active","1",@model.brand.of_motorcycles,:disabled => true
          Motocicletas