#employees 
  - if @employees.size > 0
    %table#sort_table.comboxtable
      %thead
        %tr
          %th Nombre
          %th Apellido
          -if company_id.size > 1
            %th Sucursal
          %th Email
          %th
      - for emp in @employees
        - if emp != current_user
          %tr
            %td
              = emp.first_name
            %td
              = emp.last_name
            -if company_id.size > 1
              %td
                = emp.company.name
            %td
              = link_to h(emp.email),employee_path(emp),:title =>"Ver empleado"
            %td
              = link_to image_tag('edit.png',:title =>"Modificar"),edit_employee_path(emp)
              - if emp.disable?
                = link_to image_tag('active.png',:title =>"Activar"), activate_employee_path(emp), :confirm => '¿ Esta seguro que desea activar al empleado ?'
              -else
                = link_to image_tag('delete.png',:title =>"Eliminar"), employee_path(emp), :confirm => '¿ Esta seguro que desea borrar al empleado ?', :method => :delete
  -else
    =render(:partial=>'shared/message',:locals =>{:msg =>"No hay empleados registrados."})