= render 'shared/error_messages', :target => @employee
%table
  %tbody
    %tr
      %td
        %label{ :for => "login" }Nombre
      %td
        = f.text_field :first_name
    %tr
      %td
        %label{ :for => "login" }Apellido
      %td
        = f.text_field :last_name
    %tr
      %td
        %label{ :for => "email" }Email *
      %td
        = f.text_field :email
    %tr
      %td Tipo de Empleado
      %td
        - for role in Role.all :conditions =>["id >= ?",1] 
          #div
            = check_box_tag "user[role_ids][]",role.id,f.object.roles.include?(role),:class =>:checkbox,:id=> role.id
            = label_tag role.id,role.detail,:class => "link"
    %tr
      %td
        %label{ :for => "password" }Clave *
      %td
        = f.password_field :password
    %tr
      %td    
        Confirmar Clave *
      %td
        = f.password_field :password_confirmation            
