%p
  %label 
    Nombre:
    = @user.first_name
%p
  %label 
    Apellido:
    = @user.last_name
%p
  %label 
    Teléfono:
    = @user.phone
%p
  %label 
    Email:
    = @user.email
%p
  %label Roles:
  - for role in @user.roles
    = role.detail 
