.vertical_menu
  = render "admin/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nuevo Empleado", new_employee_path

.contentright_s
  #user_company_address
    .box_bottom
      %h1 Modificar Empleado
    = form_for  @employee, :url => employee_path(@employee)  do |f|        
      .box_bottom
        = render 'form',:f => f
      .buttons_container.box_bottom
        = f.submit "Actualizar",:class =>"button"
        = link_to "Cancelar",employees_path