#employees
  %h1 Empleados
  .contentleft
    = render "search"
  .contentright  
    %h1 Listado de Empleados
    - if @employees.size > 0
      %table#sort_table.comboxtable
        %thead
          %tr
            %th Nombre
            %th Apellido
            %th Email
            %th
        - for emp in @employees
          - if emp != current_user
            %tr
              %td
                = emp.first_name
              %td
                = emp.last_name
              %td
                = link_to h(emp.email),employee_path(emp),:title =>"Ver empleado"
              %td
                = link_to image_tag('edit.png'),edit_employee_path(emp),:title =>"Modificar Empleado"   
                = link_to image_tag('delete.png',:title =>"Eliminar Empleado"), employee_path(emp), :confirm => '¿ Esta seguro que desea borrar al empleado ?', :method => :delete,:title =>"Borrar empleado"
    -else
      =render(:partial=>'shared/message',:locals =>{:msg =>"No hay empleados registrados."})
    %br         
      = link_to image_tag('new.png'), new_employee_path,:title =>"Crear nuevo empleado"
