%tr
  %td
    = t(item.material_service_type.service_type.name)
  %td
    = "[#{item.material_service_type.material.prov_code}]"
    = item.material_service_type.material.name
  %td    
    = item.code
