-# javascript 'accounts'
-# resource.build_address if resource.address.nil?
-# resource.vehicles.build if resource.vehicles.empty?
%h2 Nuevo Usuario
= form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|
  = render :partial => 'users/edit',:locals  =>{:f => f}
  %h2 Dirección
  -f.fields_for :address do |a|
    = render :partial =>'users/user_address_fields', :locals  =>{:f => a}
  %p= f.submit "Actualizar"
%br
%h2 Cancelar mi cuenta
%p
  Insatisfecho ? #{link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "Esta Uds. seguro?", :method => :delete}.
= render :partial => "devise/shared/links"