.vertical_menu
  = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1= Status.model_name.human(:count => 2)
  - if @custom_statuses.any?
    %table.comboxtable
      %thead
        %tr
          %th= Status.human_attribute_name(:name)
          %th
      - @custom_statuses.each do |cs|
        %tr
          %td= cs.name
          %td
            = link_to image_tag('edit.png'), edit_status_path(cs)
            = link_to image_tag('delete.png'), cs, :confirm => t('.confirm_delete'), :method => :delete
  - else
    = t('.statuses_not_found')

