.vertical_menu
  = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1= t('.new_status')
    
  = form_for @status do |f|
    = render 'shared/error_messages', :target => @status
    = render :partial => 'form', :locals => {:f => f}