.c
  #cont1
    %h1=t(".message")
  #login_c
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|      
      .left
        %table.login
          %tr
            %td            
              %h2=t(".login")
            %td
              = f.text_field :email, {:class =>"textarea",:placeholder=>t(".email")}              
            %td
              = f.password_field :password, {:class =>"textarea",:placeholder=>t(".password"),:size =>25}                        
            %td
              %input.send{:name => "send", :type => "submit", :value =>t(".log_in"),:class=>"button"}        
          - if devise_mapping.rememberable?
            %tr
              %td
              %td                  
                %h2
                  = f.check_box :remember_me,:class=>"checkbox"
                  = f.label :remember_me
      .login_links
        = render "devise/shared/links"
  = render "home/what_is_combo"