%p
  %label{ :for => "name" }
  = t(".name")
  %br
  = f.text_field :name
%p
  %label{ :for => "kms" }
  = t(".km")
  %br
  = f.text_field :kms
%p
  %label{ :for => "days" }
  = t(".days")
  %br
  = f.text_field :days
%p
  %label{ :for => "parent_id" }
  = t(".belongs_to")
  %br
  = f.collection_select :parent_id, ServiceType.find(:all), :id, :name, { :include_blank => true }, :style => "width: 200px;"
%p
  %label{ :for => "active" }
  = t(".status")
  %br
  = f.check_box :active
