%table
  %tr
    %td      
      = t(".service_center")
    %td
      %strong
        = current_user.company_active.name
  %tr
    %td
      = t(".name")
    %td  
      = f.text_field :name
  %tr
    %td
      = t(".kms")
    %td
      = f.text_field :kms
  %tr
    %td
      = t(".days")
    %td
      = f.text_field :days
  %tr
    %td  
      %label{ :for => "active" }
      = t(".active")
    %td
      = f.check_box :active
