.box_bottom 
  %h1 Materiales
%table.comboxtable
  %thead
    %tr
      %th{:style=>"width:15%"}
        Código Prov.
      %th{:style=>"width:15%"}
        Código
      %th{:style=>"width:25%"}
        Nombre
      %th{:style=>"width:25%"}
        Marca
      %th{:style=>"width:10%"}
        Proveedor
      %th{:style=>"width:7%"}
  %tbody
  -@materials.each do |material|
    %tr
      %td
        = material.prov_code
      %td
        = link_to material.code, material
      %td
        = h material.name
      %td
        = material.brand
      %td
        = material.provider
      %td
        = link_to image_tag("edit.png"),edit_material_path(material)
        = link_to image_tag("delete.png"),remove_material_service_type_path(material,@service_type), :data => {:confirm => "¿ Esta seguro que desea borrar el material de #{@service_type.name} ?"}, :method => :delete
= will_paginate @materials