%div.box_bottom
  %h3 Buscar
  = form_tag @service_type, :method => :get do
    %table
      %tbody
        %tr
          %td
            = text_field_tag 'brand', "", placeholder: "Marca",:class =>"input"
        %tr
          %td
            = text_field_tag 'provider', "", placeholder: "Proveedor",:class =>"input"
        %tr
          %td
            = text_field_tag 'code', "", placeholder: "Código",:class =>"input"
        %tr  
          %td
            = text_field_tag 'name', "",placeholder: "Nombre",:class =>"input"
            .ajax_loader.right
        %tr
          %td
            = image_submit_tag("find.png",:class =>"input_img")
