= form_for @service_type,:url => add_task_service_type_path,:remote => true,:html =>{:id => :task_form} do |f|
  %label 
    = t :add_task
  = f.select 'tasks', @tasks.collect {|t| [t.name, t.id]},{:include_blank => true}    
  .hide
    = submit_tag 'Agregar'

- if @service_type.tasks.size > 0
  %table.comboxtable
    %thead
      %tr
        %th Name
        %th Descripcion
        %th
    - for task in @service_type.tasks
      %tr{:id=>"task_#{task.id}"}
        %td
          = task.name
        %td
          = task.description
        %td
          = link_to "", remove_task_service_type_path(@service_type,t: task), :confirm => '¿ Esta seguro que desea borrarlo ?',:remote =>true, :method => :delete,:title =>"Eliminar",:class=>"delete"
          
