.vertical_menu
  = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1
      = t(".update")
  = form_for @service_type do |f|    
    = render :partial=>'form',:locals => {f: f}
    .buttons_container    
      = submit_tag t(".save"),:class=>"button" 
      = link_to t(".cancel"),service_types_path