- javascript 'jquery.dataTables'
- javascript 'sort.table'
- stylesheets 'demo_page'
- stylesheets 'demo_table'
%h1 Listado Tipo de Servicio
%table{:id=>'sort_table',:class=>'display'}
  %thead
    %tr
      %th Nombre
      %th Pertenece a
      %th Kms
      %th
  - for service_type in @service_types    
    %tr
      %td
        = link_to service_type.name,service_type              
      %td 
        -if service_type.parent   
          = service_type.parent.name
      %td
        = service_type.kms
      %td
        = link_to image_tag("edit.png"), edit_service_type_path(service_type)
        - unless is_assigned service_type
          = link_to image_tag("delete.gif"), service_type,:confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete
%br
= link_to image_tag('new.png'), new_service_type_path
= link_to image_tag('return.png'),conf_path

