.vertical_menu
  = render "admin/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Modificar", edit_service_type_path(@service_type)
  = render "search"
.contentright_s
  .box_bottom
    %h1 Tipo de Servicio
  .box_bottom
    %table
      %tr
        %td
          Empresa:
        %td
          %strong
            = @service_type.company.name
      %tr
        %td.label_title Nombre:
        %td
          =@service_type.name
      %tr
        %td.label_title Kms:
        %td
          = @service_type.kms
      %tr
        %td.label_title Activo:
        %td          
          = @service_type.active
          = check_box_tag "active","1", (@service_type.active == "1"  ? true : false),:disabled => true
  //#tasks
  //  .box_bottom
  //    %h1 Tareas
  //  = render :partial => 'tasks', :locals => { :tasks => @tasks, :service_type => @service_type }
  #service_type_materials    
    = render :partial =>"material",:locals => {:materials => @materials}
  .buttons_container
    = link_to "Cancelar", service_types_path 