.vertical_menu
  = render "conf/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Modificar", edit_service_type_path(@service_type)
  = render "search"
.contentright_s
  .box_bottom
    %h1 Tipo de Servicio
  .box_bottom
    %table
      %tr
        %td.label_title Nombre
        %td
          =@service_type.native_name
      %tr
        %td.label_title Kms
        %td
          = @service_type.kms
      - if @service_type.parent
        %tr
          %td.label_title Pertence a
          %td
            = @service_type.parent.name
      %tr
        %td.label_title Activo
        %td
          = check_box_tag "active","1", @service_type.active,:disabled => true  
  #tasks
    .box_bottom
      %h1 Tareas
    = render :partial => 'tasks', :locals => { :tasks => @tasks, :service_type => @service_type }
  #service_type_materials    
    = render :partial =>"material",:locals => {:materials => @materials}
   