- @offer.car_service_offer.each do |c_s_o|
  =hidden_field_tag 'car_ids[]', c_s_o.car.id
= f.hidden_field :service_type_id
%h1
  = @title
  = "[#{@offer.service_type.name}]"

%table.comboxform
  %tr
    %td.current.header
      Titulo
    %td{:colspan=>3}
      = f.text_field :title,:class =>"input_long"
  %tr
    %td.current.header
      Precio
    %td
      = f.text_field :price, :size=>4,:class =>:price
    %td.current.header
      Descuento %
    %td
      = f.text_field :percent, :size=>4,:class =>:price
  %tr
    %td.current.header
      Precio Final
    %td      
      = f.text_field :final_price, :size=>4,:class =>:price
    %td.current.header
      Estado
    %td
      = f.select(:status,ServiceOffersController::STATUS,{:selected =>f.object.status},{:class=>'status'})
  %tr
    %td.current.header
      Desde
    %td
      = f.text_field :from ,:size =>10,:class =>:date
    %td.current.header
      Hasta
    %td
      = f.text_field :until,:size=>10,:class =>:date
  %tr
    %td.current.header
      Dias
    %td
      %ul
        %li 
          = f.check_box :monday,{:class=>"day checkbox"}
          = label_tag :service_offer_monday, "Lunes",:class => :link
        %li 
          = f.check_box :tuesday,{:class=>"day checkbox"}
          = label_tag :service_offer_tuesday, "Martes",:class => :link
        %li
          = f.check_box :wednesday,{:class=>"day checkbox"}
          = label_tag :service_offer_wednesday, "Miercoles",:class => :link
    %td
      %ul
        %li
          = f.check_box :thursday,{:class=>"day checkbox"}
          = label_tag :service_offer_thursday, "Jueves",:class => :link
        %li
          = f.check_box :friday,{:class=>"day checkbox"}
          = label_tag :service_offer_friday, "Viernes",:class => :link
        %li
          = f.check_box :saturday,{:class=>"day checkbox"}
          = label_tag :service_offer_saturday, "Sabado",:class => :link
    %td
      %ul
        %li
          = f.check_box :sunday,{:class=>"day checkbox"}
          = label_tag :service_offer_domingo, "Domingo",:class => :link
        %li
          = check_box_tag :todos,"1",false,{:class=>"day checkbox"}
          = label_tag :todos, "Todos",:class => :link
  %tr
    %td.current.header
      Comentario
    %td{:colspan=>3}
      = f.text_area :comment, :cols => 50, :rows => 3
= f.submit 'Grabar',:class=>"btn"
= link_to_back

