:javascript  
  window.services_types = #{ServiceType.to_builder(current_user.service_types)};
  window.service_offer = #{@offer.to_builder};  
  window.weeks = #{Advertisement.weeks_to_json};
#service_offer_app{"ng-app" => "service_offer_app"}
  %div{"ng-controller"=>"serviceOfferCtrl"}
    = form_for @offer do |f|    
      - @offer.car_service_offers.each do |c_s_o|
        =hidden_field_tag 'car_ids[]', c_s_o.car.id
      - if f.object.service_request_id
        = f.hidden_field :service_request_id 

      = render 'shared/error_messages',:target => @offer
      %h3
        = t(".service_types")
        %select.service_types.big_select{:type  => "text","ng-model" =>"item.service_type","ng-options" => "value.name for value in services_types","ng-change" =>"add_service_type(item)"}
      .box_bottom
        %table.w
          %tr
            %td{:colspan =>"4"}
              %div.offer_service_type_row{"ng-repeat" =>"offer_service_type in service_offer.offer_service_types","ng-show" =>"offer_service_type.show"}
                .hide
                  %input.input_short{:type => "text","ng-model" =>"offer_service_type.id",:placeholder =>"id",:name =>"service_offer[offer_service_types_attributes][{{$index}}][id]"}
                  %input.input_short{:type => "text","ng-model" =>"offer_service_type.service_type_id",:placeholder =>"id",:name =>"service_offer[offer_service_types_attributes][{{$index}}][service_type_id]"}
                  %input.input_short{:type => "text","ng-model" => "offer_service_type.destroy",:placeholder => "destroy", :name => "service_offer[offer_service_types_attributes][{{$index}}][_destroy]"}
                .offer_service_type
                  %label
                    {{offer_service_type.name}}
                  .action
                    .link.remove_item_service_requests.delete{:href => "#", :title => "Borrar servicio","ng-click" =>"destroy(offer_service_type)"}
      %h3
        = t(".information")
      .box_bottom
        %table.w
          %tr
            %td 
              = ServiceOffer.human_attribute_name(:title)
            %td
              = f.text_field :title,:class =>"input_long"
            %td
              = ServiceOffer.human_attribute_name(:status)
            %td        
              = f.select(:status,Status::SO_STATUS.collect{|k,v| [v,k]},{:selected =>f.object.status},{:class=>'status',:title=>"Estado"})
          %tr
            %td
              = ServiceOffer.human_attribute_name(:comment)
            %td{:colspan=>3}
              = f.text_area :comment, :cols => 50, :rows => 3      

      %h3= t(".price")
      .box_bottom
        %table.w  
          %tr
            %td
              = ServiceOffer.human_attribute_name(:price)
            %td
              = f.text_field :price, :size=>4,:clahas_addss =>:price, "ng-keyup" => "update_final_price()","ng-model" =>"service_offer.price"
            %td
              = ServiceOffer.human_attribute_name(:discount)
              \%
            %td
              = f.text_field :percent, :size=>4,:class =>:price,"ng-keyup" => "update_final_price()","ng-model" =>"service_offer.percent"
            %td
              = ServiceOffer.human_attribute_name(:final_price)
            %td      
              = f.text_field :final_price, :size=>4,:class =>:price,"ng-keyup" => "update_percent()","ng-model" =>"service_offer.final_price"

      %h3= t(".valid")
      .box_bottom
        %table.w
          %tr
            %td= ServiceOffer.human_attribute_name(:since)
            %td
              = f.text_field :since ,:size =>10,:class =>:date,:value => (l(f.object.since) if f.object.since)
            %td= ServiceOffer.human_attribute_name(:until)
            %td
              = f.text_field :until,:size=>10,:class =>:date,:value => (l(f.object.until) if f.object.until)
          %tr
            %td= t ".days"
            %td
              %ul
                %li 
                  = f.check_box :monday,{:class=>"day checkbox"}
                  = label_tag :service_offer_monday, t("monday"),:class => :link
                %li 
                  = f.check_box :tuesday,{:class=>"day checkbox"}
                  = label_tag :service_offer_tuesday, t("tuesday"),:class => :link
                %li
                  = f.check_box :wednesday,{:class=>"day checkbox"}
                  = label_tag :service_offer_wednesday, t("wednesday"),:class => :link
            %td
              %ul
                %li
                  = f.check_box :thursday,{:class=>"day checkbox"}
                  = label_tag :service_offer_thursday, t("thursday"),:class => :link
                %li
                  = f.check_box :friday,{:class=>"day checkbox"}
                  = label_tag :service_offer_friday,t("friday"),:class => :link
                %lihas_add
                  = f.check_box :saturday,{:class=>"day checkbox"}
                  = label_tag :service_offer_saturday,t("saturday"),:class => :link
            %td
              %ul
                %li
                  = f.check_box :sunday,{:class=>"day checkbox"}
                  = label_tag :service_offer_domingo,t("sunday"),:class => :link
                %li
                  = check_box_tag :todos,"1",false,{:class=>"day checkbox"}
                  = label_tag :todos, t(".all"),:class => :link
      #advertisements_test
        = f.fields_for :advertisement do |ad_form|
          %h3 Advertisement
          .hide
            = ad_form.label :id,:class =>"input_short"
            = ad_form.text_field :id,:class =>"input_short"        
            = ad_form.label :service_offer_id,:class =>"input_short"
            = ad_form.text_field :service_offer_id,:class =>"input_short"
          //%h3 Ad Days
          //= ad_form.fields_for :advertisement_days do |ad_days_form|            
          //  = ad_days_form.label :id
          //  = ad_days_form.text_field :id
          //  %br
          //  = ad_days_form.label :advertisement_id
          //  = ad_days_form.text_field :advertisement_id
          //  %br
          //  = ad_days_form.label :published_on
          //  = ad_days_form.text_field :published_on
      #advertisements_fields.hide
        %h3 Angular Fields
        //.add_days
        //  %lable Ad ID
        //  %input.input_short{"ng-model" => "service_offer.advertisement.id"}
        .add_days{"ng-repeat" =>"ad_day in service_offer.advertisement.advertisement_days"}
          %lable Ad Id
          %input.input_short{:type => "text","ng-model" =>"ad_day.advertisement_id",:placeholder =>"advertisement_id",:name =>"service_offer[advertisement_attributes][advertisement_days_attributes][{{$index}}][advertisement_id]"}
          %br
          %lable Ad Days Id
          %input.input_short{:type => "text","ng-model" =>"ad_day.id",:placeholder =>"id",:name =>"service_offer[advertisement_attributes][advertisement_days_attributes][{{$index}}][id]"}
          %br
          %lable Ad Days Published On
          %input.input_short{:type => "text","ng-model" =>"ad_day.published_on",:placeholder =>"id",:name =>"service_offer[advertisement_attributes][advertisement_days_attributes][{{$index}}][published_on]"}
          %input.input_short{:type => "text","ng-model" => "ad_day.destroy",:placeholder =>"destroy",:name => "service_offer[advertisement_attributes][advertisement_days_attributes][{{$index}}][_destroy]"}
        
      .advertisements  
        %table.calendar
          %thead
            %tr
              %th Domingo
              %th Lunes
              %th Martes
              %th Miercoles
              %th Jueves
              %th Viernes
              %th Sabado
          %tbody              
            %tr{"ng-repeat" =>"week in service_offer.weeks"}                
              %td{"ng-repeat" => "day in week","ng-class" => "{today: day.today,notmonth: day.notmonth,has_ad: day.has_ad,can_no_ad_add: day.can_no_ad_add,can_ad_add: !day.can_no_ad_add}","ng-click" =>"add_day(day)"}
                .ad_day
                  {{day.day}}
                %div{"ng-repeat" =>"ad in day.ads","ng-class" => "{ad: ad.has_ad,no_ad: !ad.has_ad}"}                

      #calendar.hide
        //= render "calendar"create
      .buttons_container
        = f.submit t("save"),:class=>"button"
        = link_to 'Cancelar', service_offers_path
