#service_offers
  - @offers.each do |offer|
    #div{:id=>"row_#{offer.id}",:class=>"service_offer_row row"}
      .service_offer_info
        .service_offer_detail        
          .company_name        
            = offer.company.name
          .service_offer_title      
            = link_to offer.title, offer,:class =>"view"
          %strong
            - offer.service_types.each do |st|
              = st.name
          .status
            - if company_id
              = icon_status offer.status            
          -if (company_id && offer.company.id == get_company.id) || (current_user.is_super_admin?)
            .cars
              Autos:
              = offer.cars.size
        .price_detail
          .price              
            Precio:
            = number_to_currency offer.final_price
          .price
            Descuento:
            = number_to_percentage(offer.percent, :precision =>2)
        .valid
          .service_offer_valid
            %strong
              Valido
            %span
              = l offer.since unless offer.since.nil?
            %span
              = l offer.until unless offer.until.nil?
          .service_offer_dates
            %strong
              Dias
            .days
              %ul
                - offer.valid_dates.each do |day|
                  %li
                    =t day
      .serivce_offer_actions
        -if company_id && offer.status != Status::SENT
          #d
            = link_to image_tag('delete.png'), offer, :confirm => 'Esta seguro que desea borrar la Oferta de Servicio?', :method => :delete,:title=>"Borrar"
        - if (offer.status == Status::PENDING || offer.status == Status::OPEN)
          #e
            = link_to image_tag('edit.png'), edit_service_offer_path(offer),:title =>"Modificar"
  #paginator_wo
    = will_paginate @offers
- if current_user.is_super_admin?
  .box_bottom.clear
    = link_to "Enviar Ofertas de Servicio", notify_service_offers_path,:class =>"btn2"
