.box_bottom
  %table.comboxform
    %tr
      %td
        = t ".title"
      %td
        = h service_offer.title
    %tr
      %td
        = t ".precio"
      %td
        =h number_to_currency(service_offer.price)
      %td
        = t ".discount"
        \%
      %td
        = number_to_percentage(service_offer.percent, :precision =>2)
    %tr
      %td
        = t ".final_price"
      %td
        =h number_to_currency(service_offer.final_price)
      %td
        = t "status"
      %td
        =icon_status service_offer.status
    %tr
      %td
        = t "since"
      %td
        = (l service_offer.since) if service_offer.since
      %td
        = t "until"
      %td
        = (l service_offer.until) if service_offer.until
.box_bottom
  %table
    %tr
      %td Comentario
      %td
        =h service_offer.comment
    %tr
      %td Dias
      %td.label_title{:colspan=>3}
        = service_offer.valid_dates.map{|d| I18n.t(d)}.join(" , ")

