#service_offers
  - @offers.each do |offer|
    #div{:id=>"row_#{offer.id}",:class=>"service_offer_row row"}
      .service_offer_title.left
        - if company_id
          .status.left
            = icon_status offer.status
        = link_to offer.title, offer,:class =>"view"
        .right
          = offer.service_types.map(&:name).join(", ")
      .service_offer_info
        .service_offer_detail
          - if multiple_company?
            .company_name
              = offer.company.name
        .price_detail
          .price
            =t(".price")
            \:
            = number_to_currency offer.price
          .price
            =t(".final_price")
            \:
            = number_to_currency offer.final_price
          .price
            =t(".discount")
            \:
            = number_to_percentage(offer.percent, :precision =>2)
        .valid
          .service_offer_valid
            %strong
              =t(".valid")
            %span
              = l offer.since unless offer.since.nil?
            %span
              = l offer.until unless offer.until.nil?
          .service_offer_dates
            %strong
              =t(".days")
            .days
              %ul
                - offer.valid_dates.each do |day|
                  %li
                    =t day
      .ad_days
        - offer.advertisement_days.each do |ad_days|
          .ad_day{:title => t(".publish_day")}
            %span
              = l ad_days.published_on
      .actions
        - if offer.can_delete?(current_user)
          .action
            = link_to image_tag('delete.png'), offer, :confirm => t(".service_offer_delete_confirm_msg"), :method => :delete,:title=> t("delete")
        - if (offer.status == Status::PENDING || offer.status == Status::OPEN)
          .action
            = link_to image_tag('edit.png'), edit_service_offer_path(offer),:title => t("edit")
      -if (((company_id && offer.company.id == get_company.id) || (current_user.is_super_admin?)) && (offer.vehicles.size > 0))
        .vehicles
          =t(".vehicles")
          \:
          = offer.vehicles.size
  #paginator_wo
    = will_paginate @offers
- if current_user.is_super_admin?
  .box_bottom.clear
    = link_to "Enviar Ofertas de Servicio", notify_service_offers_path,:class =>"btn2"
