- javascript 'jquery.ui.datepicker-es'
- javascript 'service_offer'

%h1
  = vineta 
  Nueva Oferta de Servicio
.contentleft
  = render 'list_cars'
.contentright
  #service_offer
    = form_for(@offer) do |f|
      = render :partial => 'form', :locals => {:f => f}
	= render 'list_cars'