-# javascript 'jquery.ui.datepicker-es'
-# javascript 'service_offer'

.vertical_menu
  = render "home/menu"
  = render "layouts/default_actions"

.contentright_s
  .box_bottom
    %h1 
      Nueva Oferta de Servicio:  
      = @offer.service_types_names
  #service_offer
    = form_for @offer do |f|    
      = render :partial => 'form', :locals => {:f => f}  
    #service_offer_menu
      = render "list_cars"