.vertical_menu
  = render "home/menu"
  .menu_actions.box_bottom
    %ul
      - if (@service_offer.status == Status::PENDING || @service_offer.status == Status::OPEN)    
        %li
          = link_to "Modificar", edit_service_offer_path(@service_offer),:title =>"Modificar"
      -if company_id && @service_offer.status != Status::SENT
        %li
          = link_to "Borrar", @service_offer, :confirm => 'Esta seguro que desea borrar la Oferta de Servicio?', :method => :delete,:title=>"Borrar"

.contentright_s
  .box_bottom
    %h1      
      = @service_offer.service_type.name
    %h1       
      = @service_offer.company.name
  = render @service_offer
  = render "list_cars"