#menu_options.box_bottom
  %ul
    %li
      #control_panel_link.menu
        = image_tag "employee.png"
        = link_to t(".home"),root_path
    %li
      #my_services.link.menu
        = image_tag "my_services.png"
        = link_to t('.service_types'), service_types_path
    %li
      #filters_services.link.menu
        = image_tag "filters2.png"
        = link_to t(".filter_list") , service_filters_path
    %li
      #material_request.link.menu
        = image_tag "my_services.png"
        = link_to t(".material_request") , material_requests_path 
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to t(".price_list"), price_lists_path
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to t(".materials"), materials_path
    %li
      #company.link.menu
        = image_tag "company.png"
        = link_to t(".my_companies"), companies_path
    %li
      #employee.link.menu
        = image_tag "employee.png"
        = link_to t(".my_employess"), employees_path
    %li
      #employee.link.menu
        = image_tag "report.png"
        = link_to  t(".templates"), service_type_templates_path
    %li
      #employee.link.menu
        = image_tag "my_services.png"
        = link_to t(".order_to_quote"), autopart_workorders_path
    %li
      #employee.link.menu
        = image_tag "nota.png"
        = link_to t(".export_data"), exports_path
    %li
      #employee.link.menu
        = image_tag "budget.png"
        = link_to t(".payment_methods"), payment_methods_path
    %li
      #employee.link.menu
        = image_tag "price.png"
        = link_to t(".statuses"), statuses_path
    %li
      #brand.link.menu
        = image_tag "cars.png"
        = link_to t(".brands_and_models"), brands_path
