#menu_options.box_bottom
  %ul
    %li
      #my_services.link.menu
        = image_tag "my_services.png"
        = link_to "Mis Servicios", service_types_companies_path
    %li
      #filters_services.link.menu
        = image_tag "filters2.png"
        = link_to "Listado de Filtros" , service_filters_path
    %li
      #employee.link.menu
        = image_tag "filters2.png"
        = link_to t(".promotions"), promotions_path
    %li
      #material_request.link.menu
        = image_tag "my_services.png"
        = link_to "Solicitud de material" , material_requests_path 
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to "Lista de Precios", price_lists_path
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to "Materiales", company_material_codes_path
    %li
      #company.link.menu
        = image_tag "company.png"
        = link_to "Mis Empresas", companies_path
    %li
      #employee.link.menu
        = image_tag "employee.png"
        = link_to "Mis Empleados", employees_path
    %li
      #employee.link.menu
        = image_tag "report.png"
        = link_to "Templates", service_type_templates_path
    %li
      #employee.link.menu
        = image_tag "my_services.png"
        = link_to "Ordenes para Cotizar", autopart_workorders_path
    %li
      #employee.link.menu
        = image_tag "nota.png"
        = link_to "Exportar Datos", exports_path

