#menu_options.box_bottom
  %ul
    %li
      #my_services.link.menu
        = image_tag "my_services.png"
        = link_to t('.my_services'), service_types_companies_path
    %li
      #filters_services.link.menu
        = image_tag "filters2.png"
        = link_to t(".filter_list") , service_filters_path
    %li
      #material_request.link.menu
        = image_tag "my_services.png"
        = link_to t(".material_request") , material_requests_path 
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to t(".price_list"), price_lists_path
    %li
      #price.link.menu
        = image_tag "price.png"
        = link_to t(".materials"), company_material_codes_path
    %li
      #company.link.menu
        = image_tag "company.png"
        = link_to t(".my_companies"), companies_path
    %li
      #employee.link.menu
        = image_tag "employee.png"
        = link_to t(".my_employess"), employees_path
    %li
      #employee.link.menu
        = image_tag "report.png"
        = link_to  t(".templates"), service_type_templates_path
    %li
      #employee.link.menu
        = image_tag "my_services.png"
        = link_to t(".order_to_quote"), autopart_workorders_path
    %li
      #employee.link.menu
        = image_tag "nota.png"
        = link_to t(".export_data"), exports_path

