.budget_row.row{:id=>"budget-#{budget.id}"}  
  .budget_info
    .left    
      .domain
        = budget.domain if budget.domain && budget.car.nil?
        = link_to(budget.car.domain, car_path(budget.car)) if budget.car
      = link_to budget.full_name,budget
      
    .right      
      - if (multiple_company? || not(current_user.company))
        .company_name
          = budget.company.name
      .operator
        = budget.creator.full_name
    .services
      - budget.services.each do |s|
        .service
          = link_to s.service_type.name, budget
    .wo_info
      .budget_date.right
        = l Date.parse(budget.created_at.to_s)
      .price_b.right            
        = number_to_currency budget.total_price
  
  .actions
    .action  
      = link_to "",print_budget_path(budget,:format =>'pdf'),:target => "_blank",:title =>"Imprimir",:class =>:pdf
    .action
      = link_to_function "","new_note(this)",:title=>"Crear una nota",:class=>"new_note_link"
    - n_css = budget.notes.empty? ? "hide" : ""
    .action{:class=>"#{n_css}"}
      = link_to_function "","show_notes(this)",:title=>"Ver notas",:class=>"notes_link"      
    -if company_id
      .action
        = link_to "",new_workorder_path(:b =>budget.id),:title =>"Crear servicio",:class=>:new_service
    - if budget.can_edit?(current_user)
      .action     
        = link_to "", budget_path(budget), :confirm => '¿ Esta seguro que desea borrar el Presupuesto ?', :method => :delete,:title =>"Eliminar",:class=>"delete"
      .action
        = link_to "",edit_budget_path(budget),:title=>"Modificar",:class=>"edit"
      
  %div{:id=>"notes-#{budget.id}",:class=>"wo_notes clear"}    
    = render :partial =>"notes/note_form",:locals=>{:b => budget.id,:wo=>nil,:notes => budget.notes}
