.budget_row.row[budget]
  - if (budget.domain && (!budget.domain.empty?)) || budget.vehicle
    .domain_white.left
      - if budget.vehicle
        =# link_to(budget.vehicle.domain, car_path(budget.vehicle))
        =# link_to(budget.vehicle.domain, sti_vehicle_path(budget.vehicle.type, budget.vehicle))
        = link_to(budget.vehicle.domain, vehicle_path(budget.vehicle))
      -else
        = budget.domain
  .services
    - budget.services.each do |s|
      .service
        = s.service_type.name
  .budget_info.clear
    %label.bg_id{:title =>t(".number_of_budget")}
      = link_to budget.id, budget
    %label{title: t(".client")}
      %strong
        =t(".client")
    %label
      = budget.full_name
    %label
      %strong
        =t(".operator")
    %label
      = budget.creator.full_name
    .right
      %label
        = l budget.created_at,:format => :short
      %label.price_b
        = number_to_currency budget.total_price
  - if (multiple_company? || not(current_user.company))
    .clear.left
      = budget.company.name

  .actions
    - if budget.can_edit?(current_user)
      .action
        = link_to "", budget_path(budget), :data => {:confirm => t(".message")},:remote =>true, :method => :delete,:title =>t(".delete"),:class=>"delete"
    - if company_id
      .action
        = link_to "",new_workorder_path(:b =>budget.id),:title =>t(".create_service"),:class=>:new_service
      .action
        = link_to "",edit_budget_path(budget),:title=>t(".modify"),:class=>"edit"
    .action
      = link_to "",print_budget_path(budget,:format =>'pdf'),:target => "_blank",:title =>t(".print"),:class =>:pdf
    .action
      %a{:title=>t(".notes"),:class=>"new_note_link",:href=>"#"}
    - n_css = budget.notes.empty? ? "hide" : ""
    -if budget.can_send_message?(current_user)
      .action
        %a{:title=>t(".send_message"),:class=>"new_message",:href=>"#"}

  = render :partial =>"notes/note_form_np",:locals=>{:b => budget.id,:wo=>nil,:c => nil,:notes => budget.notes,:id=>budget.id}
  -if budget.can_send_message?(current_user)
    .hide.message{:id => "messages_container_#{budget.id}"}
      - if current_user.is_employee?
        = render :partial => "/messages/form_user",:locals => {user: budget.user,:element_id => budget.id,:msg_object => budget}
      -else
        = render :partial => "/messages/form_user",:locals => {user: budget.creator,:element_id => budget.id,:msg_object => budget}
