.budget_row.row[budget]
  .budget_info
    .left    
      - if (budget.domain && (!budget.domain.empty?)) || budget.car 
        .domain_white.left          
          - if budget.car
            = link_to(budget.car.domain, car_path(budget.car)) 
          -else
            = budget.domain
      = link_to budget.full_name,budget
      
    .right      
      - if (multiple_company? || not(current_user.company))
        .company_name
          = budget.company.name
      .operator
        = budget.creator.full_name
    .services
      - budget.services.each do |s|
        .service
          = link_to s.service_type.name, budget
    %div
      .budget_date.right
        = l Date.parse(budget.created_at.to_s)
      .price_b.right            
        = number_to_currency budget.total_price
  
  .actions
    .action  
      = link_to "",print_budget_path(budget,:format =>'pdf'),:target => "_blank",:title =>"Imprimir",:class =>:pdf
    .action
      %a{:title=>"Nueva nota",:class=>"new_note_link",:href=>"#"}      
    - n_css = budget.notes.empty? ? "hide" : ""
    -if company_id
      .action
        = link_to "",new_workorder_path(:b =>budget.id),:title =>"Crear servicio",:class=>:new_service
    - if budget.can_edit?(current_user)
      .action     
        = link_to "", budget_path(budget), :data => {:confirm => '¿ Esta seguro que desea borrar el Presupuesto ?'}, :method => :delete,:title =>"Eliminar",:class=>"delete"
      .action
        = link_to "",edit_budget_path(budget),:title=>"Modificar",:class=>"edit"
      
  = render :partial =>"notes/note_form_np",:locals=>{:b => budget.id,:wo=>nil,:notes => budget.notes}    
  
