.customer
  .box_bottom
    %h1 Cliente
    = f.hidden_field :user_id
  %table.w
    %tr
      %td{:style=>"width:100px"} Nombre
      %td
        = client.first_name
    %tr
      %td Apellido
      %td   
        = client.last_name
    %tr
      %td Teléfono
      %td
        = client.phone
    %tr
      %td Correo Eléctronico
      %td
        = client.email
