-# javascript 'materials_ajax'
-# javascript 'budgets_form'
-# javascript 'jquery.formatCurrency-1.4.0'
-# javascript 'jquery.formatCurrency.es-AR'

#materials.hide
  .materials
    = render :partial=>'materials'
#budget
  = form_for @budget,:html=>{:class=>:budget} do |f|
    = render 'shared/error_messages', :target => @budget
    - if @budget.vehicle
      = render :partial => "vehicle",:locals =>{:vehicle =>@budget.vehicle,:f=>f}
    - if @budget.user
      = render :partial => "client",:locals => {:client =>@budget.user,:f => f}
    - if @budget.user.nil?
      = render "no_client",:f => f
    - if  @budget.vehicle.nil?
      = render "no_vehicle",:f => f

    .box_bottom.clear
    .customer
      %table
        %tr
          %td{:style=>"width:100px"}=t(".comment")
          %td
            = f.text_area :comment,:rows =>3,:cols =>67
    #services.box_top
      = render :partial=>'services_list',:locals =>{:f=>f}