.box_bottom
  .budget_service
    %h1 Servicios
  .budget_service
    = collection_select :new,:service_type,@service_types,:id,:name,{:prompt=> "-- Seleccione Tipo de Servicio --"},{:class=>"input_medium left",:title=>"Agregar nuevo tipo de servicio",:style=>"margin-left:17px"}
  .budget_service
    = link_to"","#",:title=>"Buscar Materiales (Ctrl+M)",:id=>:material_dialog,:class=>"link new"        
#services.overflow
  #services_list.ordencontent
    = f.fields_for :services do |s_form|
      = render "service_fields",:f => s_form
  #n_s.hide
    = button_to_add_fields  "Nuevo Servicio",f,:services 
  .box_bottom    
    #total_budget
      = number_to_currency @budget.total_price    
  .buttons_container
    = f.submit "Grabar",:class =>"button",:data => {"disable-with" => 'Grabando...'}    
    = link_to "Cancelar",@budget
