.service_type
  %table.services
    %thead
      %tr
        %th{:colspan=>2,:style=>'width:66%'}
          .budget_service2
            %h2
              %label{:id=>"serviceType"}
              = f.hidden_field :service_type_id,:class=>:service_type_id
              = f.fields_for :service_type do |st_form|
                %label.header_text_lable
                  = st_form.object.name
          .budget_service                        
            = link_to "","#",{:class =>"new_material new",:title=>"Agregar nuevo material"}         
            .hide
              = f.text_area :comment, :rows => 3,:cols=>"28",:class=>"comment"
        %th{:style=>'width:8%'}
          %label.right Cantidad
        %th{:style=>'width:8%'}
          %label.right Precio
        %th.number{:style=>'width:13%'}
          .total_service
            = number_to_currency(f.object.total_price)
        %th.number{:style=>'width:5%'}
          .remove_service.right
            = link_to_remove_fields f,:services,"Borrar Servicio"
    %tbody
      = f.fields_for :material_services do |ms_form|
        =render "material_service_fields",:f => ms_form
  #n_s.hide
    = button_to_add_fields "Nuevo Material",f,:material_services
