.vertical_menu
  = render "home/menu"
  .clear
    = render "actions"
.contentright_s.budget
  .box_bottom
    .left
      %h1 Modificar Presupuesto
    .right
      %h1
        = "Nro: #{@budget.nro}"
  = render 'form'
