.vertical_menu
  = render "home/menu"  
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Modificar",edit_budget_path(@budget)
      %li        
        = link_to "Imprimir",print_budget_path(@budget,:format =>'pdf'),:target => "_blank",:title =>"Imprimir"
      %li
        = link_to "Enviar por Correro",email_budget_path(@budget),:remote =>true
      .ajax_loader.right
      %li
        = link_to "Nuevo Presupuesto", new_budget_path
      %li
        = link_to "Crear Servicio",new_workorder_path(:b =>@budget.id),:title =>"Crear servicio"

.contentright_s    
  .box_bottom
    .left
      %h1
        Presupuesto Nro:
        = @budget.id
    .right
      %h1
        Realizado:
        = l Date.parse(@budget.created_at.to_s)
      %h2
        Operario:
        = @budget.creator.full_name

  .budget.box_bottom
    .customer.left
      .box_bottom
        %h1 Cliente
      = render "client_row"
    .car.right
      .box_bottom
        %h1 Autómovil
      = render "car_row"
    .comment.clear.box_top
      %table
        %tr
          %td{:style=>"width:104px"} Comentario
          %td
            = @budget.comment      
    #services.box_top.clear
      .box_bottom
        .budget_service
          %h1 Servicios
      #services_list.ordencontent
        - @budget.services.each do |s|
          .service_type
            %table.w
              %tbody
                %tr
                  %td{:style=>'width:60%'}
                    .budget_service2
                      %h2
                        %label{:id=>"serviceType"}
                          %label.header_text_lable
                            = s.service_type.name
                      .hide
                        = s.comment
                  %td{:style=>'width:10%'}
                    %label.right Cantidad
                  %td{:style=>'width:10%'}
                    %label.right Precio
                  %td.number{:style=>'width:15%'}
                    .total_service
                      = number_to_currency(s.total_price)
              - s.material_services.each do |ms|
                %tr
                  %td
                    = ms.material_service_type.material.detail if ms.material_service_type
                    = ms.material if ms.material
                  %td.number
                    = ms.amount
                  %td.number
                    = ms.price
                  %td.number
                    .total_item
                      = number_to_currency(ms.total_price) 

                -#=render "material_service_fields",:f => ms_form

        #total_budget_v
          = number_to_currency @budget.total_price  