%table.comboxform
  %tbody
    %tr
      %td.current.header
        Nombre
      %td
        = @user.first_name
    %tr
      %td.current.header
        Apellido
      %td
        = @user.last_name
    %tr
      %td.current.header
        Email
      %td
        = @user.email
    %tr
      %td.current.header
        Teléfono
      %td
        = @user.phone
  
= link_to_back