%tr
  %td{:style=>"width:100px"}
    %label{ :for => "login" }Nombre
  %td
    = f.text_field :first_name,:class=>"input_medium"  
%tr
  %td
    Apellido
  %td
    = f.text_field :last_name,:class=>"input_medium"  
%tr
  %td
    Teléfono
  %td
    = f.text_field :phone,:class=>"input_medium"  
%tr
  %td
    %label{ :for => "email" }Email *
  %td
    .user_email
      = f.text_field :email,:class=>"input_medium left"  
      - if current_user && current_user.has_company?
        = link_to "",generate_email_users_path,:remote => true,:title => "Generar Email si el cliente no tiene",:class =>"generate_email left"      
        .ajax_loader.left
    .validation_email.hide
%tr
  %td
    %label{ :for => "email" }CUIT
  %td
    = f.text_field :cuit,:class=>"input_medium"
%tr
  %td
    %label{ :for => "email" } Razón Social
  %td
    = f.text_field :company_name,:class=>"input_medium"    
