%tr
  %td{:style=>"width:100px"}
    %label{ :for => "login" }=t(".name")
  %td
    = f.text_field :first_name,:class=>"input_medium"  
%tr
  %td
    =t(".last_name")
  %td
    = f.text_field :last_name,:class=>"input_medium"  
%tr
  %td
    =t(".phone")
  %td
    = f.text_field :phone,:class=>"input_medium"  
%tr
  %td
    %label{ :for => "email" }=t(".email")
  %td
    .user_email
      = f.text_field :email,:class=>"input_medium left"        
      - if current_user && (current_user.id != f.object.id)
        = link_to "","#",:title => "Generar Email si el cliente no tiene",:class =>"generate_email left"      
        .ajax_loader.left
    .validation_email.hide
%tr
  %td
    %label{ :for => "email" }=t(".cuit")
  %td
    = f.text_field :cuit,:class=>"input_medium"
%tr
  %td
    %label{ :for => "email" }=t("business_name")
  %td
    = f.text_field :company_name,:class=>"input_medium"    
