%table.w
  %tbody
    %tr
      %td 
        %label{ :for => "state" }Provincia
      %td
        = f.collection_select(:state_id, State.find(:all,:order=>:name), :id, :name, {:include_blank=>:true},{:id=>@state_id,:class=>"state medium_select"})
        = hidden_field_tag :country, :name, :value =>search_country_name(f.object.state_id)    
        = f.hidden_field :lat
        = f.hidden_field :lng
    %tr
      %td
        %label{ :for => "city" }Ciudad    
      %td
        = f.text_field :city,:size=>20  
    %tr
      %td
        %label{ :for => "street" }Calle
      %td
        = f.text_field :street,:size=>20
    %tr
      %td
        %label{ :for => "zip" }Código Postal    
      %td
        = f.text_field :zip,:size=>5
    
      
  
    
    

