%table.vehicle_data
  %tbody
    %tr
      %td{:style=>"width:100px"}
        Tipo
        =f.object.vehicle_type
      %td
        = f.select(:vehicle_type, options_for_select([[t('car'), 'Car'], [t('motorcycle'), 'Motorcycle']],f.object.vehicle_type),{},{:class=>'medium_select vehicle_type'})
      %td{:style=>"width:20px"}
      %td{:style=>"width:100px"}
        %label{ :for => "domain" }=t(".domain")
      %td
        .car_domain
          = f.text_field :domain, :size=>8, :maxlength =>7, :class=>"input_short user_domain"
      %td{:colspan=>"2"}
        .validation_car_domain.hide
    %tr
      %td
        %label{ :for => "brand_id" }=t(".brand")
      %td
        = f.collection_select(:brand_id, @brands, :id, :name, {:include_blank=>:true},{:class=>"brands medium_select"})      
      %td{:style=>"width:20px"}
      %td
        %label{ :for => "year" }=t(".year")
      %td
        = f.text_field :year,:size=>6,:maxlength =>4,:class=>"input_short"
    %tr
      %td
        %label{ :for => "model_id" }=t(".model")
      %td
        #models
          = f.collection_select(:model_id, @models, 'id', 'name', {:include_blank=>:true},{:class=>'models medium_select'})
      %td{:style=>"width:20px"}
      %td
        %label{ :for => "email" }=t(".mileage_monthly_average")
      %td
        = f.text_field :kmAverageMonthly,:size=>6,:class=>"input_short"
    %tr
      %td
        %label{ :for => "fuel" }=t(".fuel")
      %td
        =# f.collection_select :fuel, %w(Nafta), :to_s ,:to_s , { :prompt => "Nafta" }, { :class => "medium_select" }
        = f.collection_select :fuel, %w(Nafta Diesel Gas), :to_s, :to_s,{}, {:class=>"medium_select fuel"}
      %td{:style=>"width:20px"}
      %td
        %label{ :for => "km" }=t(".mileage")
      %td
        = f.text_field :km,:size=>10,:class=>"input_short"
    - chassis_css = f.object.vehicle_type == "Motorcycle" ? "" : "hide"
    %tr.chassis_row{:class => "#{chassis_css}"}
      %td{:style=>"width:100px"}
        %label{ :for => "chassis" }=t(".chassis")
      %td{:colspan =>3}
        .car_domain
          = f.text_field :chassis, :size => 10, :class => 'input_medium'
    %tr
