-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
%table#sort_table.display
  %thead
    %tr
      %th Servicio
      %th Compañia
      %th Titulo
      %th Precio
      %th Desde
      %th Hasta
      %th Estado
  - for vehicle_offer in @vehicle_service_offers
    %tr
      %td
        = link_to vehicle_offer.service_offer.service_type.name, vehicle_offer
      %td
        =vehicle_offer.service_offer.company.name
      %td
        = vehicle_offer.service_offer.title
      %td
        = number_to_currency vehicle_offer.service_offer.final_price
      %td
        = vehicle_offer.service_offer.from
      %td
        = vehicle_offer.service_offer.until
      %td
        = vehicle_offer.status
