%h1
  = vineta 
  Cambio de Clave  
.contentleft
  %h1 Ir a
  = render :partial => "devise/shared/links"
.contentright
  %h1
    Por favor ingrese una nueva clave
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %p
      = f.label :password,"Nueva Clave"
      %br/
      = f.password_field :password
    %p
      = f.label :password_confirmation,"Confirmación nueva clave"
      %br/
      = f.password_field :password_confirmation
    %p= f.submit "Confirmar nueva clave",:class=>:btn2
