.vertical_menu  
  = render "home/nu_menu"
.contentright_s  
  .box_bottom
    %h1 Enviar instrucciones de cambio
  .box_bottom
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      %table
        %tr
          %td
            = f.label :email, "Correo Electrónico"
          %td 
            = f.text_field :email,:class =>:input_long
      .box_bottom
      = f.submit "Enviar Instrucciones",:class=>"button"
  