%h1
  = vineta 
  Envio de Nueva Clave  
.contentleft
  %h1 Ir a
  = render :partial => "devise/shared/links"
.contentright
  %h1
    Enviar instrucciones para cambiar la clave a:
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    %p
      = f.label :email, "Correo Electónico"
      %br/ 
      = f.text_field :email,:class =>:input_long
    %p
      = f.submit "Enviar nueva clave",:class=>"btn2"
  