- javascript 'jquery.dataTables'
- javascript 'sort.table'
- stylesheets 'demo_page'
- stylesheets 'demo_table'
.vertical_menu
  = render "conf/menu"
.contentright_s  
  %h1 Listado de Provincias
  %table{:id=>'sort_table',:class=>'display w'}
    %thead
      %tr
        %th Nombre
        %th País
        %th Nombre Nombre
        %th
    - for state in @states
      %tr
        %td
          = link_to h(state.name),state
        %td
          =h state.country.name
        %td
          = h state.short_name
        %td
          = link_to image_tag('edit.png'), edit_state_path(state)
          = link_to image_tag('delete.png'), state, :confirm => '¿ Esta seguro que desea eliminarlo ?', :method => :delete
  %br
  = link_to image_tag('new.png'), new_state_path
