= render 'shared/error_messages', :target => @price_list  
= form_for(@price_list) do |f|
  .box_bottom
    %table.w
      %tr
        %td Nombre
        %td
          = f.text_field :name
  .box_bottom.buttons_container
    = f.submit "Grabar",:class=>"button"
    = link_to t("cancel"), price_lists_path