%tr
  %td
    = item.name
  %td
    = item.material.name
  %td.currency.number    
    = number_to_currency item.price
  %td
    %input{:id=>"ids_#{item.id}",:name=>"ids[#{item.id}]",:value=>number_with_precision(item.price),:class=>"currency_input price"}
    %label.diff.right    