%tr
  %td
    = item.name
  %td
    = item.material.name
  %td{:class=>:currency}    
    = number_to_currency item.price
  %td
    %input{:id=>"ids_#{item.id}",:name=>"ids[#{item.id}]",:value=>item.price,:class=>"currency_input currency"}
    %label.diff    