#service_types.box_bottom
  %h3 Tipos de Servicios
  = form_for @price_list,:url => items_price_list_path(@price_list),:html=>{:method =>:get} do |ff|
    %table
      %tbody
      - for service_type in get_service_types
        %tr
          %td
            = check_box_tag "service_type_ids[#{service_type.id}]",service_type.id,@service_type_ids.include?(service_type.id.to_s),:class =>"service_type_id checkbox"
            = label_tag "service_type_ids[#{service_type.id}]",service_type.native_name,:class =>:link
      %tr
        %td
          = text_field_tag "material",@material,:class=>"labelify input",:title=>"Material"
      %tr
        %td
          = image_submit_tag("find.png",:class =>"input_img")
