%h1
  = vineta
  Modificar Lista de Precio
= render 'shared/error_messages', :target => @price_list
.box
  - form_for(@price_list) do |f|
    %p
      Nombre
    = f.text_field :name
    .buttons
      = link_to_back
      = f.submit "Grabar",:class=>"button"