.vertical_menu
  = render "admin/menu"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nueva Lista de Precio", new_price_list_path
.contentright_s
  -if company_id.size == 1
    .box_bottom
      %h1
        = get_company.name
  .box_bottom
    %h1
      Listas de Precios
  %table#sort_table.comboxtable
    %thead
      %tr
        -if company_id.size > 1
          %th Sucursal
        %th
          Nombre
        %th
          Estado
        %th
    - for price_list in @price_lists
      %tr
        -if company_id.size > 1
          %td
            = price_list.company.name
        %td
          = link_to h(price_list.name),items_price_list_path(price_list)
          - if price_list.company.nil?
            = link_to "Copiar",copy_price_list_path(price_list)
        %td
          = price_list.active
          = price_list.id
          = is_active(price_list,activate_price_list_path(price_list))
        %td
          = link_to '-Exp-', export_price_list_path(price_list,:format => :csv), :title => "Exportar Lista de precios"
          -unless price_list.company.nil?
            = link_to image_tag('edit.png'), edit_price_list_path(price_list),:title =>"Modificar"
          -if price_list.can_delete?(current_user)
            = link_to image_tag('delete.png'), price_list, :confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete,:title =>"Borrar"
          = link_to image_tag('new.png'), copy_price_list_path(price_list),:title =>"Copiar lista de precio"

