%h1 Listado de Clientes
.row
- for client in @clients
  .client_car.row
    .client
      %strong
        = link_to h(client.full_name), user_path(client),:title=>"Ver"
      = client.email
      %strong
        = client.phone
      .actions.right
        .action
          = link_to image_tag("edit.png"),edit_client_path(client),{:title=>"Modificar"} if client.confirmed_at.nil?
        .action
          = link_to image_tag('new.png'), new_car_path(:user_id=>client.id),  {:title =>"Nuevo Automóvil"}

    - client.cars.each_with_index do |car,index|
      .client_car.left
        .detail
          .left
            = link_to h(car.domain),car
            %strong
              = car.brand.name
              = car.model.name
              = car.year
        .actions
          .action
            = link_to image_tag('edit.png'),edit_car_path(car),{:title=>"Modificar automóvil"} if car.can_edit?(current_user)
          .action
            = link_to image_tag('new.png'), new_workorder_path(:company_id=>current_user.company.id,:car_id =>car),{:title=>"Nuevo Servicio"}
   
= will_paginate @clients
