%tbody
  %tbody
    %tr
      %td{:style=>"width:100px"}
        %label{ :for => "login" }=t(".name")
      %td
        = f.text_field :first_name,:class=>"input_medium"
    %tr
      %td
        %label{ :for => "login" }=t(".last_name")
      %td
        = f.text_field :last_name,:class=>"input_medium"
    %tr
      %td
        %label{ :for => "company_name" }=t("business_name")
      %td
        = f.text_field :company_name,:class=>"input_medium"
    %tr
      %td
        %label{ :for => "email" }=t(".email")
      %td
        = f.text_field :email,:class=>"input_medium"
    %tr
      %td
        %label{ :for => "cuit" }=t(".cuit")
      %td
        = f.text_field :cuit,:class=>"input_medium"
    %tr
      %td
        %label{ :for => "phone" }=t(".phone")
      %td
        = f.text_field :phone,:class=>"input_medium"

