.upload_file
  .box_bottom
    %h1=t(".import_clients")
  .box_bottom  
    .import_form
      %h4 Por favor seleccione el archivo con los nuevos clientes a importar
      Para la importación de clientes por favor selecciones un archivo (CSV) con el formato que indica la imagen respetando los nombres de las columnas
      %br
        Los nuevos clientes van a agregar \ actualizar a la Empresa del usuario:
        %strong 
          = link_to current_user.company.name,current_user.company
      .box_bottom
      = form_tag({action: :upload}, multipart: true, method: :put) do
        .left
          = file_field_tag :file, :class => :file_margin_top
        .left
          = submit_tag (t"import"),:disable_with => (t'importing'),:class =>:button
          %strong
            = link_to "Bajar Archivo Ejemplo", "/data/import_clients.csv"
  .box_bottom
    %h4
      Imagen ilustrativa de como debe ser el archivo para importar clientes
    = image_tag("/images/import_client.png")
    .export_note
  - unless @import_result.nil?
    %table.comboxtable
      %thead
        %tr
          %th{"colspan" => 2} Resultado
      %tbody
        %tr
          %td.number{"width" => "100px"}
            = @import_result[:total_records]
          %td
            Registros Procesados
        %tr
          %td.number
            = @import_result[:new_records]
          %td
            = @import_result[:new_records] > 1 ? "Nuevos Clientes" : "Nuevo Cliente"
        %tr
          %td.number
            = @import_result[:updates]
          %td
            Actualizaciones
        %tr
          %td.number
            = @import_result[:success]
          %td
            Exitos
        %tr
          %td.number
            = @import_result[:failure]
          %td
            Errores

    - unless @import_result[:errors].nil?
      %br
      %table.comboxtable
        %thead
          %tr
            %th{"width" => "100px"} Nro Registro
            %th Error
        %tbody
          - @import_result[:errors].each do |row|
            %tr
              %td.number
                = row[0]
              %td
                - row[1].errors.full_messages.each do |msg|
                  = msg
                  %br
