-# javascript 'clients'

= form_for @client, :url => clients_path do |f|
  - if @budget
    = hidden_field_tag "budget_id",@budget.id
  = render 'shared/error_messages', :target => @client
  #user_data
    .box_bottom
      %h3=t(".personal_information")
      %table.w
        %tbody
          = render 'users/user_row',:f => f
    %h3=t(".vehicle_information")
    .box_bottom
      = f.fields_for :vehicles do |c|
        - if c.object.class == Car
          = render 'users/car_fields', :f => c
        - if c.object.class == Motorcycle
          = render 'users/motorcycle_fields', :f => c
    / .box_bottom
    /   = f.fields_for :cars do |c|
    /     = render 'users/car_fields', :f => c
    / .box_bottom
    /   = f.fields_for :motorcycles do |c|
    /     = render 'users/motorcycle_fields', :f => c
    %h3=t(".address_information")
    .personal_address.box_bottom
      =f.fields_for :address do |a|
        = render 'users/user_address_fields', :f => a
  .buttons_container
    = f.submit t(".save"),:class=>:button,:data => {"disable-with" => t("saving")}
    = link_to t(".cancel"),clients_path
