- javascript 'accounts'
.box
  = render 'shared/error_messages', :target => @client
  = form_for @client, :url => clients_path do |f|
    %h1 Información Personal
    %table
      %tbody
        = render 'users/user_row',:f => f
    %h1 Información de su auto
    =f.fields_for :cars do |c|
      = render 'users/car_fields',:f =>c
    .search_map   
      %h1 Dirección
      =f.fields_for :address do |a|
        = render 'users/user_address_fields', :f =>a
    %p= f.submit "Grabar",:class=>"btn"
