#vehicle_search
  %h1=t(".search_vehicles")
  #vehicle_search.left
    = form_tag vehicles_path, :remote =>true,:method =>:get do |f|
      = hidden_field_tag :vehicle_id,@vehicle_id
      = hidden_field_tag :company_id,@company_id
      %table
        %tr
          %td=t(".domain")
        %tr
          %td
            = text_field_tag 'domain',:html =>{:placeholder=>"Dominio"}
            = image_submit_tag("find.png",:class =>"input_img")

