= fields_for @user do |f1|
  %p
    %label{:for => "login"}=t(".name")
    %br
    = f1.text_field :first_name
  %p
    %label{:for => "login"}=t(".last_name")
    %br
    = f1.text_field :last_name
  %p
    %label{:for =>"phone"}=t(".phone")
    %br
    = f1.text_field :phone
  %p
    %label{:for => "email"}=t(".email")
    %br
    = f1.text_field :email

