#all_clients
  %h1
    =vineta 
    Clientes & Automóviles
  .contentleft_s
    .contentleft
      = render "search_clients"
    .contentleft
      = render "search_cars"
    .contentleft
      - if current_user.company_id
        = button_to "Nuevo cliente", new_client_path,{:method =>:get,:class =>"btn_b"}
      = link_to_back root_path
  #data.contentright
    = render "clients"
