#all_clients
  %h1
    =vineta 
    Clientes & Automóviles
  .contentleft_s
    .contentleft
      = render "search_clients"
    .contentleft
      = render "search_cars"
    .contentleft
      .buttons
        = link_to_back root_path
        - if current_user.company_id
          = link_to "Nuevo cliente", new_client_path,{:class =>"button"}
      
  #data.contentright
    = render "clients"
