#all_clients
  %h1
    =vineta 
    Clientes & Automóviles
  .contentleft_s
    .contentleft
      = render "search_clients"
    .contentleft
      = render "search_cars"
    .contentleft
      - if current_user.has_company?
        = button_to "Nuevo cliente", new_client_path,{:method =>:get,:class =>"btn_b"}
      = link_to_back root_path
      = link_to image_tag('new.png'), new_car_path(:user_id=>current_user.id),  {:title =>"Nuevo Automóvil"}   
  #data.contentright
    = render "clients"
