.vertical_menu
  = render "home/menu"
  = render "client_menu"
.contentright_s.new_client
  - if flash[:message]
    .message
      %h2= flash[:message]
  .box_bottom
    %h1=t(".new_client")
  -if @budget
    .right
      %h1=t(".budget_number")
      = link_to @budget.id,@budget
  = render 'form'

