.vertical_menu
  = render "home/menu"
  = render "client_menu"
.contentright_s
  .box_bottom
    %h1=t(".client")
  .box_bottom
    %h3=t(".personal_information")
    %table.w
      %tbody
        %tr
          %td{:width=>"100px"}=t(".name")

          %td
            = @client.first_name
        %tr
          %td=t(".last_name")
          %td
            = @client.last_name
        - if @is_client
          %tr
            %td=t(".email")
            %td
              = @client.email
          %tr
            %td=t("business_name")
            %td
              = @client.company_name
          %tr
            %td=t(".cuit")
            %td
              = @client.cuit
          %tr
            %td=t(".phone")
            %td
              = number_to_phone @client.phone
  - if @client.address && @is_client
    .box_bottom
      %h3=t(".address")
      %table.w
        %tbody
          %tr
            %td{:width=>"100px"}=t(".state")
            %td
              = @client.address.state.name
          %tr
            %td=t(".city")
            %td
              = @client.address.city
          %tr
            %td=t(".street")
            %td
              = @client.address.street
          %tr
            %td=t(".zip")
            %td
              = @client.address.zip
  .client_vehicles
    - @client.vehicles.each do |vehicle|
      .clear.row
        .left
          = brand_logo vehicle.brand.name
        .domain_white.left
          = link_to vehicle.domain, vehicle
        %h1.left
          = "#{vehicle.model.name} #{vehicle.year}"
        .actions
          .action
            = link_to "", new_budget_path(:ca => vehicle.id),{:title=>t(".new_budget"),:class=>"new_budget"}
          .action
            = link_to "", new_workorder_path(:vehicle_id =>vehicle),{:title=>t(".new_service"),:class =>"new_service"}
          .action
            = link_to "", edit_vehicle_path(vehicle),{:title=>t(".modify_vehicle"),:class =>"edit"} if current_user.can_edit?(vehicle.user)
            =# link_to "", sti_vehicle_path(vehicle.type, vehicle, :edit), {:title=>t(".modify_vehicle"), :class =>"edit"} if current_user.can_edit?(vehicle.user)
            
