#vehicle_info.barradatos
  .datos_personales
    %table.tabla_datos_personales
      %tr
        %td
          %h3 Nombre
        %td
          = link_to vehicle.user.full_name,client_path(vehicle.user)
        %td
          %h3 Dominio
        %td
          = link_to_domain vehicle
        %td
          %h3 Año
        %td
          = vehicle.year
      %tr
        %td
          %h3 Email
        %td
          = vehicle.user.valid_eamil
        %td
          %h3 Marca y Modelo
        %td
          = "#{vehicle.brand.name} #{vehicle.model.name}"
        %td
          %h3 Teléfono
        %td
          = number_to_phone(vehicle.user.phone)
      %tr
        %td
          %h3
            Kilometraje
        %td
          %span#km
            -#= vehicle.km unless @work_order.km
            = @work_order.km if @work_order.km
        %td
          %h3
            Kilometraje promedio mensual
        %td
          %span#kmAverageMonthly
            = vehicle.kmAverageMonthly
        %td
          %h3 Ultima actualización
        %td
          %span#kmUpdatedAt
            = l vehicle.kmUpdatedAt.to_date if vehicle.kmUpdatedAt
