#car_info.barradatos
  .datos_personales
    %table.tabla_datos_personales
      %tr
        %td
          %p#domain.domain_white
            = link_to vehicle.domain, vehicle
        %td
          %h3 Año
        %td
          = vehicle.year
        %td
          %h3 Marca y Modelo
        %td
          = "#{vehicle.brand.name} #{vehicle.model.name}"
