-# javascript 'jquery.formatCurrency-1.4.0'
-# javascript 'jquery.formatCurrency.es-AR'
-# javascript 'jquery.services'
-# javascript 'materials_ajax'
#work_order_info
  .cont1.box_bottom
    %h1.left=t(".enter_services_done")
    %h1.right
      = @work_order.company_name
      \:
      = @work_order.nro
  #err
    = render 'shared/error_messages', :target => @work_order
  #work_order
    .box_bottom
      #vehicle_info.barradatos
        = render :partial => 'vehicles/vehicle_info', :locals => { :vehicle => @work_order.vehicle }
  - if @update_km
    #vehicle_new_km
      = render :partial => 'vehicles/new_km', :locals => { :vehicle => @work_order.vehicle }
  #materials.hide
    .materials
      = render :partial => 'materials'
  #work_order_form
    = render :partial => 'services_list', :locals => { :work_order => @work_order }
