-# javascript 'jquery.formatCurrency-1.4.0'
-# javascript 'jquery.formatCurrency.es-AR'
-# javascript 'jquery.services'
-# javascript 'materials_ajax'
#work_order_info
  .cont1.box_bottom
    %h1 
      Ingrese Servicios Realizados:
      = @work_order.company_name
  = render 'shared/error_messages', :target => @work_order
  #work_order
    .box_bottom      
      #car_info.barradatos      
        = render :partial=>'cars/car_info',:locals =>{:car=>@work_order.car}
  - if @update_km
    #car_new_km
      = render :partial=>'cars/new_km',:locals =>{:car=>@work_order.car}
  #materials.hide
    .materials
      = render :partial=>'materials'
  #work_order_form
    = render :partial=>'services_list',:locals =>{:work_order=>@work_order}  
