= form_for :material,:remote=>true,:url=>details_materials_path,:method=>:get,:loading =>'AjaxLoader.enable()',:html=>{:id=>:material_form} do |f|
  = f.hidden_field :per_page
  %table.service_table
    %tr
      %td.table_header
        Buscador de Materiales
    %tr
      %td
        Servicio
    %tr
      %td
        = f.collection_select :service_type_id,@service_types,:id,:name,:include_blank => true
        %a{:id=>"maxim",:href=>"#"} Max
    %tr
      %td
        Material
    %tr
      %td
        = text_field :material, :detail,:class=>:left
        = f.submit "Buscar",:class=>:left
        #ajax_loader.ajax_loader.left{:style=>"display:none"}
#materials_list
  
		
