%h1 Buscar
= form_tag workorders_path,:remote =>true,:id=>:filter,:method =>:get do
  = hidden_field_tag :direction, @direction
  = hidden_field_tag :sort, @sort_column
  %table
    %thead
    %tbody
      %tr
        %td Desde
      %tr
        %td
          = text_field_tag 'date_from', @date_f,:class =>"input_short"
      %tr  
        %td Hasta
      %tr
        %td
          = text_field_tag 'date_to', @date_t,:class =>"input_short"
      %tr
        %td Dominio
      %tr
        %td
          = text_field_tag 'domain', @domain, :size=>6,:class =>"input_short"
      %tr  
        %td Tipo de Servicio
      %tr
        %td
          #service_types
            %ul
              -@company_services.each do |service|
                %li
                  = check_box_tag 'service_type_ids[]', service.id,checked=false,:class=>:checkbox,:id=>"service_type_#{service.id}"
                  %label.link{:for=>"service_type_#{service.id}"}
                    =service.name
          -#= collection_select(:service_type, :id, @company_services, :id, :name, {:include_blank=>:true,:selected => @service_type_id},{:id=>"service_type_id",:name =>"service_type_id"})
      %tr
        %td Estado
      %tr
        %td
          = select_tag(:wo_status_id,options_for_select(Status::WO_STATUS.collect{|v,k| [k,v]}),{:selected =>@status_id,:include_blank =>:true})
          = image_submit_tag("find.png",:class =>"input_img")          
          

