%h1 Buscar
- form_tag filter_workorders_path,:remote =>true,:id=>:filter,:method =>:get do
  = hidden_field_tag :direction, @direction
  = hidden_field_tag :sort, @sort_column
  %table
    %thead
    %tbody
      %tr
        %td Desde
      %tr
        %td
          = text_field_tag 'date_from', @date_f,:class =>"input_short"
      %tr  
        %td Hasta
      %tr
        %td
          = text_field_tag 'date_to', @date_t,:class =>"input_short"
      %tr
        %td Dominio
      %tr
        %td
          = text_field_tag 'domain', @domain, :size=>6,:class =>"input_short"
      %tr  
        %td Tipo de Servicio
      %tr
        %td
          = collection_select(:service_type, :id, ServiceType.all(:order =>:name), :id, :name, {:include_blank=>:true},{:selected => @service_type_id})
          = image_submit_tag("find.png",:class =>"input_img")
= link_to_back          