-form_for @work_order do |wo_form|
  #services
    = wo_form.hidden_field :car_id
    = wo_form.hidden_field :company_id
    %table.service_table
      %theader
        %th
          %td{:style=>'width:80%'}
            %label.left 
              %h1
                = vineta
                Orden de Trabajo [Estado:
                = @work_order.status
                ]
          %td.number{:style=>'width:20%'}
            %h1
              #total_work_order
                = number_to_currency @work_order.total_price
          %td{:style=>'width:5%'}
    #services_list.ordencontent
      = wo_form.fields_for :services do |s_form|
        = render "service_fields",:f => s_form
    #n_s.hide
      = button_to_add_fields  "Nuevo Servicio",wo_form,:services 
    = wo_form.submit "Grabar",:class =>"btn"
            
