= form_for @work_order do |wo_form|
  - if @car_service_offers.size > 0
    = render 'service_offer'
  #services.overflow
    = wo_form.hidden_field :car_id
    = wo_form.hidden_field :company_id
    = wo_form.hidden_field :company_info
    #wo-actions.left
      .left
        = icon_status @work_order.status                                
      .left
        = wo_form.text_field :performed,:class =>"date",:value => l(@work_order.performed),:title=>"Realizado"
      .left
        = wo_form.select(:payment_method_id,PaymentMethod.all.collect{|v| [v.name,v.id]},{:selected =>wo_form.object.payment_method.id},{:class=>'select left',:title=>"Forma de Pago"})
        = collection_select :new,:service_type,@service_types,:id,:name,{:prompt=> "-- Seleccione Tipo de Servicio --"},{:class=>"input_medium left",:title=>"Agregar nuevo tipo de servicio"}
      = image_tag "new.png",:title=>"Buscar Materiales (Ctrl+M)",:id=>:material_dialog,:class=>:link
      - if wo_form.object.comment != ''              
        %a{:class=>"edit_comment comment link",:title=>"Modificar Comentario"}
      - if wo_form.object.comment == ''
        %a{:class=>"add_comment comment link",:title=>"Agregar Comentario"}              
      .hide
        = wo_form.text_area :comment
    #services_list.ordencontent
      = wo_form.fields_for :services do |s_form|
        = render "service_fields",:f => s_form
    #n_s.hide
      = button_to_add_fields  "Nuevo Servicio",wo_form,:services 
    .buttons
      = link_to_back @work_order.car      
      = wo_form.submit "Grabar",:class =>"button",:disable_with => 'Grabando...'
    #total_work_order
      = number_to_currency @work_order.total_price