.service_type
  %table.services
    %thead
      %tr
        %th{:colspan=>2,:style=>'width:60%'}
          %h2.inline
            %label{:id=>"serviceType"}
            = f.hidden_field :service_type_id,:class=>:service_type_id
            = f.fields_for :service_type do |st_form|
              %label.header_text_lable
                = st_form.object.name
          .service_status
            - if company_id
              = f.collection_select(:operator_id,get_company.operators,:id,:full_name,{:prompt => "-- Seleccione Operario --",:selected =>f.object.operator_id},{:class=>'operator left',:title=>"Operario"})
            = f.select(:status,Status::WO_STATUS.collect{|k,v| [v,k]},{:selected =>f.object.status},{:class=>'status left',:title=>"Estado"})
            = f.hidden_field :_destroy            
            .actions
              .action
                -#= link_to_function("","addEmptyMaterial(this)",{:class =>"new_material new",:title=>"Agregar nuevo material"})
                = link_to "","#",{:class =>"new_material new",:title=>"Agregar nuevo material"}
                -#= link_to_function("","showTask(this)",{:class =>"taks new"});
              .action
                %a{:class=>"add_comment comment link",:title=>"Agregar Comentario"}
        %th{:style=>'width:10%'}
          %label.right Cantidad
        %th{:style=>'width:10%'}
          %label.right Precio
        %th.number{:style=>'width:15%'}
          .total_service
            = number_to_currency(f.object.total_price)
        %th.number{:style=>'width:5%'}
          .remove_service.right
            = link_to_remove_fields f,:services,"Borrar Servicio"
    %tbody
      = f.fields_for :material_services do |ms_form|
        =render "material_service_fields",:f => ms_form      
  #n_s.hide
    = button_to_add_fields "Nuevo Material",f,:material_services
  .task_list{:id=>"task_list_#{f.object.service_type_id}"}
    = f.fields_for :service_type do |st_form|
      = render 'task_list', :service_type => st_form, :service => f
  = render "comment",:c => f  
    
