= form_for @work_order,:html =>{:class=>"box_bottom"} do |wo_form|
  - if @car_service_offers.size > 0
    = render 'service_offer'
  #services.overflow
    = wo_form.hidden_field :budget_id
    = wo_form.hidden_field :car_id
    = wo_form.hidden_field :company_id
    = wo_form.hidden_field :company_info
    #wo-actions.box_bottom
      = icon_status @work_order.status                                
      = wo_form.text_field :performed,:class =>"date",:value => l(@work_order.performed),:title=>"Realizado",:placeholder=> "Realizado"
      = wo_form.text_field :deliver,:class =>"date_time input_date_time",:value => (@work_order.deliver ? l(@work_order.deliver,format: :short) : ""),:title=>"Hora de Entregar",:placeholder => "Hora de Entregar"
      - if @work_order.deliver
        = wo_form.text_field :deliver_actual,:class =>"date_time input_date_time",:value => (@work_order.deliver_actual ? l(@work_order.deliver_actual) : ""),:title=>"Entregado",:placeholder => "Entregado"
      = wo_form.select(:payment_method_id,PaymentMethod.all.collect{|v| [v.name,v.id]},{:selected =>wo_form.object.payment_method.id},{:class=>'select',:title=>"Forma de Pago"})
      = collection_select :new,:service_type,@service_types,:id,:name,{:prompt=> "-- Seleccione Tipo de Servicio --"},{:class=>"input_medium",:title=>"Agregar nuevo tipo de servicio"}
      .actions.clear
        .action.hide
          = link_to "","#",:title =>"Ver alarma",:class=>"add_alarm "
        .action
          = link_to "","#",:title =>"Ver nota",:class=>"notes_link"
        .action
          = link_to "","#",:title =>"Ver comentario",:class=>"add_comment"
        .action
          = link_to "","#",:title=>"Buscar Materiales (Ctrl+M)",:id=>:material_dialog,:class=>"link new"      

      - if wo_form.object.budget
        .right
          %h1
            Presupuesto Nro:
            = link_to wo_form.object.budget.id,wo_form.object.budget
    = render "comment",:c => wo_form          
    #services_list.ordencontent
      = wo_form.fields_for :services do |s_form|
        = render "service_fields",:f => s_form
    #n_s.hide
      = button_to_add_fields  "Nuevo Servicio",wo_form,:services 
    #total_work_order.total_work_order
      = number_to_currency @work_order.total_price    
    = wo_form.fields_for :notes do |n_form|
      = render "note_fields",:f => n_form

    -#= wo_form.fields_for :alarms do |a_form|
    -#  = render "alarm_fields",:f => a_form
    #wo_save.buttons_container
      - if @update_km
        = wo_form.submit "Grabar",:class =>"button",:data => {"disable-with" => 'Grabando...'},:id => :workorder_submit
      -else
        = wo_form.submit "Grabar",:class =>"button",:data => {"disable-with" => 'Grabando...'},:id => :workorder_submit
      = link_to "Cancelar",car_path(@work_order.car)