= form_for @work_order do |wo_form|
  - if @car_service_offers.size > 0
    = render 'service_offer'
  #services
    = wo_form.hidden_field :car_id
    = wo_form.hidden_field :company_id
    %table
      %theader
        %th
          %td{:style=>'width:80%'}
            %label.left 
              %h1
                = icon_status @work_order.status                
                Realizado
                = wo_form.text_field :performed,:class =>"date",:value => l(@work_order.performed)
          %td.number{:style=>'width:20%'}
            %h1
              #total_work_order
                = number_to_currency @work_order.total_price
          %td{:style=>'width:5%'}
    #services_list.ordencontent
      = wo_form.fields_for :services do |s_form|
        = render "service_fields",:f => s_form
    #n_s.hide
      = button_to_add_fields  "Nuevo Servicio",wo_form,:services 
    = wo_form.submit "Grabar",:class =>"btn"
            
