.service_type
  %table.service_table
    %tr.table_header
      %td{:colspan=>2,:style=>'width:60%'}
        %label{:id=>"serviceType"}
        = f.hidden_field :service_type_id,:class=>:service_type_id
        = f.fields_for :service_type do |st_form|          
          %label.header_text_lable
            = st_form.object.name
        = f.select(:status,WorkordersController::STATUS,{:selected =>f.object.status},{:class=>'status'})
        = f.hidden_field :_destroy        
        = link_to_function image_tag('new.png'), "addEmptyMaterial(this)"
        = f.label :comment, "Comentario ...",:class =>"comments"           
        #coment{:style =>"display:none"}
          Por favor ingrese un comentario
          %br
          = f.text_area :comment, :rows => 3,:cols=>"30"
        %td{:style=>'width:10%'} Cantidad
        %td{:style=>'width:10%'}Precio
        %td.number{:style=>'width:15%'}
          .total_service
            = number_to_currency(f.object.total_price)
        %td.number{:style=>'width:5%'}
          = link_to_remove_fields f,:services         
    = f.fields_for :material_services do |ms_form|
      =render "material_service_fields",:f => ms_form
  #n_s{:style=>"display:none"}
    = button_to_add_fields "Nuevo Material",f,:material_services
