.service_type
  %table.w
    %tbody
      %tr
        %th{:colspan=>2,:style=>'width:60%'}
          %h2.inline
            %label{:id=>"serviceType"}
            = f.hidden_field :service_type_id,:class=>:service_type_id
            = f.fields_for :service_type do |st_form|
              %label.header_text_lable
                = st_form.object.name
          .service_status
            = f.select(:status,Status::WO_STATUS.collect{|k,v| [v,k]},{:selected =>f.object.status},{:class=>'status'})            
            = f.hidden_field :_destroy                   
            = link_to_function(image_tag('new.png',{:class =>"input_img",:title=>"Agregar nuevo material"}), "addEmptyMaterial(this)",{:class =>:new_material})
            - if f.object.comment != ''
              = link_to_function(image_tag('edit_comment.png',{:class =>"input_img",:title=>"Modificar comentario"}), "",{:class =>:comments})
            - if f.object.comment == ''
              = link_to_function(image_tag('add_comment.png',{:class =>"input_img",:title=>"Agregar comentario"}), "",{:class =>:comments})
            .hide
              = f.text_area :comment, :rows => 3,:cols=>"30"
        %th{:style=>'width:10%'}
          %label.right Cantidad
        %th{:style=>'width:10%'}
          %label.right Precio
        %th.number{:style=>'width:15%'}
          .total_service
            = number_to_currency(f.object.total_price)
        %th.number{:style=>'width:5%'}
          .remove_service
            = link_to_remove_fields f,:services,"Borrar Servicio"
    = f.fields_for :material_services do |ms_form|
      =render "material_service_fields",:f => ms_form
  #n_s.hide
    = button_to_add_fields "Nuevo Material",f,:material_services
