%tr    
  %td{:colspan=>2}
    .material
      = f.material unless f.material_service_type
      - if f.material_service_type
        %strong
          = f.material_service_type.material.prov_code
        = f.material_service_type.material.detail        
  %td.number    
    = f.amount
  %td.number
    = number_to_currency f.price 
  %td.number
    .total_item
      = number_to_currency(f.total_price) 
