#services.overflow
  #wo-actions.left
    .service_type.box_bottom
      = icon_status @work_order.status
      %label{title: "Realizado"}
        = l(@work_order.performed)
      %label{title: "Forma de Pago"}
        = @work_order.payment_method.name
      = link_to "[#{@work_order.budget.id}]",budget_path(@work_order.budget),:title => "Presupuesto" if @work_order.budget
      - if @work_order.deliver
        %label.right{title: "Hora de Entrega"}
          = l(@work_order.deliver,format: :short) 
      - if @work_order.comment
        .comment.clear
          = @work_order.comment
  #services_list.ordencontent    
    - @work_order.services.each do |s|
      = render :partial=>"show_service_field",:locals=>{:f => s}
  #total_work_order_v
    = number_to_currency @work_order.total_price
- unless @work_order.notes.empty?
  .notes_container.box_top.w.left
    .box_bottom
      %h1 Notas
    .notes
      = render :partial =>'notes/notes_small_view',:collection => @work_order.notes,:as=>:note   
        