.box_bottom
  %h1
    Orden de Trabajo
    \: 
    = @work_order.id
    \:
    = @work_order.status_name 
  %h1
    = @work_order.company_name
#work_order
  #car_info.barradatos
    = render :partial=>'car_info',:locals =>{:vehicle=>@work_order.vehicle}
  .box_bottom
    .box_top
      = render :partial=>'show_services_list',:locals =>{:work_order=>@work_order}