.service_type.box_bottom
  %table.services
    %thead
      %tr
        %th{:colspan=>2,:style=>'width:60%'}
          %h2.inline
            %label.left{:id=>"serviceType"}
              = f.status_name
              \:
              = f.service_type.name              
              = ": #{f.operator.full_name}" if f.operator              
          .hide
            = f.comment
        %th{:style=>'width:10%'}
          %label.right Cantidad
        %th{:style=>'width:10%'}
          %label.right Precio
        %th.number{:style=>'width:15%'}
          .total_service
            = number_to_currency(f.total_price)
        %th.number{:style=>'width:5%'}
      - if f.vehicle_service_offer
        %tr
          %th.number{:colspan=>4}
            = link_to "Oferta de Servicio", f.vehicle_service_offer,:target => "_blank"
          %th.number
            =number_to_currency(f.vehicle_service_offer.service_offer.final_price)
          %th

    %tbody
      - f.my_material_services.each do |ms|
        =render :partial=> "show_material_service_fields",:locals=>{:f => ms}
  - if f.comment && f.can_view_comments?(current_user)
    .comment.clear
      = f.comment
