.box_bottom
  %h1
    Orden de Trabajo
    \:
    = @work_order.nro
    \:
    = @work_order.status_name
  %h1
    = @work_order.company_name
#work_order
  #car_info.barradatos
    = render :partial=>'car_info',:locals =>{:vehicle=>@work_order.vehicle}
  .box_bottom
    .box_top
      = render :partial=>'show_services_list',:locals =>{:work_order=>@work_order}
  .buttons_container
    -if @work_order.can_edit?(current_user)
      = link_to "Modificar", edit_workorder_path(@work_order),{:class=>:button}

    - if @work_order.deleted?
      = link_to("Restaurar", undelete_workorder_path(@work_order), :data =>{:confirm => '¿ Esta seguro que desea restaurar el Servicio ?'},:method => :put,:title =>"Recuperar",:class=>"button")
    - if @work_order.can_delete?(current_user)
      = link_to "Eliminar", workorder_path(@work_order), :confirm => '¿ Esta seguro que desea borrar el Servicio ?', :method => :delete,:title =>"Eliminar",:class=>:button

    - if @work_order.can_print_pdf? current_user
      = link_to "Imprimir",print_workorder_path(@work_order,:format =>'pdf'),:target => "_blank",:title =>"Imprimir",:class =>:button

    - if @work_order.can_show_pdf?(current_user) && @work_order.have_protections?
      = link_to "Imprimir Protección",workorder_path(@work_order,:format =>'pdf'),:target => "_blank",:title =>"Imprimir Protección",:class => :button
    = link_to t("cancel"),workorders_path