- service_type = service_type.object if defined? service_type.object
%ul#tasks
  - service_type.tasks.each do |task|
    %li
      - if defined? service
        = check_box_tag "service_type_ids[#{service_type.id}][task_ids][]", task.id, service.object.tasks.include?(task)
      - else
        = check_box_tag "service_type_ids[#{service_type.id}][task_ids][]", task.id
      = task.name
