.wo_detail.row[work_order_row]
  - can_show = work_order_row.can_show?(current_user)  
  .domain_white.left
    = link_to work_order_row.car.domain, work_order_row.car
  .services
    - work_order_row.services.each do |s|
      .service             
        - if s.comment
          .left
            %label{:class=>"edit_comment comment",:title=>"#{s.comment}"}
        .left
          = s.service_type.name
        .operator.clear
          -if s.operator
            %label{title: "Operario"}              
              = "#{s.operator.first_name} #{s.operator.last_name}"
  .service_info.clear
    %label.wo_id{:title => "Número del Servicio"}
      = link_to work_order_row.id,work_order_row
    %strong
      Cliente:
    %label
      = "#{work_order_row.car.user.first_name} #{work_order_row.car.user.last_name}"      
    %strong
      Vendedor:
    %label
      = "#{work_order_row.user.first_name} #{work_order_row.user.last_name}"
    .right
      %label{:title => "Realizado"}
        = l work_order_row.performed
      - if can_show
        %label.price_b{:title => "Total"}
          = number_to_currency work_order_row.total_price
  - if multiple_company? || current_user.company.nil?
    .clear.left
      = work_order_row.company_name

  - if can_show
    .actions
      .ajax_loader.left      
      .action
        = link_to("", workorder_path(work_order_row), :data =>{:confirm => '¿ Esta seguro que desea borrar el Servicio ?'},:remote =>true, :method => :delete,:title =>"Eliminar",:class=>"delete") if work_order_row.can_delete?(current_user)
      .action
        = link_to("", edit_workorder_path(work_order_row),:class=>"edit",:title =>"Modificar") if work_order_row.can_edit?(current_user)
      .action
        = print_to_pdf work_order_row
      .action        
        %a{:title=>"Notas",:class=>"new_note_link",:href=>"#"}      
      .action        
        %a{:title=>"Enviar Mensaje",:class=>"new_message",:href=>"#",:data =>{m: user_messages_path(work_order_row.car.user)}}      


  -##rank.rank{:id =>"wo_#{work_order_row.id}"}      
    -#= render 'ranks/view',:workorder => work_order_row
  
  %div{:id=>"wo-notes-#{work_order_row.id}",:class=>"wo_notes clear"}
    = render :partial =>"notes/note_form_np",:locals=>{:wo => work_order_row.id,:b=>nil,:c => nil,:notes =>work_order_row.notes,:id=>work_order_row.id}
  .hide.message{:id => "messages_container_#{work_order_row.id}"}
    = render :partial => "/messages/form_user",:locals => {user: work_order_row.car.user,:element_id => work_order_row.id}