.wo_detail.row  
  - can_show = work_order_row.can_show?(current_user)            
  .company
    .domain
      = link_to work_order_row.car.domain, work_order_row.car
    - if can_show
      .left
        %strong
          Vendedor:
        = "#{work_order_row.user.first_name} #{work_order_row.user.last_name}"
        %br
        %strong
          Cliente:
        = "#{work_order_row.car.user.first_name} #{work_order_row.car.user.last_name}"
        - if work_order_row.payment_method
          = ",#{work_order_row.payment_method.name}"
    .right
      = l work_order_row.performed
  - if can_show
    .right          
      .price_b
        = number_to_currency work_order_row.total_price

  #rank.rank{:id =>"wo_#{work_order_row.id}"}
    - if can_show
      = render 'ranks/rank',:workorder => work_order_row
  .services
    - work_order_row.services.each do |s|
      .service             
        - if s.comment
          .left
            %label{:class=>"edit_comment comment",:title=>"#{s.comment}"}
        = link_to s.service_type.name ,work_order_row
        .operator
          -if s.operator
            %strong
              Operario:
            = "#{s.operator.first_name} #{s.operator.last_name}"
  
  - if can_show
    .actions
      - if work_order_row.comment
        %label{:class=>"edit_comment comment",:title=>"#{work_order_row.comment}"}

      - if work_order_row.can_edit?(current_user)
        = link_to(image_tag('edit.png'), edit_workorder_path(work_order_row),:title =>"Modificar")
        = link_to image_tag('delete.png'), workorder_path(work_order_row), :confirm => '¿ Esta seguro que desea borrar el Servicio ?', :method => :delete,:title =>"Eliminar"    
      = link_to_pdf work_order_row unless current_user.company
      = print_to_pdf work_order_row if current_user.company
      = icon_status work_order_row.status  
  
  