%h1 Listado de Servicios Realizados
%table#sort_table.comboxtable
  %thead
    %col{:class=>current_col_css("cars.domain")}
    %col
    %col{:class=>current_col_css("workorders.created_at")}
    %tr
      %th{:width=>"10%"}
        = sortable "cars.domain","Dominio"
      %th{:width=>"20%"} Detalle
      - unless current_user.company
        %th Empresa
      %th{:width=>"10%"}
        = sortable "workorders.created_at", "Realizado"
      %th{:width=>"10%"} Total
      %th{:width=>"10%"} Estado
      %th{:width=>"5%"} Calif. empresa
      %th{:width=>"5%"} Calif. usuario
  - for work_order in @work_orders
    %tr
      %td
        = link_to work_order.car.domain, work_order.car
      %td
        = link_to work_order.detail, work_order
        
      - unless current_user.company
        %td
          = work_order.company.name
      %td.number
        = l work_order.created_at.to_date
      %td.number
        = number_to_currency work_order.total_price
      %td
        = show_status work_order.status
        -if work_order.open?
          = link_to image_tag('edit.png'), edit_workorder_path(work_order)
        = link_to image_tag('pdf.png'),workorder_path(work_order,:format =>'pdf'),:target => "_blank"
      %td
        -if work_order.finish?
          = get_company_rank(current_user,work_order)
      %td
        -if work_order.finish?
          = get_user_rank(current_user,work_order)

= will_paginate @work_orders,:params =>@filters