- javascript 'workorder'
- javascript 'rank'
- javascript 'jquery.ba-bbq.min'
- javascript 'highcharts'
- unless current_user.is_employee
  :javascript
    $(document).ready(function() {;
      build_price_graph([#{@price_data}],"price_graph","Facturación por Tipo de Servicio");
      build_amt_graph([#{@amt_data}],"amt_graph","Cantidad por Tipo de Servicio");
    })

%all-workorder
  .vertical_menu
    #menu_options.box_bottom
      %ul
        %li
          #cars_link.menu
            = image_tag "cars.png"
            - if current_user.company
              = link_to_unless_current "Autómoviles", cars_path
            - unless current_user.company  
              = link_to "Autómoviles", my_cars_path 
        %li
          #service_done.link.menu
            = image_tag "service.png"
            Servicios Realizados        
        - unless current_user.is_employee
          %li
            #report_amount.link.menu
              = image_tag "graph.png"
              Reporte Importes
          %li
            #report_quantiy.link.menu
              = image_tag "graph.png"
              Reporte Cantidad
          - if current_user.is_administrator
            %li
              #report_detail.link.menu
                = image_tag "report.png"
                Reporte Detalle
    .box_bottom
      = render 'search'
    .menu_actions.box_bottom
      %ul
      - if current_user.company    
        %li
          = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"} 

  .contentright_s
    - if @work_orders.size > 0
      - unless current_user.is_employee
        #workorders_c.data
          #workorders
            = render 'workorders'     
        #price_graph_c.data.hide.chart
          .box_bottom
            %h1 Importes por Tipo de Servicios
          #price_graph.box_bottom
        #amt_graph_c.data.hide.chart
          .box_bottom
            %h1 Cantidad por Tipo de Servicios
          #amt_graph.box_bottom
        - if current_user.is_administrator
          #report_data.data.box_bottom.hide
            = render 'totals'
      - else  
        #workorders_c.data
          #workorders
            = render 'workorders'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
