-# javascript 'workorder'
-# javascript 'notes'
-# javascript 'rank'
-# javascript 'jquery.ba-bbq.min'
-# javascript 'highcharts'
- if current_user.is_administrator?
  :javascript
    $(document).ready(function() {;
      build_price_graph([#{@price_data}],"price_graph");
      build_amt_graph([#{@amt_data}],"amt_graph");      
    })
#all-workorder
  .vertical_menu
    #menu_options.box_bottom
      = render "home/menu"
      - if current_user.is_administrator?
        %li
          #report_amount.link.menu
            = image_tag "graph.png"
            Reporte Importes
        %li
          #report_quantity.link.menu
            = image_tag "graph_money.png"
            Reporte Cantidad        
        %li
          #report_material.link.menu
            = image_tag "graph_money.png"
            Reporte Materiales
        %li
          #report_detail.link.menu
            = image_tag "report.png"
            Reporte Detalle
    .box_bottom
      = render 'search'
    - if company_id
      .menu_actions.box_bottom      
        %ul
          %li
            = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"} 

  .contentright_s
    - if @work_orders.size > 0
      #workorders_c.data          
        #workorders
          = render 'workorders'
      - if current_user.is_administrator?
        #price_graph_c.data.hide.chart            
          .box_bottom
            %h1 Importes por Tipo de Servicios
          #price_graph.box_bottom.graph          
          #price_report.box_bottom
            = render "price_report"
        #amt_graph_c.data.hide.chart
          .box_bottom
            %h1 Cantidad por Tipo de Servicios
          #amt_graph.box_bottom.graph
          #amt_report.box_bottom
            = render "amount_report"                 
        #amt_material_graph_c.data.hide.chart
          = render "material_report"
        #report_data.data.box_bottom.hide
          = render 'totals'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
