- javascript 'workorder'
- javascript 'pagination'
- javascript 'rank'
- javascript 'jquery.ba-url.min'
- javascript 'highcharts'
%all-workorder
  %h1
    = vineta 
    Servicios Realizados
  .contentleft_s
    .contentleft
      = render 'search'
    - if current_user.is_administrator
      #totals.contentleft
        = render 'totals'
    = link_to_back
  .contentright
    - if @work_orders.size > 0
      - unless current_user.is_employee
        #workorder_tabs
          %ul
            %li
              %a{:href => "#tabs-1"} Listado Servicios Realizados
            %li
              %a{:href => "#tabs-2"} Reporte Gráfico
          #tabs-1
            #data.overflow
              #sort_by      
                = render 'sort_by'
              #workorders
                = render 'workorders'
          #tabs-2
            #data{:style=>"overflow-x: hidden;"}
              = render 'graphics'          
      - else  
        #data.overflow
          #sort_by      
            = render 'sort_by'
          #workorders
            = render 'workorders'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
