- javascript 'table.sort'
- stylesheets 'jquery.ui.base.css'
- stylesheets 'jquery.ui.theme.css'
- javascript 'workorder'

%div#search
  - form_tag workorders_path, :method => :put ,:id=>:filter do
    = hidden_field_tag :direction, @direction
    = hidden_field_tag :sort, @sort_column
    %table.service_table
      %thead
        %tr.table_header
          %td{:colspan=>4} Buscar por
      %tbody
        %tr
          %td Desde
          %td
            = text_field_tag 'date_from', @date_f
          %td Hasta
          %td
            = text_field_tag 'date_to', @date_t
        %tr
          %td Dominio
          %td
            = text_field_tag 'domain', @domain, :size=>6
          %td Tipo de Servicio
          %td
            - if @service_type_id.nil?
              = collection_select(:service_type, :id, ServiceType.all(:order =>:name), :id, :name, {:prompt => "-Seleccione un tipo de servicio"})
            - else
              = collection_select(:service_type, :id, ServiceType.all(:order =>:name), :id, :name, {:selected => @service_type_id, :prompt => "-Seleccione un tipo de servicio"})
            = submit_tag 'Ok'

%h1
  Servicios Realizados
%table#sort_table.comunidadbox
  %thead
    %tr
      %th
        = sortable "cars.domain","Dominio"
      %th Detalle
      - unless current_user.company
        %th Empresa
      %th
        = sortable "created_at", "Realizado"
      %th Total
      %th Estado
      %th Calif. empresa
      %th Calif. usuario
  - for work_order in @work_orders
    %tr
      %td
        = link_to work_order.car.domain, work_order.car
      %td
        = link_to work_order.detail, work_order
        
      - unless current_user.company
        %td
          = work_order.company.name
      %td
        = l work_order.created_at.to_date
      %td.number
        = number_to_currency work_order.total_price
      %td
        = work_order.status
        = link_to image_tag('pdf.png'),workorder_path(work_order,:format =>'pdf'),:target => "_blank"
        -if work_order.open?
          = link_to image_tag('edit.png'), edit_workorder_path(work_order)
      %td
        -if work_order.finish?
          = get_company_rank(current_user,work_order)
      %td
        -if work_order.finish?
          = get_user_rank(current_user,work_order)

= will_paginate @work_orders
%br
= link_to_back