-# javascript 'workorder'
-# javascript 'notes'
-# javascript 'rank'
-# javascript 'jquery.ba-bbq.min'
-# javascript 'highcharts'
- unless current_user.get_companies.empty?
  :javascript
    $(document).ready(function() {;
      build_price_graph([#{@price_data}],"price_graph");
      build_amt_graph([#{@amt_data}],"amt_graph");      
    })
#all-workorder
  .vertical_menu
    #menu_options.box_bottom
      %ul
        %li
          #cars_link.menu
            = image_tag "cars.png"
            - if company_id
              = link_to_unless_current "Clientes", clients_path
            - else
              = link_to "Mis Autos", my_cars_path 
        - if company_id
          %li
            #control_panel_link.menu
              = image_tag "control-panel.png"
              = link_to "Panel de Control",control_panels_path 
        %li
          #service_done.link.menu
            = image_tag "service.png"
            Servicios Realizados        
        %li
          #control_panel_link.menu
            = image_tag "budget.png"
            = link_to "Presupuestos",budgets_path   
        %li
          #service_offer.link.menu
            = image_tag "service_offer.png"
            = link_to "Ofertas de Servicio" , service_offers_path
        = render "/home/new_menu"
        %li
          #service_center_link.menu
            = image_tag "find.png"        
            = link_to "Prestadores de Servicios", all_companies_path   
        - if current_user.is_administrator?
          %li
            #report_amount.link.menu
              = image_tag "graph.png"
              Reporte Importes
          %li
            #report_quantiy.link.menu
              = image_tag "graph_money.png"
              Reporte Cantidad        
          %li
            #report_material.link.menu
              = image_tag "graph_money.png"
              Reporte Materiales
          %li
            #report_detail.link.menu
              = image_tag "report.png"
              Reporte Detalle
    .box_bottom
      = render 'search'
    .menu_actions.box_bottom      
      - if company_id
        %ul
          %li
            = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"} 

  .contentright_s
    - if @work_orders.size > 0
      #workorders
        #workorders_c.data          
          #workorders
            = render 'workorders'
        - unless current_user.get_companies.empty?
          #price_graph_c.data.hide.chart            
            .box_bottom
              %h1 Importes por Tipo de Servicios
            #price_graph.box_bottom.graph          
            #price_report.box_bottom
              = render "price_report"
          #amt_graph_c.data.hide.chart
            .box_bottom
              %h1 Cantidad por Tipo de Servicios
            #amt_graph.box_bottom.graph
            #amt_report.box_bottom
              = render "amount_report"       
          - if current_user.is_administrator?
            #amt_material_graph_c.data.hide.chart
              = render "material_report"
            #report_data.data.box_bottom.hide
              = render 'totals'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
