- stylesheets 'jquery-ui-1.8.11.custom.css'
- javascript 'workorder'
- javascript 'pagination'
- javascript 'rank'
- javascript 'jquery.ba-url.min'
%all-workorder
  %h1
    = vineta 
    Servicios Realizados
  .contentleft_s
    .contentleft
      = render 'search'
    #totals.contentleft
      = render 'totals'

  .contentright
    - if @work_orders.size > 0
      #sort_by
        %h1.left Listado de Servicios Realizados
        = render 'sort_by'
      #workorders
        = render 'workorders'
    - else
      = render 'shared/message', :msg =>"No hay servicios realizados"
