%tr
  %td
    = f.text_field :service_type
  %td
    = f.text_field :material
  %td
    = f.text_field :material, :price
  %td
    = f.text_field :material, :amount
  %td
    = f.label :material,:total,0
  %td            

		
