.vertical_menu
  = render "home/menu"
  .box_bottom
    .menu_actions
      %ul
        %li
          %a.rank{:href=>"#"}Calificar
        %li
          %a.send_msg{:href=>"#"}Enviar Mensaje        
        %li
          - if current_user.company_id
            = link_to "Imprimir",print_workorder_path(@work_order,:format =>'pdf'),:target => "_blank",:title =>"Imprimir"
          - else
            = link_to "Imprimir",workorder_path(@work_order,:format =>'pdf'),:target => "_blank",:title =>"Imprimir"
        -if @work_order.can_edit?(current_user)
          %li
            = link_to "Modificar", edit_workorder_path(@work_order)
        - if @work_order.can_delete?(current_user)
          %li
            = link_to "Eliminar", workorder_path(@work_order), :confirm => '¿ Esta seguro que desea borrar el Servicio ?', :method => :delete,:title =>"Eliminar"
.contentright_s
  .div{:id=>"wo_#{@work_order.id}"} 
    - can_show = @work_order.can_show? current_user
    = render "show" if can_show
    = render "s_show" unless can_show