.vertical_menu
  = render "home/menu"
  .box_bottom
    .menu_actions
      %ul
        %li
          = link_to "Imprimir",print_workorder_path(@work_order,:format =>'pdf'),:target => "_blank",:title =>"Imprimir"
        -if @work_order.can_edit?(current_user)
          %li
            = link_to "Modificar", edit_workorder_path(@work_order)
.contentright_s
  .div{:id=>"wo_#{@work_order.id}"} 
    .box_bottom
      %h1
        Orden de Trabajo: 
        = @work_order.company_name
    - can_show = @work_order.can_show? current_user
    = render "show" if can_show
    = render "s_show" unless can_show
    #ranks_container.hide
      #ranks.ranks.box_bottom
        = render :partial => "ranks/rank",:locals => {:workorder =>@work_order}      
      #rank_info.box_bottom
        %h3 Calificar cliente
      = render :partial => "ranks/new",:locals => {:workorder =>@work_order}