#menu_options.box_bottom
  %ul
    %li
      #cars_link.menu        
        = image_tag "cars.png"
        - if company_id
          = link_to "Clientes", clients_path
        - else
          = link_to "Mis Autos", my_cars_path          
    - if company_id
      %li
        #control_panel_link.menu
          = image_tag "control-panel.png"
          = link_to "Panel de Control",control_panels_path            
    %li
      #service_done_link.menu
        = image_tag "service.png"
        = link_to "Servicios Realizados",workorders_path
    %li
      #control_panel_link.menu
        = image_tag "budget.png"
        = link_to "Presupuestos",budgets_path      
    %li
      #service_offer.link.menu
        = image_tag "service_offer.png"
        = link_to "Ofertas de Servicio" , service_offers_path
    = render "/home/new_menu"
    %li
      #service_center_link.menu
        = image_tag "find.png"        
        = link_to "Prestadores de Servicios", all_companies_path      
    
#menu_actions
  #cars_menu.menu_data.hide.box_bottom    
    =render :partial=>"cars/search_car",:locals =>{:cars=>[],:table_id =>:sort_table}
  #clients_menu.menu_data.hide.box_bottom
    = render "clients/search_clients"
