#s3slider
  %ul#s3sliderContent
    %li.s3sliderImage
      = image_tag "home/pantalla-1.png"      
      %span
        %strong Servicios Realizados
        %br Consulte los servicios realizados por fecha, estado, tipo y dominio
    %li.s3sliderImage
      = image_tag "home/pantalla-2.png"
      %span 
        %strong Reportes Gráficos
        %br Visualize en forma gráfica servicios realizados
    %li.s3sliderImage
      = image_tag "home/pantalla-3.png"
      %span 
        %strong Listado de Clientes
        %br Localize automóviles, y clientes de forma rápida
    %li.s3sliderImage
      = image_tag "home/pantalla-4.png"
      %span 
        %strong Prestadores de Servicio
        %br Localize Prestadores de Servicios en Google Map
    %li.s3sliderImage
      = image_tag "home/pantalla-5.png"
      %span 
        %strong Panel de Control
        %br Visualize en forma gráfica vencimientos de servicios a realizar
    %li.s3sliderImage
      = image_tag "home/pantalla-6.png"
      %span
        %strong Servicios a Realizar
        %br Visualize eventos a realizar, y cree ofertas de servicio 
    %li.s3sliderImage
      = image_tag "home/pantalla-7.png"
      %span
        %strong Servicios Realizados
        %br Visualize los servicios realizados a un automóvil
    %li.s3sliderImage
      = image_tag "home/pantalla-8.png"
      %span
        %strong Reporte Grafico
        %br Visualize en forma gráfica servicios realizados
    .clear.s3sliderImage