-# javascript 'jquery.shuffleLetters.js'

-if current_user    
  .vertical_menu
    - if current_user.is_super_admin?
      = render "conf/menu"
    - else
      = render "menu"
      = render "default_actions"
  .contentright_s  
    #default.data
      = render "welcome_msg"
      = render "new_msgs"

-else
  #default.data  
    = render "welcome_msg"    
    = render "what_is_combo"
      


:javascript
  $(document).ready(function(){    
    $("#comunidadbox h1").shuffleLetters("Comunidad Box");
    $("#comunidadbox span").delay(4000).fadeIn('slow');

    if ($('#s3slider').length > 0){
      $('#s3slider').s3Slider({timeOut: 6000});
    }
  })

