-# javascript 'jquery.shuffleLetters.js'

-if current_user  
  .vertical_menu
    - unless current_user.is_administrator?
      = render "menu"
      = render "default_actions"
    - else
      = render "conf/menu"
  .contentright_s  
    #default.data  
      = render "welcome_msg"    
      = render "new_msgs"    

-unless current_user
  #default.data  
    = render "welcome_msg"    
    -unless current_user
      = render "sliders"    
      


:javascript
  $(document).ready(function(){    
    $("#comunidadbox h1").shuffleLetters("Comunidad Box");
    $("#comunidadbox span").delay(4000).fadeIn('slow');

    if ($('#s3slider').length > 0){
      $('#s3slider').s3Slider({timeOut: 6000});
    }
  })

