- javascript 'jquery.shuffleLetters.js'

-if current_user  
  .vertical_menu
    = render "home/menu"
    = render "home/default_actions"
  .contentright_s  
    #default.data  
      = render "home/welcome_msg"    
      = render "home/new_msgs"    

-unless current_user
  #default.data  
    = render "home/welcome_msg"    
    -unless current_user
      = render "home/sliders"    
      
:javascript
  $(document).ready(function(){    
    $("#comunidadbox h1").shuffleLetters("Comunidad Box");
    $("#comunidadbox span").delay(4000).fadeIn('slow');
    $('#s3slider').s3Slider({timeOut: 6000});
  })
    