#welcome_msg
  %p.title Bienvenido a Comunidad Box !!!
  %br
  %p.msg
    Ud. ha ingresado al mejor sitio sobre Servicios al automotor. Disfrutelo !!!
  - unless user_signed_in?
    %br
    Si usted ya es usuario por favor    
    = link_to "Ingrese al Sitio",new_user_session_path
    , si no es usuario aún, lo invitamos a que se #{link_to "Registrarse", new_user_registration_path}.
  - if user_signed_in?
    %br
    %ul
      - if current_user.has_company
        %li
          = link_to "Nuevo Cliente", new_client_users_path
        %li
          = link_to "Panel de control" , control_panels_path                 
      %li
        = link_to "Mis Autos", cars_path
      %li
        = link_to "Servicios Realizados" , workorders_path
      %li
        = link_to "Mis Proximos Servicios" , future_events_users_path
      %li
        = link_to "Mis Alarmas", alarms_path
      %li
        = link_to "Mis Ofertas de Servicios", list_service_offer_users_path
      %li
        = link_to "Buscar Prestador de Servicio", companies_path        
      %li
        = link_to "Mi Perfil", edit_user_registration_path        
      %li
        = link_to "Mis Empresas", companies_path
           