- is_client = current_user.is_client?(event.user)
.cp_event.event[event]
  .small_event
    - oe = @other_events[event.vehicle_id]
    - css = oe ? "other_event qtip":""
    %div{:class=>"#{my_event_class(event)} #{css}"}
      - st = create_service_type_tool_tip oe
      %label{:title =>"#{st}",:class =>:link}
        = event.vehicle.domain
    - if is_client
      .link.due_date{:title =>"Mas Detalle"}
        = l event.dueDate
    - else
      .due_date
        = l event.dueDate
    -unless event.is_green
      .hide
        = check_box_tag("checked_ids[]", event.vehicle.id,false,{:class=>"checkbox"})
    - e_css = event.notes.empty? ? "" : "has_notes"
    - a_css = event.has_alarms_for?(current_user) ? "has_alarms" : ""
    .left
      .event_notes{:class=>e_css,:title=>event.notes_txt}
      .event_alarm{:class=>a_css,:title=>""}

  -if is_client
    %div{:class=>"#{big_event_class(event)} link"}
      .url
        = event_notes_path(event)
      .alarm_url
        = event_alarms_path(event)
      .message_url
        = user_messages_path(event.vehicle.user)
      .domain
        = link_to event.vehicle.domain, vehicle_path(event.vehicle)
      .vehicle
        = "#{event.vehicle.brand.name} #{event.vehicle.model.name}"
      .km
        = number_with_precision event.vehicle.km,:precision =>0
      .km_avg
        = number_with_precision event.vehicle.kmAverageMonthly,:precision =>0
      .due_date
        = l event.dueDate
      .total_company_spend
        = number_to_currency(event.vehicle.total_spend(company_id,event.service_type.id))
      .total_spend
        = number_to_currency(event.vehicle.total_spend(nil,event.service_type.id))
      .user_full_name
        = event.vehicle.user.full_name
      .user_email
        = event.vehicle.user.email
      .user_phone
        = number_to_phone event.vehicle.user.try(:phone)