%div{:class=>"#{my_event_class(event)}"}
  - oe = @other_events[event.car_id]
  - css = oe ? "other_event qtip":""
  .small_event
    -unless event.is_green
      .right
        = check_box_tag("checked_ids[]", event.car.id,false,{:class=>"red checkbox"})
    %div
      %div{:class=>css}
        - st = create_service_type_tool_tip oe
        %label{:title =>"#{st}"}
          = link_to event.car.domain, event.car
    .left.clear.link.due_date{:title =>"Mas Detalle"}
      = l event.dueDate

%div{:class=>"#{event_class(event)} #{big_event_class(event)} link"}
  .left.domain
    =event.car.info
  .left 
    %lable{:title=>"Km actual"}   
      %strong
        Km:
      = event.car.km
  .right    
    %lable{:title=>"Km Promedio Mensual"}
      %strong
        Km: 
      = event.car.kmAverageMonthly
  .left.clear{:title=>"Fecha a Realizar"}
    = l event.dueDate
  %strong.left.clear{:title=>"Importe gastado en tu empresa"}
    = number_to_currency(event.car.total_spend(current_user.current_company.id,event.service_type.id))
  .right{:title=>"Importe gastado en total"}
    = number_to_currency(event.car.total_spend(nil,event.service_type.id))
  -if event.service.workorder.company.id == current_user.company.id
    .left.clear
      = event.car.user.full_name
    .left
      = event.car.user.email
    -if event.car.user.phone
      .left.clear
        %strong
          Tel:
        = event.car.user.phone  