.event[event]
  .small_event
    - oe = @other_events[event.car_id]
    - css = oe ? "other_event qtip":""      
    %div{:class=>"#{my_event_class(event)} #{css}"}
      - st = create_service_type_tool_tip oe
      %label{:title =>"#{st}"}
        = link_to(event.car.domain, "#")
    .link.due_date{:title =>"Mas Detalle"}
      = l event.dueDate
    -unless event.is_green
      .hide
        = check_box_tag("checked_ids[]", event.car.id,false,{:class=>"checkbox"})
    - e_css = event.notes.empty? ? "" : "has_notes"
    - a_css = event.alarms.empty? ? "" : "has_alarms"
    .left
      .event_notes{:class=>e_css,:title=>event.notes_txt}
      .event_alarm{:class=>a_css,:title=>""}

  %div{:class=>"#{big_event_class(event)} link"}
    .url
      = event_notes_path(event)
    .alarm_url
      = event_alarms_path(event)
    .domain
      = event.car.domain
    .car
      = "#{event.car.brand.name} #{event.car.model.name}"
    .km
      = number_with_precision event.car.km,:precision =>0
    .km_avg 
      = number_with_precision event.car.kmAverageMonthly,:precision =>0
    .due_date
      = l event.dueDate
    .total_company_spend
      = number_to_currency(event.car.total_spend(company_id,event.service_type.id))
    .total_spend
      = number_to_currency(event.car.total_spend(nil,event.service_type.id))
    -if (big_event_class(event) == "my_big_event")
      .user_full_name
        = event.car.user.full_name
      .user_email
        = event.car.user.email      
      .user_phone
        = number_to_phone event.car.user.try(:phone)