.events
  .service_event.left
    %label.left.clear
      Servicio Originador:
      %strong
        = link_to @event.service.workorder.id,@event.service.workorder
    %label.left.clear
      Realizado:
      %strong
        = l @event.service.workorder.performed
    %label.left.clear
      .service
        =@event.service.service_type.name   
    %label.left.clear
      Precio:
      %strong
        = number_to_currency @event.service.total_price
    %label.left.clear
      Empresa:
      %strong
        = @event.service.workorder.company.name
    %label.left.clear
      Operario:
      %strong
        = @event.service.workorder.user.full_name
    -if @event.service.workorder.operator
      %label.left.clear
        Usuario:
        %strong
          = @event.service.workorder.operator.full_name
  .event_detail.service_event.left
    %label.left.clear
      Evento:
      %strong
        = @event.id
    %label.left.clear
      Realizar:
      = event_class @event
    .service.left.clear
      = @event.service_type.name
    %label.left.clear
      Estado:
      = icon_status @event.status  
  -if @event.service_done.workorder.id
    .service_event.right  
      Servicio Cancelado
      = @event.service_done.workorder.id