= form_for :rank,:url => ranks_path,:remote =>true,:html => {:id=>:rank_form} do |f|
  = f.hidden_field :cal      
  = f.hidden_field :type_rank,:value => current_user.company ? 2 : 1
  = f.hidden_field :workorder_id,:value =>workorder.id
  %table
    %tr
      %td
        %label Calificación
      %td      
        .rank
          = show_rank workorder
          %label.rank_select_msg
        %label.rank_msg Seleccione una estrella
    %tr
      %td
        = f.label :comment  
      %td
        = f.text_area :comment,:cols => 50,:rows =>5  
  .buttons_container    
    = f.submit "Grabar",:class=>:button
    = link_to "Cancelar",workorders_path
