= f.hidden_field :cal      
= f.hidden_field :type_rank
= f.hidden_field :workorder_id
%table
  %tr
    %td
      = f.label :rank
    %td      
      .rank
        = show_rank f.object.cal,:link
        %label.rank_select_msg
      %label.rank_msg 
        = t '.select_a_star'
  %tr
    %td
      = f.label :comment  
    %td
      = f.text_area :comment,:cols => 50,:rows =>5
