%h1 Listing ranks
%table
  %tr
    %th Value
    %th Comment
  - @ranks.each do |rank|
    %tr
      %td= h rank.value
      %td= h rank.comment
      %td= link_to 'Show', rank
      %td= link_to 'Edit', edit_rank_path(rank)
      %td= link_to 'Destroy', rank, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New rank', new_rank_path