#menu_options.box_bottom
  %ul
    %li
      .link.menu
        =link_to "Materiales",materials_url
    %li
      .link.menu
        =link_to 'Tareas', tasks_path
    %li
      .link.menu
        = link_to "Tipos de Servicios",service_types_path
    %li
      .link.menu
        = link_to "Marcas",brands_path
    %li
      .link.menu
        = link_to "Modelos",models_path
    %li
      .link.menu
        = link_to "Provincias",states_path
    %li
      .link.menu
        = link_to "Ofertas de Servicios", service_offers_path
    %li
      .link.menu
        = link_to "Notificacion de Alarmas", list_alarm_now_alarms_path
