= f.hidden_field :user_id
%table.w
  %tr
    %td{:colspan=>2}
      = vineta
      %h1 Datos de la Empresa
  %tr
    %td
      %label Nombre
    %td
      = f.text_field :name
  %tr
    %td
      %label CUIT
    %td
      = f.text_field :cuit
  %tr
    %td
      %label Teléfono
    %td
      = f.text_field :phone
  %tr
    %td
      %label Sitio Web
    %td
      = f.text_field :website
  %tr
    %td
      %label Activar
    %td
      =f.check_box :active
