%table
  %tbody
    %tr
      %td
        %label Nombre
      %td
        = f.text_field :name
        = f.text_field :active
    %tr
      %td
        %label CUIT
      %td
        = f.text_field :cuit
    %tr
      %td
        %label Teléfono
      %td
        = f.text_field :phone
    %tr
      %td
        %label Sitio Web
      %td
        = f.text_field :website
