= render 'shared/error_messages', :target => @company
= f.hidden_field :user_id
#company_data
  %h3
    Información del Prestador de Servicio
  #d_info_sc.company_info.box_bottom
    %table
      %tbody
        %tr
          %td{:style=>"width:150px"}
            %label Nombre
          %td
            = f.text_field :name,:class=>"input_medium"
            = f.hidden_field :active
        %tr
          %td
            %label CUIT
          %td
            = f.text_field :cuit,:class=>"input_medium"
        %tr
          %td
            %label Teléfono
          %td
            = f.text_field :phone,:class=>"input_medium"
        %tr
          %td
            %label Sitio Web
          %td
            = f.text_field :website,:class=>"input_medium"
  %h3#h_address_sc
    Direccion del Prestador de Servicio
  #d_address_sc.company_address.box_bottom
    = f.fields_for :address do |ad|
      = render 'companies/company_address_fields', :ad => ad