= render 'shared/error_messages', :target => @company
= f.hidden_field :user_id
#company_data
  %h3
    = t (".service_senter_information")    
  #d_info_sc.company_info.box_bottom
    %table
      %tbody
        %tr
          %td{:style=>"width:100px"}
            %label
              = t(:name)
          %td
            = f.text_field :name,:class=>"input_medium"
            = f.hidden_field :active
        %tr
          %td{:style=>"width:100px"}
            %label
              Código
          %td
            = f.text_field :code,:class=>"input_medium",:size=>3, :maxlength =>3,:placeholder =>"XXX"
        %tr
          %td
            %label 
              = t(:cuit)
          %td
            = f.text_field :cuit,:class=>"input_medium"
        %tr
          %td
            %label 
              = t :phone
          %td
            = f.text_field :phone,:class=>"input_medium"
        %tr
          %td
            %label 
              = t :web_site
          %td
            = f.text_field :website,:class=>"input_medium"
        %tr
          %td
            =f.label :headquarter
          %td
            = f.check_box :headquarter
  %h3#h_address_sc
    = t ".service_center_address"
  #d_address_sc.company_address.box_bottom
    = f.fields_for :address do |ad|
      = render 'companies/company_address_fields', :ad => ad
  .box_bottom
    %h3
      = t ".company_logo"

    .image_galery
      .image        
        - if f.object.logo_url
          = image_tag @company.logo_url(:logo).to_s,:alt => ""
        
        = f.check_box :remove_logo
        = f.file_field :logo
        .small_text
          La Imagen se va a modificar hasta ajustarse a 300 x 100 pixels
  #image.box_bottom
    %h3
      = t ".company_image_title"
    .image_galery
      .small_text
        Las Imagenes se modificaran hasta ajustarse a 600 x 400 pixels
      = f.fields_for :images do |img_form|
        .image
          - if img_form.object.image_url
            = image_tag img_form.object.image_url(:thumb).to_s,:alt => ""
            %br
            = img_form.check_box :_destroy 
          = img_form.file_field :image
