
.box_bottom
  %h3=t(".search")
  #service_center
    .form
      = form_for :company, :remote =>true, :url => search_companies_path do |f|
        %table.w
          %tr
            %td
              = text_field_tag 'name',"",:class=>"labelify input",:title=>t(".name")
            %tr
              %td
                = text_field_tag 'street',"",:class=>"labelify input",:title=>t(".address")
            %tr
              %td
                = text_field_tag 'city',"",:class=>"labelify input",:title=>t(".city")
            %tr
              %td
                = f.collection_select(:state_id, State.order(:name), :id, :name, {:prompt=>t(".state")},{:style=>"width:184px;margin:2px 0px 0px 2px;",:class=>"state"})
            %tr
              %td
                = image_submit_tag("find.png",:class =>"input_img")
    .ajax_loader.right
.box_bottom    
  %h3=t(".search_by_address")
  .form1
    = form_for :company, :url => search_distance_companies_path do |f|
      %table.w
        %thead
          %tr
            %td
              = text_field_tag 'street', "",:class=>"labelify input",:title=>t(".address")
          %tr
            %td
              = text_field_tag 'distance', "",:class=>"labelify input",:title=>t(".radius")
          %tr
            %td    
              = image_submit_tag("find.png",:class =>"input_img")  