%h3 Buscar
#service_center.box_bottom
  .form
    - form_for :company, :remote =>true, :url => search_companies_path do |f|
      = text_field_tag 'name',"",:class=>"labelify",:title=>"Nombre"
      = text_field_tag 'street',"",:class=>"labelify",:title=>"Dirección"
      = text_field_tag 'city',"",:class=>"labelify",:title=>"Ciudad"
      = f.collection_select(:state_id, State.find(:all,:order=>:name), :id, :name, {:prompt=>"-- Provincia --"},{:class=>"state"})
      = image_submit_tag("find.png",:class =>"input_img")
  .ajax_loader.right

%h1 Buscar por cercania
- form_for :company, :url => search_distance_companies_path do |f|
  %table.w
    %thead
      %tr
        %td Dirección de origen
      %tr
        %td
          = text_field_tag 'street', @street
      %tr
        %td A un radio de (en km)
      %tr
        %td
          = text_field_tag 'distance', @distance
          = image_submit_tag("find.png",:class =>"input_img")

.buttons
  = link_to_back root_path
  - if current_user
    = link_to "Nueva Empresa", new_company_path,{:class =>"button"}
