%h1 Buscar
- form_for :company, :remote =>true, :url => search_companies_path do |f|
  %table.w
    %thead
      %tr
        %td Nombre
      %tr
        %td
          = text_field_tag 'name'
      %tr
        %td Dirección
      %tr
        %td
          = text_field_tag 'street'
      %tr
        %td Ciudad
      %tr
        %td
          = text_field_tag 'city'
      %tr
        %td Provincia
      %tr
        %td
          = f.collection_select(:state_id, State.find(:all,:order=>:name), :id, :name, {:include_blank=>:true},{:class=>"state medium_select"})
          = image_submit_tag("find.png",:class =>"input_img")

-if current_user
  = button_to "Nueva Empresa", new_company_path,{:method =>:get,:class =>"btn_b"}
= link_to_back root_path
