= hidden_field_tag :full_address, @company.full_address
%table.service_table
  %tbody
    %tr
      %td{width:'100px'}
        Nombre
      %td
        = @company.name
    %tr.header
      %td Sitio Web
      %td
        = link_to(h(@company.website),"http://#{h(@company.website)}" , :target => "_blank")
    %tr
      %td Teléfono
      %td
        = h @company.phone
    %tr
      %td Ranking
      %td
        = @company.user_rank
-if @company.address
  .box_bottom
    %h3 Dirección
  %table
    %tbody
      = hidden_field_tag :full_address, @company.address.to_text        
      %tr
        %td{width:'100px'}
          Provincia
        %td
          = @company.address.state.name
      %tr
        %td
          %label{ :for => "city" }Ciudad    
        %td
          = @company.address.city    
      %tr
        %td
          %label{ :for => "street" }Calle
        %td
          = @company.address.street
      %tr
        %td
          %label{ :for => "zip" }Código Postal    
        %td
          = @company.address.zip

