= hidden_field_tag :full_address, @company.full_address
%table.service_table
  %tbody
    %tr
      %td{width:'100px'}=t(".name")
      %td
        = @company.name
    %tr.header
      %td=t(".web")
      %td
        = link_to(h(@company.website),"http://#{h(@company.website)}" , :target => "_blank")
    %tr
      %td=t(".phone")
      %td
        = number_to_phone @company.phone
    %tr
      %td=t(".ranking")
      %td
        = @company.user_rank
-if @company.address
  .box_bottom
    %h3=t(".address")
  %table
    %tbody
      = hidden_field_tag :full_address, @company.address.to_text        
      %tr
        %td{width:'100px'}=t(".state")

        %td
          = @company.address.state.name
      %tr
        %td
          %label{ :for => "city" }=t(".city")    
        %td
          = @company.address.city    
      %tr
        %td
          %label{ :for => "street" }=t(".street")
        %td
          = @company.address.street
      %tr
        %td
          %label{ :for => "zip" }=t(".zip")    
        %td
          = @company.address.zip

