= hidden_field_tag :full_address, @company.full_address
%table.service_table
  %tbody
    %tr
      %td{width:'100px'}=t(".name")
      %td
        = @company.name
        %strong
          \:
          = @company.headquarter ? t('.headquarter') : t('.subsidiary')
    %tr
      %td Código
      %td
        = @company.code
    %tr.header
      %td=t(".web")
      %td
        = link_to(h(@company.website),"http://#{h(@company.website)}" , :target => "_blank")
    %tr
      %td=t(".phone")
      %td
        = number_to_phone @company.phone
    %tr
      %td=t(".ranking")
      %td
        = @company.user_rank
-if @company.address
  .box_bottom
    %h3=t(".address")
  %table
    %tbody
      = hidden_field_tag :full_address, @company.address.to_text        
      %tr
        %td{width:'100px'}=t(".state")

        %td
          = @company.address.state.name
      %tr
        %td
          %label{ :for => "city" }=t(".city")    
        %td
          = @company.address.city    
      %tr
        %td
          %label{ :for => "street" }=t(".street")
        %td
          = @company.address.street
      %tr
        %td
          %label{ :for => "zip" }=t(".zip")    
        %td
          = @company.address.zip
  - if @company.logo_url
    .box_bottom
      %h3
        = t ".logo"
    .image_galery
      .image        
        %a.company_image{:href =>"#","data-image-url" =>@company.logo_url.to_s}
          = image_tag @company.logo_url(:logo).to_s,:alt => ""

  - unless @company.images.empty?
    .box_bottom
      %h3
        = t ".images"
    .image_galery
      - @company.images.each do |image|
        - if image.image        
          .image
            %a.company_image{:href =>"#","data-image-url" =>image.image_url.to_s}
              = image_tag image.image_url(:thumb).to_s,:alt => ""              
    #company_big_image      
      %img{:src=>"", :alt=>""}

