
- javascript 'maps'
- javascript 'search_company_map'

.vertical_menu
  - if current_user
    = render "home/menu"
  -unless current_user
    = render "home/nu_menu"
  .box_buttom
    = render "search"
.contentright_s  
  #companies.data
    - if @json
      = render "search_map"
    - else
      = render "all_companies"
    .hide
      = render "maps"
  #new_company.data.hide
  #cars.data.hide

