
-# javascript 'maps'
-# javascript 'search_company_map'

.vertical_menu
  - if current_user
    = render "home/menu"  
  = render "search"
  -if current_user
    .menu_actions.box_bottom
      %ul
        - if company_id
          %li
            = link_to t(".new_client"), new_client_path         
.contentright_s  
  #companies.data
    = render "all_companies"
    .hide
      = render "gmap4rails"
    .hide
      = render "maps"
  #new_company.data.hide
  #cars.data.hide
  #vehicles.data.hide
  #company_big_image
    %img{:src=>"", :alt=>""}
