- form_for(@company) do |f|
  = render 'shared/error_messages', :target => @company
  %h1 Modificar Compañía
  .contentleft  
    = render :partial=>'form', :locals=>{:f => f}
  .contentright
    = f.fields_for :address do |a|
      = render :partial =>'company_address_fields', :locals  =>{:f => a}
    = f.submit "Actualizar",:class=>"btn" 
    |
    = link_to image_tag("return.png"),companies_path
