.vertical_menu
  = render "admin/menu"
.contentright_s
  .box_bottom
    %h1 Modificar Empresa
  = form_for @company,:html => {:multipart => true} do |f|
    = render "form",:f => f
    .box_bottom.buttons_container
      = f.submit "Grabar",:class=>"button" 
      = link_to "Cancelar",@company