- form_for(@company) do |f|
  = render 'shared/error_messages', :target => @company
  %h1 Modificar Compañía
  .contentleft  
  .contentright
    %table
      %tbody
        %tr
          %td
            %h1 Datos Empresa
          = render 'form', :f => f
        %tr
          %td
            %h1 Dirección
        = f.fields_for :address do |a|
          = render 'company_address_fields', :ad => a
    = f.submit "Actualizar",:class=>"btn" 
    = link_to_back companies_path
