- javascript 'maps'
- javascript 'search_company_map'
.vertical_menu
  = render "admin/menu"
  #filtro
    = render "search"
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nueva Empresa", new_company_path
.contentright_s
  .box_bottom
    %h1 Mis Empresas
  #all_companies
    #comp_map
      #companies
        = render :partial=>"company",:collection => @companies,:locals =>{:active => :true}
      = render "maps"