- @company.build_address if @company.address.nil?
%h1
  Nueva Empresa
- form_for(@company) do |f|
  = render 'shared/error_messages', :target => @company
  .contentleft
    = render :partial =>"form",:locals =>{:f =>f}
  .contentright
    = f.fields_for :address do |a|
      = render :partial =>'company_address_fields', :locals  =>{:f => a}
    = f.submit "Grabar",:class=>"btn" 
    |
    = link_to_back
      