-# javascript 'company_service'
.vertical_menu
  =render "admin/menu"
.contentright_s
  .box_bottom
    %h1 Listado Tipo de Servicio
  
  #company_services   
    .hide 
      = form_for :service_type do |f|
        = f.text_field :id
    %table{:id=>'sort_table',:class=>'comboxtable'}
      %thead
        %tr
          %th Nombre
          %th Pertenece a
          %th Km
          %th Días
          %th Seleccionados                   
      - for service_type in @all_service_types
        %tr
          %td
            = service_type.name
          %td 
            -if service_type.parent   
              = service_type.parent.name
          %td
            = service_type.kms
          %td
            = service_type.days
          %td                    
            %label.left
              = check_box_tag "service_type_#{service_type.id}", service_type.id,@company_service_type.include?(service_type),:class =>:service_type_id
            %div.ajax_loader.left{:style=>"display:none"}
            %div{:id=>"msg_#{service_type.id}"}
