-# javascript "http://maps.google.com/maps/api/js?sensor=true"
-# javascript 'maps'
-# javascript 'search_company_map'

.vertical_menu    
  - if user_signed_in?
    - if current_user.company
      = render "admin/menu"
    -else
      = render "home/menu"

    - if current_user.own(@company)
      .menu_actions.box_bottom
        %ul
          %li
            = link_to "Modificar",edit_company_path(@company),{:title =>"Modificar"}
  -else
    #menu_options.box_bottom
      %li
        #register_link.menu
          = image_tag "sign-up.png"
          = link_to t(".register"),new_user_registration_path
        .ajax_loader.right
      %li
        #service_center_link.menu
          = image_tag "find.png"
          = link_to t(".service_providers"), all_companies_path
      %li
        #service_center_link.menu
          = image_tag "help.png"
          = link_to t(".help"), "#"

.contentright_s
  #company_info
    .box_bottom
      %h1=t(".service_providers")
    .box_bottom
      = render 'show'
    .box_bottom 
      = render "search_map"
      .hide
        = render "maps"
        