#service_type_templates
  = form_for @template do |f|
    %table
      %tbody
        %tr
          %td
            = ServiceTypeTemplate.human_attribute_name(:name)
          %td
            = f.text_field :name,:class =>:input_medium
        %tr
          %td
            = ServiceTypeTemplate.human_attribute_name(:service_type)
          %td
            .left
              = f.select :service_type_id,options_from_collection_for_select(@service_types,:id,:name,@template.service_type_id),:include_blank => t('select_service_type'),:class =>:input_medium

    .hide
      = button_to_add_fields "Nuevo Material",f,:material_service_type_templates
    .box_bottom
    %br
    #materials
      .box_bottom
        %h1{:class => :left} Materiales
        = link_to "","#",:title => t(".add_material"),:class =>"new link left"

      %table
        %tbody
          = f.fields_for :material_service_type_templates do |f_mst|
            = render "material_service_type_template_fields",:f => f_mst     
    .box_bottom
    .buttons_container
      = f.submit t('.submit'),:class =>:button
      = link_to t('cancel'), service_type_templates_path
