#cont1
  %h1 ¡BIENVENIDOS A COMUNIDAD BOX!
  %h2
    %span#cont1
      Por favor ingrese su correo electronico y su clave..
#cont2
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #part1.part
      INICIAR SESIÓN
    #part2.part
      %table
        %tr
          %td
            %h3
              = f.label :email,t('user.email')
          %td
            %h3
              = f.label :password,t('user.password')
          %td          
        %tr
          %td
            = f.text_field :email, {:class =>"textarea"}
          %td
            = f.password_field :password, {:class =>"textarea"}
          %td
            %input.send{:name => "send", :type => "submit", :value => "Ingresar",:class=>"button"}
    #part22.part
      %table
        %tr
          %td
            %h4
              - if devise_mapping.rememberable?
                = f.check_box :remember_me,:class=>"checkbox"
          %td
            %h4
              - if devise_mapping.rememberable?
                = f.label :remember_me
        %tr
          %th
            %img.sgn{:src => "/images/sgn_pass.png"}
          %td
            %h4
              = render :partial => "devise/shared/links"
= render "home/new_msgs"