.c
  #cont1
    %h1 ¡BIENVENIDOS A COMUNIDAD BOX!
  #login_c
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      #part2.part
        %table
          %tr
            %td{:colspan=>2}
              %h2
                INICIAR SESIÓN
            %td
              - if devise_mapping.rememberable?
                #part22
                  %h4
                    = f.check_box :remember_me,:class=>"checkbox"
                    = f.label :remember_me
          %tr
            %td
              = f.text_field :email, {:class =>"textarea labelify",:title=>"Correo Eléctronico"}
            %td
              = f.password_field :password, {:class =>"textarea labelify",:title=>"Clave "}
            %td
              %input.send{:name => "send", :type => "submit", :value => "Ingresar",:class=>"button"}
  = render "home/new_msgs"