#filters.contentleft.hide{:style=>"width:190px"}
  %h1 Filtros
  %table.w
    %tr
      %td Nombre
    %tr
      %td
        .left
          = f.text_field 'name',{:class=>"short_text"}
          %label{:id=>'filter_label',:class=>:link,:style=>"display:none"}
          #service_offers
          = collection_select(:service_offer,:service_type, @filters,:id,:name,{:include_blank=>:true},{:class=>"change medium_select",:id=>:sf,:name=>:sf,:selected=>@sf,:style=>"display:none"})
        .right
          = image_tag('save.png',{:id=>:save_filter,:class=>:link})
          = image_tag('find.png',{:id=>:find_filter,:class=>:link})
#search.contentleft{:style=>"width:190px"}
  %h1 Buscar
  %table.w
    %tr
      %td Tipo de servicio
    %tr
      %td
        =f.collection_select(:service_type_id, @company_services,:id,:name,{},{:class=>"change long_select"})
    %tr
      %td Provincia
    %tr
      %td
        = f.collection_select(:state_id, @states, 'id', 'name', {:include_blank=>:true},{:class=>"clear change long_select"})
    %tr
      %td Ciudad
    %tr  
      %td
        =f.text_field :city,{:class=>"clear change",:style=>"width:174px"}
    %tr
      %td Marca
    %tr
      %td
        = f.collection_select(:brand_id, @brands, :id, :name, {:include_blank=>:true},{:class=>"clear change long_select"})
    %tr
      %td Modelo
    %tr
      %td
        #models
          = f.collection_select(:model_id, @models, 'id', 'name', {:include_blank=>:true},{:class=>'model clear change long_select'})  
    %tr
      %td Combustible
    %tr
      %td
        =f.collection_select(:fuel,@fuels,:to_s,:to_s,{:include_blank=>:true},{:class=>"clear change long_select"})
    %tr
      %td Año
    %tr
      %td
        =f.collection_select(:year,@years,:to_i,:to_i,{:include_blank=>:true},{:class=>"clear change short_select"})
    %tr      
      %td
        .select_event
          .left
            Eventos Tipos
          .right  
            .rojo.left
              = check_box_tag :red,:red,@event_types[:red],:class =>:checkbox
            .amarillo.left
              = check_box_tag :yellow,:yellow,@event_types[:yellow],:class =>:checkbox
            .verde.left
              = check_box_tag :green,:green,@event_types[:green],:class =>:checkbox
        .select_event
          .left
            = label_tag :my_clients,"Mis Clientes",:class=>:link
          .right
            = check_box_tag :my_clients,true,@my_clients,:class =>:checkbox
        .select_event
          .left
            = label_tag :others,"Otros Clientes",:class=>:link
          .right
            = check_box_tag :others,true,@others,:class =>:checkbox
        .right
          = image_tag('find.png',{:id=>:reload,:class=>:link})

#select.contentleft{:style=>"width:190px"}
  %h1 Seleccionar Clientes
  .select_event
    .left
      Mios
    .mi_amarillo.color.right
      = check_box_tag :select_yellow,:mi_amarillo,false,:class =>:checkbox
    .mi_rojo.color.right
      = check_box_tag :select_red,:mi_rojo,false,:class =>:checkbox
    
  .select_event
    .left
      Otros
    .amarillo.color.right
      = check_box_tag :select_yellow,:amarillo,false,:class =>:checkbox
    .rojo.color.right
      = check_box_tag :select_red,:rojo,false,:class =>:checkbox
