:javascript
  var title = "#{t('.title')}";
  var done = "#{t('.done')}";

#event_detail.event_detail
  .detail
    .box_bottom
      .left
        .domain.domain_white
        %label.vehicle
        .client_name
          %label.user_full_name
      .right
        .actions
          .action
            .add_alarm{:title => t(".new_alarm")}
          .action
            .new_note{:title => t(".new_note")}
          .action
            .new_message{:title => t(".new_message")}
    .box_bottom
      .block
        .left
          %label.user_email_label=t("email")
          %label.user_email
        .right
          %label.user_phone_label=t(".phone")
          %label.user_phone
      .block
        .left
          %label.km_label=t(".mileage")
          %label.km
        .right
          %label.km_avg_label=t(".average_mileage")
          %label.km_avg
      .block
        .left
          %label.total_company_spend_label=t(".total_service_provider")
          %label.total_company_spend
        .right
          %label.total_spend_labelTotal=t(".total_spent")
          %label.total_spend
  #event_notes
    = render :partial =>"notes/note_form_np",:locals=>{:wo => nil,:b=>nil,:c => nil,:notes =>[],:id=>0 }
  #alarms.hide
    = render :partial =>"alarms/cp_ajax_form"
    .alarms
  #messages_container_.message.hide
    = render :partial => "messages/form"