- javascript 'control_panel'
- javascript 'jquery.easyListSplitter'
- javascript 'jquery.ba-url.min'
- stylesheets 'control_panel'

#error{:style=>"display:none"}
  %h2
%h1
  = vineta 
  Nueva Oferta de Servicio
.contentleft_s{:style=>"width:23%"}
  %input{:value=> service_filters_path, :type=>:hidden,:id=>:save_filter_url}
  = form_for :service_filter,:url=>filter_alarms_control_panels_path,:html=>{:id=>:service_filter_form} do |f|
    = render "car_filters",:f=>f
.contentright{:style=>"width:75%"}
  #cars_events
    %h1 Listado de Autos  
    = form_tag new_service_offer_path,{:method=>:get,:id=>:service_offer_form} do
      = hidden_field("service_offer","service_type_id")
      = hidden_field("page",@page)
      %ul#events.cars
        - @page_events.each do |event|
          %li
            .cp_event            
              = render event
  .clear
    = will_paginate @page_events,:params =>@filters_params
  #offer
    %input{:type=>"button",:id=>'save_offer',:value=>"Crear Oferta",:class=>"btn_b"}
    %input{:type=>"button",:id=>"clear_filter",:value=>"Limpiar Filtro",:class=>"btn_b hide"}
    =link_to_back
    #msg