- stylesheets 'control_panel'
- javascript 'map_content'
- javascript 'highcharts'

:javascript
  var chart;
  $(document).ready(function() {
     chart = new Highcharts.Chart({
        chart: {
           renderTo: 'graph_container',
           defaultSeriesType: 'bar'
        },
        title: {
           text: ''
        },
        xAxis: {
           categories: [#{@services_names}]
        },
        yAxis: {
           min: 0,
           title: {
              text: 'Cantidad de Eventos Futuros'
           }
        },
        legend: {         
           backgroundColor: '#F2F2F2',
           reversed: true
        },
        tooltip: {
           formatter: function() {
              return ''+
                  this.series.name +': '+ this.y +'';
           }
        },
        plotOptions: {
           series: {
              stacking: 'normal'
           }
        },
        series: #{@series_data},
        colors: [
          '#62F76F', 
          '#FEFF8F', 
          '#FF795F', 
        ]
     });
     
  });
.title  
  %h1
    = vineta 
    Panel de Control
.contentleft
  = render "service_type_list"
.contentright
  -unless @no_data
    %h1 Vencimientos de Servicios
    #graph_container
  -else
    = render 'shared/message', :msg =>"No hay servicios a realizar"
    
