- stylesheets 'control_panel'
- javascript 'map_content'
- stylesheets 'demo_page'
- stylesheets 'demo_table'
#control_panel{:style=>"display:none"}
  %table.control-panel
    %caption Tablero de Control
    %col{:width=>"60%"}
    %col.rojo{:width=>"10%"}
    %col.amarillo{:width=>"10%"}
    %col.verde{:width=>"10%"}
    %col{:width=>"10%"}
    %thead
      %th Tipo de Servicio
      %th
      %th
      %th
      %th Total        
    %tbody
      - links = ""
      - for service in @service_data
        %tr
          - links << filter_alarms_control_panels_path(:st => service) << "|"
          %td.dashboard=  link_to service.name, filter_alarms_control_panels_path(:st => service)
          %td.dashboard.number= @eventos_rojo[service]
          %td.dashboard.number= @eventos_amarillo[service]
          %td.dashboard.number= @eventos_verde[service]
          %td.dashboard.number= @eventos_total[service]
    %tfoot
      %tr
        %td.dashboard Total
        %td.dashboard.number= @eventos_rojo.values.sum
        %td.dashboard.number= @eventos_amarillo.values.sum
        %td.dashboard.number= @eventos_verde.values.sum
        %td.dashboard.number= @eventos_total.values.sum
#graph
  -if @url_map_json	
    %input{:id=>"json_url",:value=>@url_map_json,:type=>"hidden"}   
    %input{:id=>"services_url",:value=>links.chomp!("|"),:type=>"hidden"}
    %img{:src=>@url_map,:usemap=>"#notes"}
    %map{:id=>"notes",:name=>'notes'}
  -unless @url_map_json
    No hay eventos para mostrar
  %br
    = link_to_back
  
