- stylesheets 'control_panel'
- javascript 'map_content'
- javascript 'highcharts'

:javascript
  var chart;
  var url;
  $(document).ready(function() {
    var data = #{@series_data};
    var service_names = [#{@services_names}];
    url = "#{filter_alarms_control_panels_path}";
    chart = buildControlPanelChart(service_names,data);             
  });
.title  
  %h1
    = vineta 
    Panel de Control 
.contentright
  -unless @no_data
    %h1 Vencimientos de Servicios
    #graph_container
  -else
    = render 'shared/message', :msg =>"No hay servicios a realizar"
= link_to_back root_path    
