- javascript 'highcharts'
- javascript 'map_content'

:javascript
  var chart;
  var url;
  $(document).ready(function() {
    var data = #{@series_data};
    var service_names = [#{@services_names}];
    url = "#{filter_alarms_control_panels_path}";
    chart = buildControlPanelChart(service_names,data);             
  });
.title.box_bottom  
  %h1 Panel de Control 
.box_bottom
  -unless @no_data
    %h1 Vencimientos de Servicios
    #graph_container
  -else
    = render 'shared/message', :msg =>"No hay servicios a realizar"
.buttons_container
  = link_to_back name: :Cancelar
