.vertical_menu
  = render "home/menu"
  = render "home/default_actions"  
  - if @car_service_offer.is_sent?
    .menu_actions.box_bottom
      .menu_data
        %ul
          %li
            = link_to "Confirmar", confirm_car_service_offer_path(@car_service_offer),:title =>"Confirmar oferta de servicio"          
.contentright_s
  .box_bottom 
    %h1
      Oferta de Servicio  
  = render :partial =>"car_service_offer",:locals =>{:car_service_offer =>@car_service_offer}
  //-if @car_service_offer.can_send_message?(current_user)    
  .hide2.message{:id => "messages_container_#{@ok
    car_service_offer.id}"}
    = render :partial => "/messages/form_user",:locals => {user: @car_service_offer.car.user,:element_id => @car_service_offer.id,:msg_object => @car_service_offer}
      