= render 'shared/error_messages', :target => @vehicle
= form_for @vehicle, as: :vehicle, :html => { :class => "vehicle" } do |f|
  = f.hidden_field :user_id
  = hidden_field_tag "budget_id", @budget.id if @budget
  .box_bottom
    - if f.object.type == 'Car'
      = render :partial => "users/car_fields",:locals => {:f => f}
    - elsif f.object.type == 'Motorcycle'
      = render :partial => "users/motorcycle_fields",:locals => {:f => f}
  .buttons_container
    = f.submit t(".save"), :class=>"button"
    - if current_user.company
      = link_to t(".cancel"), client_path(@vehicle.user)
    - else
      = link_to t(".cancel"), my_vehicles_path
