= render 'shared/error_messages', :target => @vehicle
= form_for @vehicle, as: :vehicle, :html => { :class => "vehicle" } do |f|
  = f.hidden_field :user_id
  = hidden_field_tag "budget_id", @budget.id if @budget
  .box_bottom
    = render :partial => "users/vehicle_fields",:locals => {:f => f,:model => @models}
  .buttons_container
    = f.submit t(".save"), :class=>"button"
    - if @vehicle.id
      = link_to t(".cancel"), @vehicle
    - else
      - if current_user.is_employee?
        = link_to t(".cancel"), clients_path
      - else
        = link_to t(".cancel"), my_vehicles_path
