-# javascript 'jquery.ba-url.min'
-# javascript 'vehicle_pagination'
- content_for :actions do
  %li
    = link_to t("new_vehicle"), new_vehicle_path(:user_id=>current_user.id), {:title =>t("new_vehicle")}
  
#all_vehicles
  .vertical_menu
    = render "home/menu"
    = render :partial=>"search",:locals =>{:vehicles=>[],:table_id =>:sort_table}
    = render "home/default_actions"
    
  
  .contentright_s
    #vehicles
      - if @vehicles.size > 0
        =render :partial=>"vehicles",:locals =>{:vehicles=>@vehicles,:table_id =>:sort_table}
      - else
        = render 'shared/message', :msg =>"No hay ningún automóvil"
    #clients.data.hide
    #company-selector.hide
      = render 'company_selector'