.box_bottom
  %h3 Buscar
  = form_for :model, :url => brands_path,:method => :get do |f|
    %table.w
      %tr
        %td
          = text_field_tag(:b,nil,:placeholder => "Marca")
        %td
          = image_tag "find.png",:class => "link search_brand"
.menu_actions
  .box_bottom
    %ul
      %li
        = link_to "Nueva Marca", new_brand_path
      - if @brand
        %li
          = link_to "Modificar", edit_brand_path(@brand)