-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
.vertical_menu
  = render "conf/menu"
  = render "actions"
.contentright_s  
  .box_bottom
    %h1 Listado de Marcas
  .all_brands
    - for brand in @brands
      .row
        .left
          = brand_logo brand.name,true
        %label
          = link_to brand.name,brand
        %actions
          .action
            = link_to image_tag("delete.png"), brand,:data =>{:confirm => '¿ Esta seguro que desea borrarlo ?'}, :method => :delete
          .action
            = link_to image_tag("car.png"),models_path(:b => brand.id),:title =>"Ver modelos"
          .action
            = link_to image_tag("edit.png"), edit_brand_path(brand),:title => "Modificar"
    .clear
      = will_paginate @models   

