#menu_options.box_bottom.box_top
  %ul
    
    %li
      #cars_link.menu
        = image_tag "cars.png"
        - if company_id
          = link_to "Clientes", clients_path
        - else
          = link_to "Mis Autómoviles", my_cars_path   
    %li
      #service_done.link.menu
        = image_tag "service.png"
        Servicios Realizados        
    %li
      #future_event.link.menu
        = image_tag "service.png"
        Servicios a Realizar    
    %li
      #budgets_link.link.menu
        = image_tag "budget.png"
        Presupuestos
    .hide
      %li
        #service_offers.link.menu
          = image_tag "service.png"
          = link_to "Ofertas de Servicio", car_service_offers_path
    %li
      #report_graph.link.menu
        = image_tag "graph.png"
        Reporte Gráfico
    %li
      #note.link.menu
        = image_tag "notes.png"
        Notas
    %li
      #alarms.link.menu
        = image_tag "alarm.png"
        Alarmas
        -#= link_to "Alarmas",alarms_path
    .hide
      %li
        #messages.link.menu
          = image_tag "message.png"
          Mensajes

.menu_actions.box_bottom
  #cars_work_orders_menu.menu_data
    = hidden_field_tag 'car_id',@car.id
    %ul
      - if company_id
        %li
          = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"}
        %li
          = link_to "Nuevo Servicio",new_workorder_path(:car_id =>@car),:id=>"create_new_service",:title=>"Nuevo Servicio"
        %li          
          = link_to "Nuevo Presupuesto",new_budget_path(:ca => @car.id),{:title=>"Nuevo Presupuesto"}
        - if current_user.can_edit?(@car.user)
          %li
            = link_to "Modificar Cliente",edit_client_path(@car.user),{:title=>"Modificar cliente"} 
      - else
        %li
          = link_to_function "Nuevo Servicio","createNewService(#{@car.id})",{:title=>"Nuevo Servicio"}
        .hide      
          = text_field_tag "new_service_url",new_workorder_path(:car_id =>@car)
      - if current_user.can_edit?(@car.user)
        %li
          = link_to "Nuevo Automóvil", new_car_path(:user_id=>@car.user.id),  {:title =>"Nuevo Automóvil"}
        %li  
          = link_to "Modificar Autómovil",edit_car_path(@car),{:title=>"Modificar automóvil"} 
      %li
        = link_to_function "Nueva Nota","createNewNote(#{@car.id})",{:title=>"Nueva Nota"}
      .hide
        %li
          = link_to_function "Nuevo Mensaje","createNewMessage(#{@car.id})",{:title=>"Nuev Mensaje"}

      