.car_detail.clear
  #car_domain.barradatos
    .big_domain
      .left
        = brand_logo @car.brand.name      
      .domain_brand
        .domain
          = @car.domain
        .brand.clear
          = h @car.model.name
          = @car.year      
    - if can_show?(@car.user)
      .car_info.box_top
        .clear
          %strong
            = h @car.user.full_name      
          .right{:title=>"Teléfono"}
            =number_to_phone(@car.user.phone)
        .clear.left
          = @car.user.email
        .clear
          .left{:title =>"Kilometraje Total"}
            Km:
            %strong
              = number_with_precision @car.km,:precision=>0
          .right{:title =>"Kilometraje promedio mensual"}
            Km Promedio
            %strong               
              = number_with_precision @car.kmAverageMonthly,:precision=>0
        .car_spend.clear
          %left
            %label{:title=>"Total Consumido"}
              = number_to_currency @car.total_spend
          - if company_id
            %strong.right
              %lable{:title=>"Total Consumido en tu empresa"}  
                = number_to_currency @car.total_spend(company_id)
