=render "home/menu"

.menu_actions.box_bottom
  #cars_work_orders_menu.menu_data
    = hidden_field_tag 'car_id',@car.id
    %ul
      - if company_id
        %li
          = link_to "Nuevo Cliente",new_client_path,{:title=>"Crear nuevo cliente"}
        %li
          = link_to "Nuevo Servicio",new_workorder_path(:car_id =>@car),:id=>"create_new_service_2",:title=>"Nuevo Servicio"
        %li          
          = link_to "Nuevo Presupuesto",new_budget_path(:ca => @car.id),{:title=>"Nuevo Presupuesto"}
        - if current_user.can_edit?(@car.user)
          %li
            = link_to "Modificar Cliente",edit_client_path(@car.user),{:title=>"Modificar cliente"} 
      - else
        %li
          = link_to "Nuevo Servicios","#",:data =>{:car_id => "#{@car_id}"},:title=>"Nuevo Servicio",:id =>"create_new_service"
        .hide      
          = text_field_tag "new_service_url",new_workorder_path(:car_id =>@car)
      - if current_user.can_edit?(@car.user)
        %li
          = link_to "Nuevo Automóvil", new_car_path(:user_id=>@car.user.id),  {:title =>"Nuevo Automóvil"}
        %li  
          = link_to "Modificar Autómovil",edit_car_path(@car),{:title=>"Modificar automóvil"}   
      %li
        = link_to "Nuevo Mensaje","#",:data => {:car_id => "#{@car_id}"},:title=>"Nuev Mensaje",:id =>"create_new_message"
      %li
        #service_done.link.menu
          = link_to "Servicios Realizados", "#"
      %li
        #future_event.link.menu
          = link_to "Servicios a Realizar","#"
      %li
        #budgets_link.link.menu
          = link_to "Presupuestos","#"
      %li
        #report_graph.link.menu
          = link_to "Reporte Gráfico","#"

    