= render 'shared/error_messages', :target => @car
= form_for @car,:html=>{:class =>"car"} do |f|
  = f.hidden_field :user_id  
  = hidden_field_tag "budget_id",@budget.id if @budget
  .box_bottom
    = render :partial => "users/car_fields",:locals => {:f => f}
  .box_bottom    
    = f.submit "Grabar",:class=>"button"
    = link_to "Cancelar",client_path(@car.user)
