%table.service_table
  %tr.table_header
    %td{:colspan=>2,:width=>"35%"} Cliente
    %td{:colspan=>5,:width=>"65%"} Vehiculo
  %tr
    %td.label_title{:width=>"10%"} Nombre
    %td{:width=>"20%"}
      = car.user.full_name
    %td.label_title{:width=>"17%"} Dominio
    %td{:width=>"20%"}
      %p#domain
        = car.domain
    %td.label_title{:width=>"25%"} Año
    %td{:width=>"8%"}
      = car.year
  %tr
    %td.label_title Email
    %td
      = car.user.email
    %td.label_title Marca y Modelo
    %td
      = "#{car.brand.name} #{car.model.name}"
  %tr
    %td.label_title Teléfono
    %td
      = car.user.phone
    %td.label_title Km Actual
    %td
      = hidden_field_tag :url_update_km, update_km_cars_path
      %p#km_actual.edit_in_place
        = car.km
    %td.label_title
      Km Promedio Mensual
    %td
      = hidden_field_tag :url_update_km_avg, update_km_avg_cars_path
      %p#km_avg.edit_in_place
        = car.kmAverageMonthly
