%table.coltable
  %col.current
  %col
  - if @car.user.company_name
    %tr
      %td.header Razón Social
      %td
        = @car.user.company_name
  - if @car.user.cuit
    %tr
      %td.header CUIT
      %td
        = @car.user.cuit
  %tr
    %td.header{:width=>"50%"} Dueño
    %td{:width=>"50%"}
      = h @car.user.full_name
  %tr
    %td.header Correo Eléctronico
    %td
      = @car.user.email
  %tr
    %td.header Teléfono
    %td
      = @car.user.phone
  %tr
    %td.header Año
    %td
      = h @car.year
  %tr
    %td.header Dominio
    %td
      = h @car.domain
  %tr  
    %td.header Km
    %td
      = h @car.km
  %tr
    %td.header Marca
    %td      
      = brand_logo @car.brand.name
  %tr  
    %td.header Combustible
    %td
      = h @car.fuel
  %tr
    %td.header Modelo
    %td
      = h @car.model.name        
  %tr  
    %td.header Promedio Km Mensual
    %td
      = h @car.kmAverageMonthly
  %tr
    %td.header Total Consumido
    %td
      %strong
        = h number_to_currency @car.total_spend
  - if current_user.company
    %tr
      %td.header 
        Total Consumido en tu empresa
      %td
        %strong
          = h number_to_currency @car.total_spend(current_user.company.id) 
    
.buttons
  = link_to_back cars_path
  = hidden_field_tag 'car_id',@car.id
  - if current_user.company
    = link_to "Nuevo Servicio",new_workorder_path(:car_id =>@car),:id=>"create_new_service",:title=>"Nuevo Servicio",:class =>:button
  - unless current_user.company
    = link_to_function "Nuevo Servicio","createNewService(#{@car.id})",{:title=>"Nuevo Servicio",:class=>:button}
    .hide
      = text_field_tag "new_service_url",new_workorder_path(:car_id =>@car)
  = link_to image_tag('edit.png'),edit_car_path(@car),{:title=>"Modificar automóvil"} if @car.can_edit?(current_user)
  = link_to image_tag("edit.png"),edit_client_path(@car.user),{:title=>"Modificar cliente"} if @car.user.can_edit?(current_user)
