- stylesheets 'control_panel'
= render 'shared/error_messages', :target => @car
- form_for(@car) do |f|
  .box
    = f.hidden_field :user_id
    %table
      %tbody
        %tr
          %td
            %label{ :for => "domain" }Dominio (XXX999)
          %td
            = f.text_field :domain, :size=>8, :maxlength =>6
        %tr
          %td
            %label{ :for => "brand_id" }Marca
          %td
            = f.collection_select(:brand_id, Brand.find(:all,:order=>:name), :id, :name, {:include_blank=>:true},{:class=>"brand medium_select"})
        %tr
          %td
            %label{ :for => "model_id" }Modelo  
          %td
            #models
              = f.collection_select(:model_id, find_models(f.object), 'id', 'name', {:include_blank=>:true},{:class=>'model medium_select'})
        %tr
          %td
            %label{ :for => "year" }Año
          %td
            = f.text_field :year,:size=>4
        %tr
          %td
            %label{ :for => "km" }Kilometraje
          %td
            = f.text_field :km,:size=>10
        %tr
          %td
            %label{ :for => "email" }Kilometraje promedio mensual
          %td
            = f.text_field :kmAverageMonthly,:size=>6
        %tr
          %td
            %label{ :for => "fuel" }Combustible
          %td
            = f.collection_select :fuel, %w(Nafta Diesel Gas),:to_s,:to_s,:prompt=>""
    = f.submit "Grabar",:class=>"btn"