.box_bottom
  %h1 Listado de Automóviles
- for car in cars
  .car.row
    .logo
      = brand_logo car.brand.name,true
    .domain
      = link_to h(car.domain),car
    .detail  
      .name                               
        = h car.brand.name
        = h car.model.name
        %strong
          Modelo:
        = h car.year
      .km
        %strong
          Km:
        = h car.km
        %strong
          Km Promedio Mensual:
        = h car.kmAverageMonthly
    .actions
      .action
        = link_to "",edit_car_path(car),{:title=>"Modificar automóvil",:class=>"edit"} if car.can_edit?(current_user)               
      - if company_id
        .action
          = link_to "", new_workorder_path(:car_id =>car),{:title=>"Nuevo Servicio",:class=>"new_service"}
      - else
        .action
          = link_to_function "","createNewService(#{car.id})",{:title=>"Nuevo Servicio",:class=>"new_service"}
            

= will_paginate cars