.datos_personales
  %table.tabla_datos_personales
    %tr
      %td
        %h3 Nombre
      %td
        = car.user.full_name
    %tr  
      %td
        %h3 Email
      %td
        = car.user.email
    %tr
      %td
        %h3 Teléfono
      %td
        = car.user.phone
.datos_automovil
  %table.tabla_datos_automovil
    %tr
      %td{:width=>"16%"}
        %h3 Dominio
      %td{:width=>"35%"}
        %p#domain
          = car.domain
      %td{:width=>"25%"}
        %h3 Año
      %td{:width=>"25%"}
        = car.year
    %tr
      %td
        %h3 Marca y Modelo
      %td{:colspan=>"0"}
        = "#{car.brand.name} #{car.model.name}"
    %tr  
      %td 
        %h3 Km Actual
      %td
        = hidden_field_tag :url_update_km, update_km_cars_path
        %p#km_actual.edit_in_place
          = car.km
      %td
        %h3 Km Promedio Mensual
      %td
        = hidden_field_tag :url_update_km_avg, update_km_avg_cars_path
        %p#km_avg.edit_in_place
          = car.kmAverageMonthly