.barradatos
  .left
    .left
      = brand_logo @car.brand.name
    .domain
      = @car.domain
    .car_info
      = h @car.model.name
      = @car.year      
      %strong
        Km:
      = @car.km      
      %strong
        Km Promedio Mensual:
      = @car.kmAverageMonthly
      .client_info
        %strong
          = h @car.user.full_name      
        = ": #{@car.user.email}"
        .clear
          Teléfono:
          = @car.user.phone
  .client_expend
    Total Consumido:
    %strong
      = h number_to_currency @car.total_spend
    - if current_user.company
      .clear
        Total Consumido en tu empresa:
        %strong
          = h number_to_currency @car.total_spend(current_user.company.id)
  