.box_bottom
  %h1 
    = t(".title")
- for car in cars
  .car.row[car]
    .logo
      = brand_logo car.brand.name,true
    .left.domain_white
      = link_to h(car.domain),car
    .detail  
      .name                                    
        = h car.brand.name
        = h car.model.name
        %strong
          = "#{t('.year')}:"
        = h car.year
      .km
        %strong
          = "#{t('.km')}:"          
        = h car.km
        %strong
          = "#{t('.kmAverageMonthly')}:"          
        = h car.kmAverageMonthly
    .actions
      - if current_user.can_edit?(car.user)
        .action          
          = link_to "",car,:data =>{:confirm =>t("car_delete_confirm")},:remote =>true, :method => :delete,:title =>t("delete"),:class=>"delete"
      - if company_id
        .action
          = link_to "",new_budget_path(:ca => car),{:title=>t("new_budget"),:class=>"new_budget"}
        .action
          = link_to "", new_workorder_path(:car_id =>car),{:title=>t("new_service"),:class=>"new_service"}
      - else
        .action
          = link_to "","#",:data => {:car_id=>"#{car.id}"},:title=>t("new_service"),:class=>"new_service"
      - if current_user.can_edit?(car.user)
        .action
          = link_to "",edit_car_path(car),{:title=>t(".update_car"),:class=>"edit"}

= will_paginate cars