#menu_options
  %ul
    %li{:class=>:selected}
      %a{:id=>"service_done",:href=>"#"}
        Servicios Realizados
    %li
      %a{:id=>"future_event",:href=>"#"}
        Servicios a Realizar
    %li
      %a{:id=>"report_graph",:href=>"#"}
        Reporte Gráfico
    %li
      %a{:id=>"notes",:href=>"#"}
        Notas
    %li
      %a{:id=>"alarms",:href=>"#"}
        Alarmas
    %li
      %a{:id=>"messages",:href=>"#"}
        Mensajes

.buttons
  = hidden_field_tag 'car_id',@car.id
  - if current_user.company
    = link_to "Nuevo Servicio",new_workorder_path(:car_id =>@car),:id=>"create_new_service",:title=>"Nuevo Servicio",:class =>:button
  - unless current_user.company
    = link_to_function "Nuevo Servicio","createNewService(#{@car.id})",{:title=>"Nuevo Servicio",:class=>:button}
    .hide
      = text_field_tag "new_service_url",new_workorder_path(:car_id =>@car)
  = link_to image_tag('edit.png'),edit_car_path(@car),{:title=>"Modificar automóvil"} if @car.can_edit?(current_user)
  = link_to image_tag("edit.png"),edit_client_path(@car.user),{:title=>"Modificar cliente"} if @car.user.can_edit?(current_user)
