.car_detail
  #car_domain.barradatos
    .left
      .left
        = brand_logo @car.brand.name
      .domain
        = @car.domain
  #client_info.hide    
    .car_info
      = h @car.model.name
      = @car.year      
    .clear
      %strong
        = h @car.user.full_name      
      = @car.user.phone        
    .clear  
      = @car.user.email
    .clear
      Km:
      %strong  
        = @car.km      
    .car_spend.clear
      %left
        %label{:title=>"Total Consumido"}
          = number_to_currency @car.total_spend
      - if current_user.company
        %strong.right
          %lable{:title=>"Total Consumido en tu empresa"}  
            = number_to_currency @car.total_spend(current_user.company.id)
