- javascript 'maps'
- javascript 'search_company_map'

.content.left
  %h1 Buscar
  - form_for :company, :remote =>true, :url => search_companies_cars_path do |f|
    %table.w
      %thead
        %tr
          %td Nombre
        %tr
          %td
            = text_field_tag 'name'
        %tr
          %td Dirección
        %tr
          %td
            = text_field_tag 'street'
        %tr
          %td Ciudad
        %tr
          %td
            = text_field_tag 'city'
        %tr
          %td Provincia
        %tr
          %td
            = hidden_field_tag "car_id",@car_id
            = f.collection_select(:state_id, State.find(:all,:order=>:name), :id, :name, {:include_blank=>:true},{:class=>"state medium_select"})
            = image_submit_tag("find.png",:class =>"input_img")
    
  = link_to_function "Nuevo Prestador de Servicio", "newCompany(this);",{:class =>"btn2"}
#companies.contentright
  #all_companies
    = render "/companies/all_companies"
  #new_company.hide
    %h1 Nuevo Prestador de Servicio
    Por favor ingrese Nombre, Dirección y Teléfono
    = text_area_tag :company_info,"",:rows => 5, :cols => 37
    = hidden_field_tag :new_service_url,new_workorder_path(:car_id =>@car_id)
    = link_to_function "Seleccionar", "newServiceNewCompany(this);",{:class =>"btn2"}
    = link_to_function "Cancelar", "cancelNewCompany(this);",{:class =>"btn2"}
  #company_map
    = render "/companies/maps"