-# javascript "http://maps.google.com/maps/api/js?sensor=true"
-# javascript 'maps'
-# javascript 'search_company_map'

.vertical_menu
  #comp_search.box_bottom
    .comp_search
      %h1 Buscar
      = form_for :company, :remote =>true, :url => search_companies_cars_path do |f|
        %table.w
          %thead
            %tr
              %td
                = text_field_tag 'name',"",{:class=>"labelify",:title =>"Nombre"}
            %tr
              %td
                = text_field_tag 'street',"",{:class=>"labelify",:title =>"Dirección"}
            %tr
              %td
                = text_field_tag 'city',"",{:class=>"labelify",:title =>"Ciudad"}
            %tr
              %td
                = hidden_field_tag "car_id",@car_id
                = f.collection_select(:state_id, State.find(:all,:order=>:name), :id, :name, {:prompt=>"-- Provincia --"},{:class=>"state medium_select"})
                = image_submit_tag("find.png",:class =>"input_img")
    .ajax_loader.right
  .menu_actions
    .box_bottom
      %ul        
        %li
          -#= link_to_function "Nuevo Prestador de Servicio", "newCompany(this);"
          = link_to "Nuevo Prestador de Servicio","#",:class => "new_company"
.contentright_s
  #companies
    = render "/companies/all_companies"

  #new_company.hide
    .box_bottom
      %h1 Nuevo Prestador de Servicio
    .box_bottom
      %table
        %tr
          %td{:style=>"width:200px"}
            Por favor ingrese Nombre, Dirección y Teléfono
          %td
            = text_area_tag :company_info,"",:rows => 5, :cols => 37
            = hidden_field_tag :new_service_url,new_workorder_path(:car_id =>@car_id)
    .buttons_container
      = link_to "Seleccionar", "#",{:class =>"button new_service_new_company"}
      = link_to "Cancelar", "#",:class=> :cancel_new_company
#company_map
  = render "/companies/maps"