%table#sort_table.comboxtable
  %thead
    %tr
      %th
      %th Tipo de Servicio
      %th Fecha a Realizar
      %th Km
  - for event in @events
    %tr
      %td
        = icon_status event.status
      %td
        = link_to event.service_type.name, event        
      %td
        = l event.dueDate
      %td.number
        = event.km
%br
#paginator_event
  = will_paginate @events,:params => @e_pages