#client_search
  %h3 Buscar Clientes
  .form
    = form_tag index_all_clients_path,{:remote =>true, :method =>:get,:id=>:search_client_form} do
      = hidden_field_tag("page","1")
      %table
        %thead
          %tr
            %td
              = text_field_tag 'email',"",:class=>"input",:placeholder=>"Correo Electrónico"
          %tr
            %td
              = text_field_tag 'first_name',"",:class=>"input",:placeholder=>"Nombre"
          %tr
            %td
              = text_field_tag 'last_name',"",:class=>"input",:placeholder=>"Apellido"
          %tr
            %td
              = text_field_tag 'company_name',"",:class=>"input",:placeholder=>"Razón Social"
          %tr
            %td    
              = image_submit_tag("find.png",:class =>"input_img")
  .ajax_loader.right