#car_search.left
  - form_for :car,:remote =>true, :url => search_cars_path,:loading =>'AjaxLoader.enable()',:html=>{:id=>:car_search}  do |f|
    = hidden_field_tag :car_id,@car_id
    = hidden_field_tag :company_id,@company_id
    %table
      %tr
        %td Dominio 
      %tr
        %td
          = f.text_field :domain
          = image_submit_tag("find.png",:class =>"input_img")
  = button_to "Nuevo Auto", new_car_path,{:method =>:get,:class =>"btn"}
  - if current_user.has_company?
    = button_to "Nuevo cliente", new_client_path,{:method =>:get,:class =>"btn"}
  #ajax_loader.ajax_loader.left{:style=>"display:none"}        
