- can_show = work_order_row.can_show? current_user
.wo_detail.row{:id=>"wo_#{work_order_row.id}"}  
  .company
    .left
      = work_order_row.company_name        
      - if (work_order_row.company == current_user.company) || (current_user.own_car(work_order_row.car))
        - if work_order_row.payment_method
          = ", #{work_order_row.payment_method.name}"
        %br
        %strong
          Vendedor:
        = "#{work_order_row.user.first_name} #{work_order_row.user.last_name}"
    .right
      = l work_order_row.performed          
  - if can_show
    .right
      .price_b
        = number_to_currency work_order_row.total_price      
  #rank.rank.clear{:id =>"wo_#{work_order_row.id}"}
    - if (work_order_row.company == current_user.company) || (current_user.own_car(work_order_row.car))
      = render 'ranks/rank',:workorder => work_order_row  
  .services
    - work_order_row.services.each do |s|      
      .service
        - if s.comment
          .left
            %label{:class=>"edit_comment comment",:title=>"#{s.comment}"}
        = link_to s.service_type.name ,work_order_row
        -if s.operator
          .operator
            %strong
              Operario:
            %label
              = "#{s.operator.first_name} #{s.operator.last_name}"
  .actions
    - if work_order_row.comment
      .action
        %label{:class=>"edit_comment comment",:title=>"#{work_order_row.comment}"}
    - if can_show     
      - if work_order_row.can_edit?(current_user)
        .action
          = link_to(image_tag('edit.png'),edit_workorder_path(work_order_row),:title =>"Modificar")
        .action
          = link_to image_tag('delete.png'), workorder_path(work_order_row), :confirm => '¿ Esta seguro que desea borrar el Servicio ?', :method => :delete,:title =>"Eliminar",:class=>:delete2    
      .action
        = link_to_pdf work_order_row unless current_user.company
      .action
        = print_to_pdf work_order_row if current_user.company              
      .action
        = icon_status work_order_row.status      
      .action
        = link_to_function "","new_note(this)",:class=>:new_note_link,:title=>"Crear una nota"
      - n_css = work_order_row.notes.empty? ? "hide" : ""
      .action{:class=>"#{n_css}"}
        = link_to_function "","show_notes(this)",:class =>"notes_link #{n_css}",:title=>"Ver notas"  

  %div{:id=>"wo-notes-#{work_order_row.id}",:class=>"wo_notes"}
    .new_note.hide
      = render :partial =>"notes/note_form",:locals=>{:wo => work_order_row.id,:usr => nil }
    %div{:id=>"notes-#{work_order_row.id}",:class=>"notes hide"}      
      = render :partial =>'notes/notes_small_view',:collection => work_order_row.notes,:as=>:note
    