.wo_detail.row[work_order_row]
  -#.wo_detail.row{:id=>"wo_#{work_order_row.id}"}  
  - can_show = work_order_row.can_show?(current_user)
  .services
    - work_order_row.services.each do |s|
      .service             
        - if s.comment
          .left
            %label{:class=>"edit_comment comment",:title=>"#{s.comment}"}
        .left            
          = s.service_type.native_name
        -if s.operator
          .operator.clear
            %label{title: "Operario"}          
            = "#{s.operator.first_name} #{s.operator.last_name}"
  .service_info    
    .left
      %label.wo_id{:title => "Número del Servicio"}
        = link_to work_order_row.id,work_order_row
    - if can_show
      %label{:title =>"Prestador de Servicio"}
        = link_to work_order_row.company_name,work_order_row.company,:target => :_blank          
      - if work_order_row.user != current_user
        .clear.left
          %strong
            Vendedor:
          = "#{work_order_row.user.first_name} #{work_order_row.user.last_name}"
    .right
      %label
        = l work_order_row.performed
      - if can_show
        %label.price_b
          = number_to_currency work_order_row.total_price
  - if can_show
    .actions
      - if work_order_row.can_delete?(current_user)
        .action
          = link_to "", workorder_path(work_order_row), :confirm => '¿ Esta seguro que desea borrar el Servicio ?',:remote =>true, :method => :delete,:title =>"Eliminar",:class=>"delete"
      - if work_order_row.can_edit?(current_user)        
        .action
          = link_to("", edit_workorder_path(work_order_row),:title =>"Modificar",:class=>"edit")      
      .action
        = print_to_pdf work_order_row        
      .action
        %a{:title=>"Notas",:class=>"new_note_link",:href=>"#"}
      -if work_order_row.can_send_message?(current_user)
        .action        
          %a{:title=>"Enviar Mensaje",:class=>"new_message",:href=>"#",:data =>{m: user_messages_path(work_order_row.car.user)}}
 
  %div{:id=>"wo-notes-#{work_order_row.id}",:class=>"wo_notes clear"}
    = render :partial =>"notes/note_form_np",:locals=>{:wo => work_order_row.id,:b=>nil,:c => nil,:notes =>work_order_row.notes,:id=>work_order_row.id}
  -if work_order_row.can_send_message?(current_user)
    .hide.message{:id => "messages_container_#{work_order_row.id}"}
      - if current_user.is_employee?
        = render :partial => "/messages/form_user",:locals => {user: work_order_row.car.user,:element_id => work_order_row.id,:msg_object => work_order_row}
      -else
        = render :partial => "/messages/form_user",:locals => {user: work_order_row.user,:element_id => work_order_row.id,:msg_object => work_order_row}