#all_cars
  %h1
    = vineta 
    Automóviles y Clientes
  .contentleft_s
    .contentleft
      =render :partial=>"search_car",:locals =>{:cars=>[],:table_id =>:sort_table}
    .contentleft
      = render "search_clients"      
    .contentleft
      .buttons
        = link_to_back root_path  
        - if current_user.company_id
          = link_to "Nuevo cliente", new_client_path,{:class =>"button"}
  
  #data.contentright
    - if @company_cars.size > 0
      =render :partial=>"cars",:locals =>{:cars=>@company_cars,:table_id =>:sort_table}
    - else
      = render 'shared/message', :msg =>"No hay ningún automóvil"
