-javascript "car_pagination"
-javascript "jquery.ba-url.min"
#all_cars
  .vertical_menu  
    = render "home/menu",:s=>:cars
    .box_bottom
      =render :partial=>"search_car",:locals =>{:cars=>[],:table_id =>:sort_table}
    -if current_user.company
      .box_bottom
        = render "search_clients"      
    - if current_user.company_id      
      .menu_actions
        = render "home/default_actions"
  .contentright_s
    #cars.data
      - if @company_cars.size > 0
        =render :partial=>"cars",:locals =>{:cars=>@company_cars,:table_id =>:sort_table}
      - else
        = render 'shared/message', :msg =>"No hay ningún automóvil"
    #clients.data.hide
    #company-selector
      = render 'company_selector'