-# javascript 'accounts'
.vertical_menu
  = render "home/menu"
  = render "home/default_actions"
.contentright_s
  .box_bottom
    %h1
      Nuevo Auto para 
      = @car.user.full_name
      = @car.user.company_name if @car.user.company_name
  = render :partial=>'car'
  