- javascript 'jquery.ba-url.min'
- javascript 'jquery.labelify'
- javascript 'car_pagination'

- javascript 'rank'
- javascript 'highcharts'
#contenttop
  #car_detail
    = render "car_detail"              
.vertical_menu
  = render "car_menu"    
.contentright_s
  #cars_work_orders.overflow
    = render "work_orders"
  #cars_future_events.overflow.hide
    = render "events"        
  #cars_report_graphics.hide
    = render 'graphics'          
  #company-selector
    = render 'company_selector'
