- stylesheets 'control_panel'
- javascript 'car_pagination'
- javascript 'rank'
#car_info
  %h1
    = vineta 
    Automóvil
  .contentleft
    %h1
      Información
      .brand_img
        %img{:src =>"/images/brands/#{@car.brand.name}.png",:width=> 100, :height=>100}
    %table.coltable
      %col.current
      %col
      %tr
        %td.header{:width=>"50%"} Dueño
        %td{:width=>"50%"}
          = h @car.user.full_name
      %tr  
        %td.header Año
        %td
          = h @car.year
      %tr
        %td.header Dominio
        %td
          = h @car.domain
      %tr  
        %td.header Km
        %td
          = h @car.km
      %tr
        %td.header Marca
        %td
          = h @car.brand.name
      %tr  
        %td.header Combustible
        %td
          = h @car.fuel
      %tr
        %td.header Modelo
        %td
          = h @car.model.name        
      %tr  
        %td.header Promedio Km Mensual
        %td
          = h @car.kmAverageMonthly
      %tr
        %td.header Total Consumido
        %td
          %strong
            = h number_to_currency @car.total_spend
      - if current_user.company
        %tr
          %td.header 
            Total Consumido en tu empresa
          %td
            %strong
              = h number_to_currency @car.total_spend(current_user.company.id) 
        
  
    = link_to_back
    = link_to image_tag('new.png'),new_workorder_path(:car_id =>@car),{:title=>"Nuevo Servicio"}
    -if (@car.user.id == current_user.id)
      = link_to image_tag('edit.png'),edit_car_path(@car),{:title=>"Modificar automóvil"}
          
  .contentright
    #cars_work_orders    
      = render "work_orders"
    #cars_future_events
      = render "events"
