- javascript 'jquery.ba-url.min'
- javascript 'jquery.labelify'
- javascript 'car_pagination'

- javascript 'rank'
- javascript 'highcharts'
#car_info
  %h1
    = vineta 
    Automóvil
  .contentleft
    = render "car_detail"
  .contentright
    #service-tabs
      %ul
        %li
          %a{:href => "#tabs-1"} Servicios Realizados
        %li
          %a{:href => "#tabs-2"} Futuros Servicios a Realizar
        %li
          %a{:href => "#tabs-3"} Reporte Gráfico
          
      #tabs-1
        #cars_work_orders.overflow
          = render "work_orders"
      #tabs-2
        #cars_future_events.overflow
          = render "events"        
      #tabs-3
        = render 'graphics'          
    #company-selector
      = render 'company_selector'
