%table.comboxtable
  %thead
    %tr
      %th{:colspan=>3} Material Nuevo
    %tr
      %th{:colspan=>3}
        %input{:id=>"new_material"}
        = link_to_function image_tag('add.png',:class=>:input_img,:title =>"Agregar Materiales"),"add_new_material_service_type()"
    %tr
      %th{:colspan=>3}
        Materiales Encontrados
        = link_to_function image_tag('add.png',:class=>"input_img",:style=>"margin-left:30px;",:title =>"Agregar Materiales"),"add_material_service_type()"
  - for material in @materials
    %tr.link
      %td{:width =>"10%"}
        = check_box :material_service_type,:id,{:id=>material.material_service_type_id,:class =>"checkbox"}
      %td{:width =>"70%"}
        = material.detail
      %td.number{:width =>"20%"}   
        = number_to_currency(material.price)
      %td
        %label{:id=>:service_type_id,:style=>"display:none"}
          = material.service_type_id
= will_paginate @materials,:params =>{:service_type_id =>@service_type_id,:detail=>@detail}
