%table.comboxtable
  %thead
    %tr
      %th{:colspan=>2}
        Materiales Encontrados
      %th
        = link_to_function image_tag('add.png',:class=>:input_img,:title =>"Agregar Materiales"),"add_material_service_type()"
  - for material in @materials
    %tr
      %td
        = check_box :material_service_type,:id,{:id=>material.material_service_type_id,:class =>"checkbox"}
      %td
        = material.detail
      %td.number    
        = number_to_currency(material.price)
      %td
        %label{:id=>:service_type_id,:style=>"display:none"}
          = material.service_type_id
= will_paginate @materials,:params =>{:service_type_id =>@service_type_id,:detail=>@detail}
