.material
  .material
    = link_to material.code, material
  .prov_code
    = material.prov_code
  .name
    = h material.name
  .brand
    = material.brand
  .provider
    = material.provider
  .actions
    %a.edit{:href => "#"}
    = link_to "", material, :confirm => '¿ Esta seguro que desea borrarlo ?', :method => :delete,:class =>"delete"