.vertical_menu
  = render "conf/menu"
  = render "search"
  = render "actions"
#materials_index.contentright_s
  .box_bottom
    %h1.left
      Listado Materiales
    %h2.right
      Cantidad:
      = @materials.count
  #materials
    = render :partial => "all_materials", :locals =>{materials: @materials}
