.vertical_menu
  = render "conf/menu"  
  .menu_actions.box_bottom
    %ul
      %li
        = link_to "Nuevo Material", new_material_path
.contentright_s
  .box_bottom
    %h1 
      = "Nuevo Material: #{current_user.headquarter.name}"
  = form_for(@material) do |f|
    = render 'shared/error_messages', :target => @material
    = render :partial =>"form",:locals => {f: f}
    .buttons_container
      = f.submit "Grabar",:class=>"button" 
      = link_to "Cancelar",materials_path