.vertical_menu
  = render "admin/menu"
  = render "actions"
.contentright_s
  .box_bottom
    %h1 
      = "Nuevo Material: #{current_user.headquarter.name}"
  = form_for(@material) do |f|
    = render 'shared/error_messages', :target => @material
    = render :partial =>"form",:locals => {f: f}
    .buttons_container
      = f.submit t("save"),:class=>"button" 
      = link_to t("cancel"),materials_path