-# javascript 'jquery.dataTables'
-# javascript 'sort.table'
-# stylesheets 'demo_page'
-# stylesheets 'demo_table'
.vertical_menu
  = render "admin/menu"  
  .menu_actions
    .box_bottom
      %ul
        %li
          = link_to "Nuevo Material", new_material_path   
        %li
          = link_to "Modificar",edit_material_path(@material)
.contentright_s
  #material_show
  .box_bottom
    %h1 Material
  .box_bottom
    %table.w
      %tr
        %td Código Proveedor
        %td
          = @material.prov_code
      %tr
        %td Código
        %td
          = @material.code
      %tr
        %td Nombre
        %td
          = @material.name
      %tr
        %td Marca
        %td
          = @material.brand
      %tr
        %td Proveedor
        %td
          = @material.provider
      %tr
        %td Cantidad de Servicios
        %td
          %strong
            =number_to_human(@material.total_services)
  .box_bottom
    %h1 Tipos de Servicios
  #servicestypes
    = render partial: 'service_types',:locals => {material: @material}
  .buttons_container
    = link_to "Cancelar", materials_path