-# javascript 'jquery.ba-url.min'
-# javascript 'jquery.labelify'
-# javascript 'car_pagination'
-# javascript "notes"
-# javascript 'rank'
-# javascript 'highcharts'
.vertical_menu  
  = render "car_menu"    
.contentright_s
  #all_cars
    #car_detail
      = render "car_detail"  
    #cars_work_orders.data
      = render "work_orders"
    #cars_future_events.hide.data
      = render "events"
    #car_budgets.data.hide.box_top
      = render "/budgets/budgets"      
    #cars_report_graphics.hide.data.box_top
      = render 'graphics'          
    #cars_alarms.data.hide
      = render 'alarms'
    #cars_messages.data.hide
      .box_bottom{:id =>"messages_container_#{@car.user.id}"}        
        /= render :partial =>'/messages/message',:collection => @messages  
        = render :partial => "/messages/form_user",:locals => {user: @car.user,:element_id => @car.user.id}
    - if @companies
      #company-selector.data.hide
        = render 'company_selector'
.hide
  = render "companies/gmap4rails"