#service_offers
  %p
    Estimado #{@user.full_name}:
    Las siguientes empresas le envian estas ofertas de servicios a realizar a su autómovil.
    %br
    Por favor seleccione la más conveniente.  
  %h3 Listado de Ofertas de Servicios
  #list{:style=>"margin:5px 5px 20px 5px"}
    %table{:style=>"width:90%;margin:0 auto"}    
      %tbody
        - for service in @service_offers
          %tr
            %td
              = link_to image_tag("company_logos/vg_logo.png"), company_url(service.company,:locale => I18n.locale),:target =>"_blank"
            %td
              = link_to service.title, service_offer_url(service,:locale => I18n.locale),:target =>"_blank"
            %td
              = service.comment
            %td{:style=>"text-align: right;"}
              = number_to_currency(service.final_price)
