%map_code
  = yield :scripts
#wrapper_footer
  = image_tag "logo_footer.png"
  %ul#navcopy.nav
    %li 
      = "Copyright #{Time.now.year}© Comunidad Box." 
      =t(".all")
    %li
      %a{:href => "#"}=t(".terms")
    %li
      %a{:href => "#"}=t(".policy")
  %ul#navmapa.nav    
    %li
      = link_to t(".contact"),new_contact_path
