%map_code
  = yield :scripts
#wrapper_footer
  = image_tag "logo_footer.png"
  %ul#navcopy.nav
    %li 
      = "Copyright #{Time.now.year}© Comunidad Box. Todos los derechos reservados"
    %li
      %a{:href => "#"} Términos y condiciones de uso
    %li
      %a{:href => "#"} Politica de privacidad
  %ul#navmapa.nav    
    %li
      = link_to "Contactenos",new_contact_path
