
-#-if user_signed_in?
-#  = company_id
-#  = get_companies.map(&:id)
#avatar_login
  - unless user_signed_in?
    %ul
      %li
        %h3
          = link_to t(".login"),new_user_session_path
      %li
        %h3
          = link_to "Regístrate",new_user_registration_path 
      %li
        %h3
          = link_to "Prestadores de Servicios", all_companies_path
      %li
        %h3
          = link_to "Ayuda", "#"                      
  -if user_signed_in? 
    %ul  
      %li
        %h3
          = link_to current_user.full_name ,edit_user_registration_path,:class =>"link_w"    
      -if company_id
        %li          
          #company_id.company_id.right
            %h3.link
              = get_company.name
              - if multiple_company?
                +
              - if current_user.get_companies.size > 1
                ="..."
    - c_ids = get_companies.map(&:id)
    -if current_user.get_companies.size > 1
      #all_companies.all_companies.hide
        
        %ul
          = form_tag set_company_home_index_path,:id=>:comp_form do |f|
            - current_user.get_companies.each do |c|          
              %li
                = check_box_tag 'company_ids[]', c.id,checked = (c_ids.include?(c.id)),:class=>"checkbox",:id=>"company_id_#{c.id}"
                %label.link{:for=>"company_id_#{c.id}"}
                  =c.name
            %li
              = check_box_tag "all_company","-1",checked = all_company?,:id=>"all_company_check"
              %label.link{:for=>"all_company_check"} Todos
    - if company_id
      .clear
        %ul  
          %li{:class=>"down_icon link",:id=>"popup_menu"}
            = image_tag("down.gif",:id=>"down_menu")
            #home_menu.menu.hide
              %ul
                - if current_user.is_super_admin
                  %li
                    = link_to "Configurción", conf_path
                - if current_user.is_administrator
                  %li
                    = link_to "Administración",admin_path    
                %li
                  = link_to "Salir", destroy_user_session_path
    -else      
      .clear
        %ul
          %li
            = link_to "Salir", destroy_user_session_path

            