#avatar_login
  - unless user_signed_in?
    %ul
      %li
        %h3
          = link_to t(".login"),new_user_session_path
      %li
        %h3
          = link_to "Regístrate",new_user_registration_path 
      %li{:class=>"down_icon link",:id=>"popup_menu"}
        = image_tag("down.gif",:id=>"down_menu")
        #home_menu.menu_nu.hide
          %ul
            %li              
              = link_to "Prestadores de Servicios", all_companies_path
            %li
              = link_to "Ayuda", "#"                      
  - if user_signed_in?  
    %ul  
      %li
        %h3
          = link_to current_user.full_name ,edit_user_registration_path,:class =>"link_w"    
      %li
        %h3
          = current_user.company.name if current_user.company
    .clear
      %ul  
        %li
          %h3
            = link_to "Inicio", root_path,:class =>"link_w",:id=>"home_link"
        %li{:class=>"down_icon link",:id=>"popup_menu"}
          = image_tag("down.gif",:id=>"down_menu")
          #home_menu.menu.hide
            %ul
              - if current_user.is_super_admin
                = link_to "Configurción", conf_path
              %li
                = link_to "Administración",admin_path    
              %li
                = link_to "Salir", destroy_user_session_path

            
