#wrapmenu
  #menu
    %ul.menu
      %li= link_to "Inicio", root_path
      %li= link_to "Prestador de Servicio", all_companies_path
      - if user_signed_in? && current_user.current_company
        %li
          %a{:href=>"#"} Mis Autos
          %ul#submenu
            %li 
              = link_to "Buscar Auto", cars_path
              - if current_user.is_administrator
                %li 
                  = link_to "Buscar Cliente", clients_path

      - if user_signed_in? && current_user.is_administrator        
        %li
          = link_to "Panel de control" , control_panels_path
                  
      - if user_signed_in? && current_user.is_administrator
        %li
          %a{:href=>"#"} Administración
          %ul#submenu
            %li 
              = link_to "Mis Servicios", service_types_companies_path
            %li
              = link_to "Servicios Realizados" , workorders_path
            %li
              = link_to "Panel de control" , control_panels_path
            %li
              = link_to "Listado de Filtros" , service_filters_path
            %li
              = link_to "Ofertas de Servicio" , service_offers_path
            %li
              = link_to "Ofertas Servicios Enviadas",car_service_offer_index_path
            %li
              = link_to "Lista de Precios", price_lists_path
            %li
              = link_to "Mis Empresas", companies_path
            %li
              = link_to "Mis Empleados", employees_path

      - if user_signed_in? && current_user.is_car_owner
        %li
          = link_to "Mis Autos", cars_path
  
      - if user_signed_in? && current_user.is_super_admin
        %li= link_to "Configuración", conf_path