!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:rel=>"shortcut icon",:href=>"/favicon.ico"}/
    = csrf_meta_tag
    %title Comunidad Box
    = javascript_include_tag 'jquery-1.5.1','jquery.ui.1.8.11','jquery.rails'
    = javascript_include_tag 'jquery.ui.datepicker-es','application','autocolumn.min'
    -#= javascript 'analytics'
    -#= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = stylesheet_link_tag 'combox','menu','jquery-ui-1.8.15.custom','user'
    = yield(:head)
    -#%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800", :rel => "stylesheet", :type => "text/css"}
    -#%link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}
    
  %body
    #header
      #logo
        #logologo
          %img{:align => "middle", :alt => "logo", :height => "84", :src => "/images/logo.png", :width => "246"}/
          = render "layouts/logininfo"
    =render "layouts/n_menu"
    #content
      = render "layouts/msg"
      = yield
    = render "/layouts/footer"
    -#= render "layouts/mediabar"
