!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href=>"/favicon.ico",:rel=>"shortcut icon"}/
    = csrf_meta_tag
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Comunidad Box
    = javascript_include_tag 'jquery-1.5.1','jquery.ui.1.8.11','jquery.rails'
    = javascript_include_tag 'jquery.ui.datepicker-es','application'
    = javascript 'analytics'
    = stylesheet_link_tag 'combox','menu'
    = yield(:head)
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}
  %body
    #header
      #logo
        #logologo
          %img{:align => "middle", :alt => "logo", :height => "84", :src => "images/logo.png", :width => "246"}/
          = render "layouts/logininfo"
    = render "layouts/n_menu"
    #content
      = render "layouts/msg"
      = yield
    = render "layouts/footer"
    -#= render "layouts/mediabar"
    