= render 'shared/error_messages', :target => @user
#personal_info.box_bottom
  %h3=t(".personal_info")
  %table.w
    %tbody
      = render 'users/user_row',:f => f
      %tr
        %td
          %label{ :for => "password" }=t(".password")
        %td
          = f.password_field :password,:class=>"input_medium"
      %tr
        %td
          =t(".password_confirmation")
        %td
          = f.password_field :password_confirmation,:class=>"input_medium"
  -if recaptcha
    .recpatcha
      #repatcha_tag
        = recaptcha_tags
-if (current_user == nil) || (!current_user.is_super_admin?)
  #user_data
    #car_info
      %h3=t(".information_car")
      =f.fields_for :vehicles do |c|
        = render 'users/car_fields',:f =>c
    #personal_address.box_bottom
      %h3=t(".personal_address")
      =f.fields_for :address do |a|
        = render 'users/user_address_fields', :f =>a
- unless current_user
  =f.fields_for :companies do |c|
    #company_data.hide
      = render 'companies/form', :f => c
  #autopartist_data.hide
    #personal_address.box_bottom
      %h3=t(".address")
      =f.fields_for :address do |a|
        = render 'users/user_address_fields', :f =>a

.buttons_container
  = f.submit t(".save"),:class=>"button"
  = link_to t(".cancel"),root_path

