= render 'shared/error_messages', :target => @user
#personal_info.box_bottom
  %h3
    Información Personal
  %table
    %tbody        
      = render 'users/user_row',:f => f
  -if recaptcha
    .recpatcha      
      #repatcha_tag
        = recaptcha_tags  
#user_data
  #car_info.box_bottom
    %h3
      Información de su auto
    =f.fields_for :cars do |c|
      = render 'users/car_fields',:f =>c
  #personal_address.box_bottom
    %h3
      Dirección Personal
    =f.fields_for :address do |a|
      = render 'users/user_address_fields', :f =>a
=f.fields_for :companies do |c|
  #company_data.hide
    = render 'companies/form', :f => c
.box_bottom      
  = f.submit "Grabar",:class=>"button"
    
- if user_signed_in?
  -if devise_mapping.recoverable? && controller_name != 'passwords'
    = link_to t(:forgot_your_password), new_password_path(resource_name)
    %br
  -if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to t(:not_receive_confirmation_instruction), new_confirmation_path(resource_name)
