- javascript 'accounts'
%h1
  = vineta 
  Modificar Usuario
= render 'shared/error_messages', :target => @user  
= form_for @user, :url => registration_path(resource_name), :html => { :method => :put } do |f|
  .contentleft
    -unless current_user.company
      %h1 ¿ Que tipo de usuario desea ser ?
      = f.radio_button :type ,"fu",:checked => true,:class=>:radio
      = f.label :type_fu, "Usuario Final",:class =>"link"
      %br
      = f.radio_button :type, "sp",:class=>:radio
      = f.label :type_sp, "Prestado de Servicio",:class =>"link"
    %ul.usr_menu
      %li.usr_menu_selected.usr_menu_link
        %a{:href=>"#",:id=>"0"} 
          Información Personal
      %li#li_info_ausr.usr_menu_link
        %a{:href=>"#",:id=>"1"}
          Dirección Personal
      %li#li_info_sc.usr_menu_link
        %a{:href=>"#",:id=>"2"}
          Información de Prestador de Servicios
      %li#li_info_asc.usr_menu_link
        %a{:href=>"#",:id=>"3"} 
          Dirección de Prestado de Servicios
  .contentright   
    #user_data
      %h3
        %a{:href=>"#"}Información Personal
      .personal_info
        %table
          %tbody
            = render 'users/user_edit',:f => f
      %h3#h_ausr_inf
        %a{:href=>"#"}Direccion Personal
      .personal_address      
        =f.fields_for :address do |a|
          = render 'users/user_address_fields', :f =>a
      -unless current_user.company
        =f.fields_for :companies do |c|
          %h3#h_info_sc
            %a{:href=>"#"}Información del Prestador de Servicio
          #d_info_sc.company_info
            = render 'companies/form', :f => c
          %h3#h_address_sc
            %a{:href=>"#"}Direccion del Prestador de Servicio
          #d_address_sc.company_address
            = c.fields_for :address do |ad|
              = render 'companies/company_address_fields', :ad => ad
    #box
      = f.submit "Actualizar",:class =>"btn"
    .clear
      %table
        %tr
          %td
            Insatisfecho ?
        %tr
          %td
            #{link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "Esta Uds. seguro?", :method => :delete}. 
        %tr
          %td    
            = render :partial => "devise/shared/links"