- javascript 'accounts'
%h1
  = vineta 
  Modificar Usuario
= form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|
  .contentleft_u
    = render :partial => 'users/edit',:locals  =>{:f => f}
  .contentright_u
    .search_map  
      =f.fields_for :address do |a|    
        = render :partial =>'users/user_address_fields', :locals  =>{:f => a}
    = f.submit "Actualizar",:class =>"btn"
    %br
    %table
      %tr
        %td
          Insatisfecho ? #{link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "Esta Uds. seguro?", :method => :delete}.
      %tr
        %td    
          = render :partial => "devise/shared/links"